{# /src/Lci/BoilerBoxBundle/Resources/views/Utils/affiche_logs.html.twig #}
{% extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" %}

{% block liens_css %}
    {{ parent() }}
    <style>
    .flex-table__tbody tr{
        cursor: initial;
    }
    </style>
{% endblock liens_css %}


{% block fos_user_content %}
<header class="sub-header sub-header--blue">
    <h1 class="sub-header__title">Utilitaires</h1>
</header>

{% if message is defined %}
    <h2>{{ message }}</h2>
{% endif %}

{% if tab_fichier is defined %}
    <main class="main-box main-box--table">
        <h1 class="main-box__title main-box--table__title">Logs de connexion</h1>
        <div class="main-box__content">
            <table class="flex-table">
                <thead class="flex-table__thead">
                    <tr class="flex-table__row">
                        <th>Horaire</th>
                        <th>Information</th>
                        <th>Utilisateur</th>
                    </tr>
                </thead>
                <tbody class="flex-table__tbody">
                    {% for ligne in tab_fichier %}
                    <tr class="flex-table__row"
                        {% if ligne['connexion'] == 'Tentative de connexion' %}style='color:#FF2400;'{% endif %}
                        {% if ligne['connexion'] == 'Connexion' %}style='color:#4CBB17;'{% endif %}
                        {% if ligne['connexion'] == 'Déconnexion' %}style='color:#FF8C00;'
                        {% endif %}
                    > 
                        <td class='zone_texte_moyen'>Le {{ ligne['date'] }}</td>
                        <td class='zone_texte_moyen'>{{ ligne['connexion'] }}</td>
                        <td class='zone_texte_geant'>{{ ligne['utilisateur'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="main-box__btn main-box--table__btn">
                <a href="{{ path('lci_utils_homepage') }}" class="btn btn--second">Retour</a>
            </div>
        </div>
    </main>
{% endif %}
{% endblock fos_user_content %}

{% block javascript %}
<script type='text/javascript'>
    // Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
        $('.side-nav .parametres').addClass('active');
    });
</script>
{% endblock javascript %}
