{# src/Lci/BoilerBoxBundle/Resources/views/Utils/utils_access.html.twig #}
{% extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" %}

{% block liens_css %}
	{{ parent() }}
	<style>
		main{
			padding: 0 32px;
		}
		.main-box{
			margin: 16px 0;
		}
		.main-box .green::before{background: #4CBB17;}
		.main-box .orange::before{background: #FF8C00;}
		.main-box .red::before{background: #FF2400;}
		.main-box .blue::before{background: #0096FF;}
		.main-box .grey::before{background: #C4C4C4;}
		.flex-table th, .flex-table td{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.flex-table tr th{
			padding: 0 3px;
			font-size: 9pt;
		}
		.flex-table tr{
			cursor: initial;
		}
		.flex-table__tbody{
			height: 46vh;
		}
		.flex-table tr td{
			padding: 3px;
			font-size: 12pt;
		}
		.flex-table .mini{
			width: calc(15% - 6px);
		}
		.flex-table .small{
			width: calc(20% - 6px);
		}
		.flex-table .medium{
			width: calc(50% - 6px);
		}
		.flex-table .wide{
			width: calc(100% - 6px);
		}
		#tableau_detail_disponibilite{
			max-width: 450px;
		}
		#informations_disponibilite{
			max-height: 400px;
			overflow: auto;
			padding: 0 48px 48px 48px;
			text-align: justify;
		}
	</style>
{% endblock liens_css %}

{% block fos_user_content %}
<header class="sub-header sub-header--blue">
	<h1 class="sub-header__title">Utilitaires</h1>
</header>
<main class="flex flex--row flex--wrap">
	<section class='{# listing #}main-box main-box--table' style="margin-right:24px;">
		{# <div class='listing2'> #}
		<h1 class="main-box__title main-box--table__title">Disponibilité des Sites</h1>
		<h2 class="main-box__sub-title main-box--table__sub-title">Rafraichissement approximatif : Un site (~{{ delais_netcat }}s) - La page (~{{ delais_netcat * entities_sites|length }}s)</h2>
		<div class='{# formulaire_liste #}main-box__content'>
			<form id='form_access' class="form" name='form_access' method='post' action="{{ path('lci_utils_validChoice') }}" data-url={{ path('lci_ajax_refreshASiteStatut') }}>
			<input type='hidden' id='choixUtilitaire' name='choixUtilitaire' value='refreshAccess' />
				<table class='{# tab_liste tableau_listing #}flex-table'>
					<thead class="flex-table__thead">
						<tr class="flex-table__row">
							<th class='mini txt--center'>Rafraichir</th>
							<th class='small txt--center'>Disponibilité</th>
							<th class='small'>Code Affaire</th>
							<th class='medium'>Site</th>
							<th class='medium'>Date du test</th>
						</tr>
					</thead>
					<tbody class="flex-table__tbody">
						{% for entity_site in entities_sites %}
							{% if entity_site.siteConnexion %}
								{% if not (entity_site.siteConnexion.url|lower matches '/supervision/') %}
									<tr class="flex-table__row">	
										<td class='mini txt--center'>
											<input type='radio' name='refreshAccessId' value='{{ entity_site.getId }}' onClick="refreshSiteStatut('{{ entity_site.getId }}', true);" />
										</td>
										<td class='small txt--center feuTricolor'>
											<div data-identifiant={{ entity_site.getId }} id={{ entity_site.getId }} class=
												{% if entity_site.siteConnexion.disponibilite == '0' %}"ok green"
													{% elseif entity_site.siteConnexion.disponibilite ==  '1' %}"mid orange"
													{% elseif entity_site.siteConnexion.disponibilite ==  '2' %}"nok red"
													{% elseif entity_site.siteConnexion.disponibilite ==  '3' %}"ecatcher blue"
													{% elseif entity_site.siteConnexion.disponibilite ==  '4' %}"inaccessible grey"
												{% endif %}>
											</div>
										</td>
										<td class='small'>{{ entity_site.getAffaire }}</td>
										<td class='medium'>
											<a href='#' onclick="atteindreSite('{{ entity_site.siteConnexion.url }}');return false;">{{ entity_site.getIntitule }}</a>
										</td>
										<td data-date={{ entity_site.getId }} class='medium'>
											{% if not entity_site.getDateAccess is empty %}
												{{ entity_site.getDateAccess | date("d / M / Y - H:i:s") }}
											{% endif %}
										</td>
									</tr>
								{% endif %}
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</form>
			<form method="post" name='form_getSite' id='form_getSite'>
				<input type="hidden" id="remember_me" name="_remember_me" value="on" />
				<input type="hidden" id="_username"   name="_username"    value="" />
				<input type="hidden" id="_password"   name="_password"    value="" />
				<input type="hidden" id="_label" 	  name="_label" 	  value="{{ label }}" />
			</form>
		</div>
		<p class="main-box--table__legend__desc"></p>
		<div class="main-box--table__legend">
			<div class="green">Connexion O.K</div>
			<div class="red">Connexion K.O</div>
			<div class="blue">Accessible seulement par eCatcher</div>
			<div class="grey">Inaccessible depuis boiler-box.fr</div>
		</div>
		<div class="main-box__btn main-box--table__btn">
			<a href="{{ path('lci_utils_homepage') }}" {# onClick="attente(); redirection('utilitaires');"#} class="btn_menu btn btn--second" >Retour</a>
			<p onClick="refreshAllAccess();" class="btn_menu btn btn--main">Rafraîchir</p>
		</div>
	</section>


	<section id='tableau_detail_disponibilite' class="main-box main-box--table">
		<h1 class="main-box__title main-box--table__title">Détails</h1>
		<div class='detail main-box__content'>
			<div id='informations_disponibilite'></div>
		</div>
	</section>
</main>




<script type='text/javascript'>
	// Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .parametres').addClass('active');
    });
	function atteindreSite(siteUrl) {
		var urlForm = siteUrl+'Symfony/web/app.php/login_check';
		$('#form_getSite').attr('action',urlForm);
		var xhr = getXHR();
		xhr.open("POST","{{ path('lci_boilerbox_getUserLog') }}",false);
		xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		xhr.send();
		var tabReponse = xhr.responseText.split(';');
		$('#_username').val(tabReponse[0]);
		$('#_password').val(tabReponse[1]);
		$('#form_getSite').submit();
	}

	function refreshAllAccess() {
        $("div[data-identifiant]").each(function(){
            var id_site =  $(this).attr('data-identifiant');
			refreshSiteStatut(id_site, false)
        });
	}


	function refreshSiteStatut(id_site, details) {
		var url_refresh = $('#form_access').data('url');
        $.ajax({
            url: url_refresh,
            type: 'POST',
            data: 'idSite=' + id_site,
            success: function(code_html, statut){
                /* Il n'y a qu'une seule valeur retournée */
                $.each(code_html, function(index_id, tab_retour) {
                    $.each(tab_retour, function(index_statut, value) {
                        if (index_statut == 'statut') {
                            $("div[data-identifiant='" + id_site + "']").attr('class', value);
                        }
                        if (index_statut == 'date_test') {
                            $("td[data-date='" + id_site + "']").html(value);
                        }
						if (index_statut == 'detail') {
							if (details == true) {
								$('#informations_disponibilite').html(value);
							}
						}
                    });
                });
            }
        });
	}
</script>
{% endblock fos_user_content %}
