{# src/Lci/BoilerBoxBundle/Resources/views/email_cloture_ticket.html.twig #}
{# Email de cloture d'un ticket d'incident #}

<!DOCTYPE html>
<html>
<head></head>

<body>
<div id='contenu_email'>
	<h1 style='color:green; font-size:20px; margin-bottom:-10px;'>Cloture d'incident pour l'affaire {{ code_affaire }} ({{ nom_site }})</h1>
	<p style='line-height: 32px;'>
		Bonjour, <br />
		L'incident {{ numero_ticket }} est cloturé<br />
		<label>Détail de cloture</label>
		<div>
			{{ commentaire }}
		</div>
	<p>
	<br /><br /><br />
	<p>
	    <div>IMPORTANT NOTICE</div>
	    <div>*** Ce message est généré automatiquement. Merci de ne pas y répondre.***</div>
	    <div>Assistance IBC</div>
	</p>
</div>
<img src="{{ image_link }}" alt='IPC' align='left' width="400" />

</body>
</html>

