{# src/Lci/BoilerBoxBundle/Resources/views/secondLayout.html.twig #}
{% extends "::firstLayout.html.twig" %}

{% block liens_url %}
{{ parent() }}

<input type='hidden' name='liens' id='liens' 
    data-ajouterEquipementFromAccueil="{{ path('lci_register_equipement', {'provenance':'accueil'}) }}" 
    data-ajouterEquipementFromTicket="{{ path('lci_register_equipement', {'provenance':'ticket'}) }}" 
    data-ajouterModuleFromAccueil="{{ path('lci_register_module', { 'provenance':'accueil' }) }}" 
    data-ajouterModuleFromTicket="{{ path('lci_register_module', { 'provenance':'ticket' }) }}"
    data-ajouterModuleFromParc="{{ path('lci_register_module', { 'provenance':'parc' }) }}"
    data-retourListeProblemes = "{{ path('lci_tri_recherche_problemes') }}" 
    data-signalerProblemeTechnique="{{ path('lci_register_problemeTechnique') }}"
    data-afficherProblemesAdmin="{{ path('lci_affiche_problemes') }}"
    data-afficherProblemes="{{ path('lci_problemes_affectes') }}"
    data-affinerRecherche="{{ path('lci_recherche_problemes') }}"
    data-export="{{ path('lci_export_liste_problemes') }}"
    data-retourAccueil="{{ path('lci_boilerbox_index') }}"
    data-parcModules="{{ path('lci_gestion_modules') }}"
    data-parcEquipements="{{ path('lci_gestion_equipements') }}"
    data-retourMenu="{{ path('lci_gestion_parc') }}" 
/>  
{% endblock liens_url %} 



{% block liens_menu %}
        <div>
                <a href="{{ path('lci_boilerbox_index') }}" title='Retour accueil'>Accueil </a>
        </div>
{% endblock liens_menu %}



{% block body %}
        {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
{% endblock %}
