<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="L'Interface de supervision des Chaudières Industrielles">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% block boilerBoxCSS %}
        <link rel="stylesheet" href="{{ asset('bundles/ipcprog/css/bbCloud.css') }}" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    {% endblock boilerBoxCSS %}

	<title>DEV MICA - {% block title %}{{ affaire }} - {% endblock title %}</title>
</head>

<body>
	<nav id="mainMenu">
        <div id="left">
            <div id="containerMenuBurger">
                <div id="menuBurger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <a href="{{ path("lci_boilerbox_index") }}" id="lienWatermark">
                <img class="logoIBC" src="{{ asset('bundles/ipcprog/images/img/logoIBC.svg') }}" alt="Logo IBC">
                <p class="baselineLogo">
                    <span class="initialeBaseline">I</span>NDUSTRIAL<br>
                    <span class="initialeBaseline">B</span>OILER<br>
                    <span class="initialeBaseline">C</span>ONTROL<br>
                </p>
            </a>
        </div>

        <div id="right">
            <a id="iconeParametre" class="mainNavButton" href=""> 
                <img src="{{ asset('bundles/ipcprog/images/img/nav/parametre.svg') }}" alt="icône Paramètre" class="icones">
                <p id="pParam" class="popUp">Paramètres</p>
            </a>
            <a id="iconeLocalisation" class="mainNavButton spaceRoundedButton" href="https://www.google.com/maps/d/u/0/embed?mid=1HvyRmqnv2__T4xk8EDwLBcZoulMvx7C1" >
                <img src="{{ asset('bundles/ipcprog/images/img/nav/localisation.svg') }}" alt="icône localisation des sites" class="icones">
                <p id="pLocalisation" class="popUp">Localisation</p>
            </a>
            <a href="" id="btnUnidentified" class="mainNavButton">
                <img src="{{ asset('bundles/ipcprog/images/img/nav/unidentified.svg') }}" alt="icône mon compte" id="iconeUnidentified" class="icones">
            </a>
        </div>
    </nav>

    <nav id="menuLateral">
        <div id="scrollNav">
            <ul id="commonNav">
                <li>
                    <a href="" class="linkNavLat">
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navAffEtMod.svg') }}" alt="icône affaires et modules" class="imgNavLat">
                        <p class="nameNavLat">sites</p>
                    </a>
                </li>
                <li>
                    <a href="" class="linkNavLat">
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navLocalisation.svg') }}" alt="icône localisation" class="imgNavLat">
                        <p class="nameNavLat">localisation</p>
                    </a>
                </li>
                <li>
                    <a href="" class="linkNavLat">
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navProbTech.svg') }}" alt="icône problèmes techniques" class="imgNavLat">
                        <p class="nameNavLat">problèmes techniques</p>
                    </a>
                </li>
                <li>
                    <a href="" class="linkNavLat">
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navBonsAttach.svg') }}" alt="icône bons d'attachements" class="imgNavLat">
                        <p class="nameNavLat">bons d'attachement</p>
                    </a>
                </li>
            </ul>

            <ul id="account">
                <li>
                    <a href="" class="linkNavLat">
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navAccount.svg') }}" alt="icône mon compte" class="imgNavLat">
                        <p class="nameNavLat">mon compte</p>
                    </a>
                </li>
            </ul>
        </div>
        <ul id="menuLateralAffaire">
            <li>
                <a href="" class="linkNavLat">
                    <img src="{{ asset('bundles/ipcprog/images/img/nav/navEtat.svg') }}" alt="icône affaires et modules" class="imgNavLat">
                    <p class="nameNavLat">état</p>
                </a>
            </li>
            <li>
                <a href="" class="linkNavLat">
                    <img src="{{ asset('bundles/ipcprog/images/img/nav/navBruleurs.svg') }}" alt="icône localisation" class="imgNavLat">
                    <p class="nameNavLat">brûleurs</p>
                </a>
            </li>
            <li>
                <a href="" class="linkNavLat">
                    <img src="{{ asset('bundles/ipcprog/images/img/nav/navListings.svg') }}" alt="icône problèmes techniques" class="imgNavLat">
                    <p class="nameNavLat">listings</p>
                </a>
            </li>
            <li>
                <a href="" class="linkNavLat">
                    <img src="{{ asset('bundles/ipcprog/images/img/nav/navCourbes.svg') }}" alt="icône bons d'attachements" class="imgNavLat">
                    <p class="nameNavLat">courbes</p>
                </a>
            </li>
            <li>
                <a href="" class="linkNavLat">
                    <img src="{{ asset('bundles/ipcprog/images/img/nav/navRapports.svg') }}" alt="icône mon compte" class="imgNavLat">
                    <p class="nameNavLat">rapports</p>
                </a>
            </li>
            <li>
                <a href="" class="linkNavLat">
                    <img src="{{ asset('bundles/ipcprog/images/img/nav/navParam.svg') }}" alt="icône Paramètres" class="imgNavLat">
                    <p class="nameNavLat">paramètres</p>
                </a>
            </li>
         </ul>
         <ul id="disconnect">
            <li>
                <a href="" class="linkNavLat">
                    <img src="{{ asset('bundles/ipcprog/images/img/nav/navDisconnect.svg') }}" alt="icône Paramètres" class="imgNavLat">
                    <p class="nameNavLat disconnect">déconnexion</p>
                </a>
            </li>
        </ul>
    </nav>
        

    <div id="cartonBlack"></div>

    <nav id="affaire">
        <div id="leftAffaire">
            <div id="idAffaire">
                <p id="numberAffaire">C778</p>
                <p id="nameAffaire">: Renault Sandouville Ch2</p>
            </div>
        </div>

        <nav id="navAffaire">
            <ul id="subnav">
                <li>
                    <a href="" class="linkNav">
                        <span class="popUpNav">état</span>
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navEtat.svg') }}" alt="icône État" class="imgNav">
                        <p class="nameNav">état</p>
                    </a>
                </li>
                <li>
                    <a href="" class="linkNav">
                        <span class="popUpNav">brûleurs</span>
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navBruleurs.svg') }}" alt="icône Brûleurs" class="imgNav">
                        <p class="nameNav">brûleurs</p>
                    </a>
                </li>
                <li>
                    <a href="" class="linkNav">
                        <span class="popUpNav">listings</span>
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navListings.svg') }}" alt="icône Listings" class="imgNav">
                        <p class="nameNav">listings</p>
                    </a>
                </li>
                <li>
                    <a href="" class="linkNav">
                        <span class="popUpNav">courbes</span>
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navCourbes.svg') }}" alt="icône Courbes" class="imgNav">
                        <p class="nameNav">courbes</p>
                    </a>
                </li>
                <li>
                    <a href="" class="linkNav">
                        <span class="popUpNav">rapports</span>
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navRapports.svg') }}" alt="icône Rapports" class="imgNav">
                        <p class="nameNav">rapports</p>
                    </a>
                </li>
                <li>
                    <a href="" class="linkNav">
                        <span class="popUpNav">paramètres</span>
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/navParam.svg') }}" alt="icône Paramètres" class="imgNav">
                        <p class="nameNav">param.</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="rightAffaire">
                <div id="setDate">
                    <div id="setStart">
                    	<p>
                            du <span id="" class="heureDate">00/00/0000</span>
                            à <span id="" class="heureDate">00:00</span>
                        </p>
                    </div>
                    <div id="setEnd">
                    	<p>
                            au <span id="" class="heureDate">00/00/0000</span>
                            à <span id="" class="heureDate">00:00</span>
                        </p>
                    </div>
                </div>
                <div id="horodatage">
                    <span class="linkHorodatage">
                        <span class="popUp">Horodatage</span>
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/horodatage.svg') }}" alt="icône Horodatage" class="iconeHorodatage">
                    </span>
                </div>

                <div id="addSession">
                    <input type="text" id="inputSession" class="inputHorodatage" value="session 1" size="6" maxlength="11">
                </div>
                <div id="session">
                    <span class="linkSession">
                        <img src="{{ asset('bundles/ipcprog/images/img/nav/session.svg') }}" alt="icône Horodatage" class="iconeSession">
                        <span class="popUp">Ajouter Session</span>
                    </span>
                </div>
        </div>
    </nav>

    <div id="fonduBlack"></div>

    <div id="setDateMobile">
    	<div id="setPeriode">
        	<h1>définir période</h1>
        </div>
        <div id="periodeBlock">
        	<p>du <span id="" class="heureDate">00/00/0000</span> à <span id="" class="heureDate">00:00</span></p>
        	<p>au <span id="" class="heureDate">00/00/0000</span> à <span id="" class="heureDate">00:00</span></p>
        </div>
    </div>

    <div id="popUpDate">
            <h1>définir période</h1>
            <label for="dateDebut">Date de début</label>
            <input type="date" id="dateDebut">
            <label for="heureDebut">Heure de début</label>
            <input type="time">
            <label for="dateFin">Date de fin</label>
            <input type="date" id="dateFin">
            <label for="heureDebut">Heure de fin</label>
            <input type="time">
            <p id="wrongDate"class="missDate">Veuillez renseigner une heure valide.</br>Veuillez renseigner une date valide.</p>
            <p class="eyeCatcher">valider</p>
    </div>
    
    {% block mainBody %}
    {% endblock mainBody%}

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="js/jquery-ui.datepicker-fr.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


    <script type="text/javascript">
        let actioner = document.getElementById('containerMenuBurger');
        let nav = document.getElementById('menuLateral');
        let fondu = document.getElementById('cartonBlack');
        let actionerDateMobile = document.getElementById('setDateMobile');
        actioner.onclick = function showMenuLateral(){      // Permet d'afficher ou non le menu latéral et le fond noir transparent au clic du menu burger
            if (nav.style.display === "block") {
                nav.style.display = "none";
                fondu.style.display = "none";
            } else {
                nav.style.display = "block";
                fondu.style.display = "block";
            }
        };
        fondu.onclick = function hideMenuLateral() {       // Permet d'enlever le menu latéral au clic du fond noir transparent
            if (fondu.style.display === "block") {
                fondu.style.display = "none";
                nav.style.display = "none";
            } else {
                fondu.style.display = "block";
                nav.style.display = "block";
            }
        };
        let actionerDate = document.getElementById('horodatage');
        let actionerSession = document.getElementById('session');
        let addSession = document.getElementById('addSession');
        let popUpDate = document.getElementById('popUpDate');
        let fonduDate = document.getElementById('fonduBlack');
        actionerDate.onclick = function showInputDate() {       //Affiche ou cache la popUp Date au clic du bouton "calendrier"
            if (popUpDate.style.display === "flex") {
                popUpDate.style.display = "none";
                fonduDate.style.display = "none";
            } else {
                popUpDate.style.display = "flex";
                fonduDate.style.display = "block";
            }
        };
        actionerSession.onclick = function showInputSession() { 	//Affiche la liste déroulante des sessions au clic de l'icone Session
            if (addSession.style.visibility === "visible"){
                addSession.style.visibility ="hidden";
            } else {
                 addSession.style.visibility = "visible";
            }
        };
        actionerDateMobile.onclick = function showPopUpDate (){		//Permet d'afficher la pop up pour renseigner la date et l'heure au clic du bandeau gris sur mobile
        	if (popUpDate.style.display === "flex"){
        		popUpDate.style.display = "none";
        		fonduDate.style.display = "none";
        	} else {
        		popUpDate.style.display = "flex";
        		fonduDate.style.display = "block";
        	}
        };
        fonduDate.onclick = function hidePopUpDate() {       // Permet d'enlever la popUp Date au clic du fond noir transparent
            if (fonduDate.style.display === "block") {
                fonduDate.style.display = "none";
                popUpDate.style.display = "none";
            } else {
                fonduDate.style.display = "block";
                popUpDate.style.display = "block";
            }
        };



    </script>
    {% block javascript %}
    {% endblock javascript %}
    
</body>
</html>
