<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="L'Interface de supervision des Chaudières Industrielles">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    {% block boilerBoxCSS %}
        <link rel="icon" type="image/png" href="{{ asset('bundles/lciboilerbox/images/img/favicon.png') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/bbCloud.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/style.css') }}" />
        <style>
            html{
                background: url("{{ asset('bundles/lciboilerbox/images/img/fondEcran-Dekstop.jpg') }}") no-repeat center fixed;
                -webkit-background-size: cover;
                background-size: cover;
            }
            @media screen and (max-width: 920px){
                html{
                    background: #f2f2f2;
                }
            }
        </style>
    {% endblock boilerBoxCSS %}
    
	
	<script src="{{ asset('bundles/lciboilerbox/js/jquery.js') }}"></script>

	<title>{% block title %}BOILERBOX {% endblock title %}</title>
</head>

<body>
{% block mainBandeau %}
	 <header class="header">
        <nav>
            <a class="watermark" href="{{ path('fos_user_security_logout') }}">
                <img class="watermark__logo" src="{{ asset('bundles/lciboilerbox/images/img/logoIBC.svg') }}" alt="Logo IBC">
                <p class="watermark__baseline">
                    <span>INDUSTRIAL</span>
                    <span>BOILER</span>
                    <span>CONTROL</span>
                </p>
            </a>
        </nav>

        <nav>
            {# <a class="header__nav tooltip-wrapper" href="https://www.google.com/maps/d/embed?mid=1y0NIi4DoQQCO4sDyfxOMwqQ052U3X2TB" >
                <img src="{{ asset('bundles/lciboilerbox/images/img/nav/localisation.svg') }}" alt="icône localisation des sites">
                <p class="tooltip">Localisation</p>
            </a> #}
            <a href="{{ path('fos_user_security_login') }}" class="header__nav header__nav--unidentified">
                <img src="{{ asset('bundles/lciboilerbox/images/img/nav/unidentified.svg') }}" alt="icône mon compte">
            </a>
        </nav>
    </header>


    <div id='popUpError' class='message-box cacher'>
        <div class="close-cross close-cross--light" onClick="clotureMessageErreur();"></div>
        {% if app.session.flashbag.peek('erreur') | length  > 0 %}
            <h1 class="message-box__title message-box__title--error">Erreur rencontrée</h1>
            <div class="message-box__content">
                <img src="{{ asset('bundles/lciboilerbox/images/img/warningError.svg') }}" alt="icône Erreur">
                <p>
                    {% for message in app.session.flashbag.get('erreur') %}
                        {{ message|raw }}<br /><br />
                    {% endfor %}
                </p>
            </div>
        {% endif %}
        {% if  app.session.flashbag.peek('info') | length  > 0 %}
            <h1 class="message-box__title">Informations</h1>
            <div class="message-box__content">
                <img src="{{ asset('bundles/lciboilerbox/images/img/warningInfo.svg') }}" alt="icône Info">
                <p>
                    {% for message in app.session.flashbag.get('info') %}
                        {{ message|raw }}<br /><br />
                    {% endfor %}
                </p>
            </div>
        {% endif %}
        <p class="btn btn--main" onClick="clotureMessageErreur();">compris</p>
    </div>

    <div id="cartonBlack" class="cacher"></div>

{% endblock mainBandeau %}

{% block subBandeau %}
{% endblock subBandeau %}


{% block mainBody %}
{% endblock mainBody%}



<script type='text/javascript'>
	$(document).ready(function() 
	{
		if(typeof($('#popUpError .message-box__content p').html()) != 'undefined') 
		{
			$('#popUpError').removeClass('cacher')
			$('#cartonBlack').removeClass('cacher')
		}
	});

	function clotureMessageErreur() {
		$('#popUpError').addClass('cacher');
		$('#cartonBlack').addClass('cacher');
	}
</script>

{% block javascript %}
{% endblock javascript %}

</body>
</html>
