<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="L'Interface de supervision des Chaudières Industrielles">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0a71b3">
	
    {% block boilerBoxCSS %}
        <link rel="icon" type="image/png" href="{{ asset('bundles/lciboilerbox/images/img/favicon.png') }}" />

        <link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/bbCloud.css') }}" />
    {% endblock boilerBoxCSS %}
	<link rel="stylesheet" type="text/css"  href="{{ asset('bundles/lciboilerbox/css/jquery-ui-1.12.1.css') }}" />

	<title> {% block title %}Boiler-Box Cloud{% endblock title %}</title>
</head>

<body>
	<header class="header">
        <nav>
            <div class="burger" onclick="showMenuLateral()">
                <span></span>
            </div>
            <a class="watermark" href="{{ path("lci_boilerbox_index") }}">
                <img class="watermark__logo" src="{{ asset('bundles/lciboilerbox/images/img/logoIBC.svg') }}" alt="Logo IBC">
                <p class="watermark__baseline">
                    <span>INDUSTRIAL</span>
                    <span>BOILER</span>
                    <span>CONTROL</span>
                    <span class="version">{% include "form/version_boilerbox.html.twig" %}</span>
                </p>
            </a>
        </nav>

        <nav>
			{% if is_granted('ROLE_ADMIN') %}
            	<a class="header__nav tooltip-wrapper" href='{{ path("lci_gestion_admin") }}'> 
            	    <img src="{{ asset('bundles/lciboilerbox/images/img/nav/parametre.svg') }}" alt="icône Paramètre" class="header__nav__img">
            	    <span class="tooltip">Paramètres</span>
            	</a>
			{% endif %}
            {# <a class="header__nav tooltip-wrapper" href="https://www.google.com/maps/d/u/0/embed?mid=1HvyRmqnv2__T4xk8EDwLBcZoulMvx7C1" >
                <img src="{{ asset('bundles/lciboilerbox/images/img/nav/localisation.svg') }}" alt="icône localisation des sites" class="header__nav__img">
                <span class="tooltip">Localisation</span>
            </a> #}
			<span class="header__nav header__nav--account {{ app.user.couleur }}">
                <span>{{ app.user.label | slice(0,1) }}</span>
            </span>
        </nav>
    </header>

    <div class="logged cacher">
        <div></div>
        <div class="logged__infos">
            <span class="logged__infos__chip {{ app.user.couleur }}">
                <span class="">{{ app.user.label | slice(0,1) | lower }}</span>
            </span>
            <div class="logged__infos__name">
                <p>{{ app.user.username }}</p>
                <p>{{ app.user.email }}</p>
            </div>
        </div>
        {% if is_granted('ROLE_TECHNICIEN') %}
    	    <div class="logged__mode">
    	        <div id="choixPrivePublicPopUpId" class="row-wrap">
    	            <label class="switch switch--small" data-href="">
    	                <input type="checkbox" id="modePrivePublic" onClick="$Refresh_page=true; switchModePrivateTo();" {% if app.user.modePrive %}checked{% endif %}>
    	                <span></span>
    	            </label>
    				{% if app.user.modePrive == false %}
    	               	<p>Mode Public</p>
    				{% else %}
    					<p>Mode Privé</p>
    				{% endif %}
    	        </div>
    	    </div>
        {% endif %}
        <ul class="logged__links">
            <li><a href="{{ path('lci_update_user_own', {'idUtilisateur': app.user.id }) }}">mon compte</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">se déconnecter</a></li>
        </ul>
    </div>
    
    <nav class="side-nav notToBePrinted">
        <div class="side-nav__content scroll">
            <ul>
                <li class="index"><a href="{{ path("lci_boilerbox_index")}}">
                    <i></i><span>Accueil</span>
                </a></li>
                <li class="account"><a href="{{ path('lci_update_user_own', {'idUtilisateur': app.user.id }) }}">
                    <i></i><span>Mon compte</span>
                </a></li>
                {% if is_granted('ROLE_TECHNICIEN') %}
                    <li class="parc-tech js-button-wrapper"><a href="{{ path('lci_gestion_parc') }}">
                        <i></i><span>Gestion parc technique</span></a>
                        <button><span></span></button>
                    </li>
                    <ul class="side-nav__sub-list">
                        <li class="add-module"><a href="{{ path('lci_register_module', {'provenance':'accueil' }) }}">
                            <i></i><span>Ajouter module</span>
                        </a></li>
                        <li class="prob-tech"><a href="{{ path('lci_register_problemeTechnique') }}">
                            <i></i><span>Signaler problème tecnique</span>
                        </a></li>
                        <li class="parc-module"><a href="{{ path('lci_gestion_modules') }}">
                            <i></i><span>Parc modules</span>
                        </a></li>
                        {% if is_granted('ROLE_RESPONSABLE_PARC') %}
                            <li class="add-equip"><a href="{{ path('lci_register_equipement', {'provenance':'accueil'}) }}">
                                <i></i><span>Ajouter équipement</span>
                            </a></li>
                            <li class="list-prob"><a href="{{ path('lci_affiche_problemes') }}">
                                <i></i><span>Liste problèmes techniques</span>
                            </a></li>
                            <li class="parc-equip"><a href="{{ path('lci_gestion_equipements') }}">
                                <i></i><span>Parc équipements</span>
                            </a></li>
                        {% endif %}
                    </ul>
                    <li class="bons-interv js-button-wrapper"><a href="{{ path('lci_bons_attachements') }}">
                        <i></i><span>Interventions et tickets</span></a>
                        <button><span></span></button>
                    </li>
                    <ul class="side-nav__sub-list">
                        {% if is_granted('ROLE_SAISIE_BA') %}
                            <li class="saisie-bon"><a href="{{ path('lci_bons_saisie') }}"> 
                                <i></i><span>Saisie Bons</span>
                            </a></li>
                        {% endif %}
                        <li class="saisie-ticket"><a href="#"> 
                            <i></i><span>Saisie Tickets</span>
                        </a></li>
                        <li class="visu"><a href="{{ path('lci_bons_visualiser') }}">
                            <i></i><span>Visualiser</span>
                        </a></li>
                        <li class="visu-site"><a href="{{ path('lci_bons_sitesBA_visualiser') }}">
                            <i></i><span>Visu des sites</span>
                        </a></li>
                    </ul>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="cgu"><a href="{{ path('lci_cgu_show') }}">
                        <i></i><span>CGU</span>
                    </a></li>
                {% endif %}
                {% if is_granted('ROLE_TECHNICIEN') %}
                    <li class="gene-mdp"><a href="{{ path("lci_generation_mdp")}}">
                        <i></i><span>Générateur mot de passe</span>
                    </a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="parametres js-button-wrapper"><a href="{{ path('lci_gestion_admin') }}">
                        <i></i><span>Paramètres</span></a>
                        <button><span></span></button>
                    </li>
                    <ul class="side-nav__sub-list">
                        <li class="gestion-user"><a href="{{ path('lci_accueil_register_user') }}">
                            <i></i><span>Gestion utilisateurs</span>
                        </a></li> 
                        <li class="gestion-site"><a href="{{ path('lci_accueil_register_site') }}">
                            <i></i><span>Gestion sites</span>
                        </a></li>
                        <li class="gestion-lien"><a href="{{ path('lci_registration_link') }}">
                            <i></i><span>Gestion liens</span>
                        </a></li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="utilitaires js-button-wrapper"><a href="{{ path('lci_utils_homepage') }}">
                                <i></i><span>Utilitaires</span></a>
                                <button><span></span></button>
                            </li>
                            <ul class="side-nav__sub-list">
                                <li class="dispo-site"><a href="{{ path('lci_utils_afficheDispoSites') }}">
                                    <i></i><span>Disponibilités sites</span>
                                </a></li>
                                <li class="gestion-role"><a href="{{ path('lci_register_role') }}">
                                    <i></i><span>Gestion rôles</span>
                                </a></li>
                                <li class="logs"><a href="{{ path('lci_affiche_logs_connexion') }}">
                                    <i></i><span>Logs connexion</span>
                                </a></li>
                            </ul>
                        {% endif %}
                    </ul>
                {% endif %}
                <li class="disconnect"><a href="{{ path('fos_user_security_logout') }}">
                    <i></i><span>Se déconnecter</span>
                </a></li>
            </ul>
        </div>
        <div class="side-nav__footer">
            <a target="_blank" href="{{ path('lci_cgu_courantes') }}">
                C<span class="w54">onditions </span>G<span>énérales d'</span>U<span>tilisation</span>
            </a>
        </div>
    </nav>


    <div id='popUpError' class='message-box cacher'>
		{% set popup_error = false %}
        <div class="close-cross close-cross--light" onClick="clotureMessageErreur();"></div>
        {% if app.session.flashbag.peek('erreur') | length  > 0 %}
			{% set popup_error = true %}
			<h1 class="message-box__title message-box__title--error">Erreur rencontrée</h1>
            <div class="message-box__content">
                <img src="{{ asset('bundles/lciboilerbox/images/img/warningError.svg') }}" alt="icône Erreur">
                <p>
                    {% for message in app.session.flashbag.get('erreur') %}
                        {{ message|raw }}<br /><br />
                    {% endfor %}
                </p>
            </div>
        {% endif %}
        {% if  app.session.flashbag.peek('info') | length  > 0 %}
			{% set popup_error = true %}
            <h1 class="message-box__title">Informations</h1>
            <div class="message-box__content">
                <img src="{{ asset('bundles/lciboilerbox/images/img/warningInfo.svg') }}" alt="icône Info">
                <p>
                    {% for message in app.session.flashbag.get('info') %}
                        {{ message|raw }}<br /><br />
                    {% endfor %}
                </p>
            </div>
        {% endif %}
        <p class="btn btn--main btn--wide" onClick="clotureMessageErreur();">compris</p>
    </div>

    <div id="cartonBlack" class='cacher'></div>
    <div id="fonduBlack" class='cacher'></div>
    <section class="blackout cacher"></section>

    {% block liens_url %}
        <input type='hidden' name='variables_globales_twig' id='variables_globales_twig' data-prefixImage="{{ prefix_image }}">
    {% endblock liens_url %}

{% block mainBody %}
{% endblock mainBody%}

    <script type="text/javascript" src="{{ asset('bundles/lciboilerbox/js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/lciboilerbox/js/jquery-ui-1.12.1.min.js') }}"></script>
	{# Définit les valeurs par défauts pour le datePicker #}
	<script type="text/javascript" src="{{ asset('bundles/lciboilerbox/js/jquery.ui.datepicker-fr.js') }}"></script>

	<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	<script src="{{ asset('bundles/lciboilerbox/js/fonctions_generales.js') }}"></script>


    <script type="text/javascript">
		// Variable indiquant le mode publique /ou privé actif */
    	var $Mode_prive = "{{ app.user.modePrive }}";
		// Variable indiquant si on dispose des droits administrateurs 
		var $admin_granted = "{{ is_granted('ROLE_ADMIN') }}";
		var $tech_granted = "{{ is_granted('ROLE_TECHNICIEN') }}";
		// Variable indiquant si la page doit être rafraichie ou non dans certaines fonctions
		var $Refresh_page = true;

        // Fonctions barre de navigation latérale
        function showMenuLateral(){
            $('.side-nav').toggleClass('side-nav--visible');
            $('.blackout').toggleClass('cacher');
            $('html').toggleClass('no-scroll');
        };
        // page active
        $(".side-nav li:not(.js-button-wrapper)").on("click", function pageActive(){
            $(".side-nav li").removeClass("active");
            $(this).addClass("active");
        });
        // affichage sous-menu
        $(".side-nav button").on("click", function displaySubNav(){
            $(this).parents("li").next(".side-nav__sub-list").toggleClass("displayed");
        });
        $('.side-nav').on('mouseleave', function(){
            $('.side-nav .side-nav__sub-list').removeClass('displayed');
        });
        // Fonction pour afficher la petite popup "mon compte" au survol du bouton mon compte
        $('.header__nav--account').bind('click mouseenter', function(){
            $('.logged').toggleClass('cacher');
        });
        $('.logged').on('mouseleave', function(){
            $('.logged').addClass('cacher');
        });

    	$(document).ready(function() {
    	    if("{{popup_error}}") {
    	        $('#popUpError').removeClass('cacher')
    	        $('#cartonBlack').removeClass('cacher')
    	    }
            // Fonction pour aligner le titre du bandeau bleu avec le menu latéral au survol de celui-ci
            $('.side-nav').on('mouseenter', function paddingSubHeader(){
                $('.sub-header--blue').addClass('sub-header--padding');
            });
            $('.side-nav').on('mouseleave', function noPaddingSubHeader(){
                $('.sub-header--blue').removeClass('sub-header--padding');
            });
    	});

    	function clotureMessageErreur() {
    	    $('#popUpError').addClass('cacher');
    	    $('#cartonBlack').addClass('cacher');
    	}

        // Fermeture popup
        function togglePopUp(id){
            ($(id)).toggleClass('cacher');
        }; 

		// Fonction qui switch entre mode privé et mode publique 
		// Un argument est passé indiquant si la page doit être raffrachie
		function switchModePrivateTo() {
    		$.ajax({
    		    url: "{{ path('lci_switch_user_mode') }}",
    		    type: 'POST',
				success: function ($data, textStatus, jqXHR) {
					// Si la variable globale $Refresh_page est true on rafraichi la page
					if ($Refresh_page == true) {
						window.location.assign(window.location.href);
            		} 
				},
    		    error: function (jqXHR, textStatus, errorThrown) {
    		        console.log('error ' + textStatus + ' - -' + errorThrown );
    		        alert('Echec de changement de mode');
    		    }
    		});
    		// On inverse la variable de mode
			reverse_variable('mode_prive');
			// 
			switch($Mode_prive) 
			{
				case true:
					$('#choixPrivePublicPopUpId p').text('Mode privé');
					break;
				case false:
					$('#choixPrivePublicPopUpId p').text('Mode publique');
					break;
			}
			return 0;
		}

		// Fonction qui retourne l'inverse de la variable (booleenne) passée en argument
		function reverse_variable($variable) 
		{
			switch($variable) 
			{
				case 'mode_prive':
					$Mode_prive = !($Mode_prive);
					break;
			}
		}
    </script>
    
    {% block javascript %}
    {% endblock javascript %}


</body>
</html>
