{# Lci/BoilerBoxBundle/Resources/views/firstLayout.html.twig #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}Boiler-Box {% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="L'interface de supervision des chaudières industrielles." />
    <meta name="title" content="BoilerBox - Accueil" />
	{# {% block meta_viewport %}
		<meta name="viewport" content="width=device-width, initial-scale=0.5, shrink-to-fit=no">
	{% endblock meta_viewport %} #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% block liens_css %}
        <link rel="icon" type="image/png" href="{{ asset('bundles/lciboilerbox/images/img/favicon.png') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lciboilerbox/css/parc.css') }}" media='screen' />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/parc_print.css') }}" media='print' />
        <link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/style.css') }}" />
    {% endblock liens_css %}

	<link rel="stylesheet" type="text/css"  href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/msgBoxLight.css') }}" />

    {#
	<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
	#}

	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

	{# Retirée le 08/12/2021
    <script type="text/javascript" src="{{ asset('js/jquery-dateFormat.min.js') }}"></script>
	#}
</head>

<body>
    <header {# id='bloc_header' #} class='header  notToBePrinted'>
        <nav>
            <div class="burger" onclick="showMenuLateral()">
                <span></span>
            </div>
            <a class="watermark" href="{{ path("lci_boilerbox_index")}}">
                <img class="watermark__logo" src="{{ asset('bundles/lciboilerbox/images/img/logoIBC.svg') }}" alt="Logo IBC">
                <p class="watermark__baseline">
                    <span>INDUSTRIAL</span>
                    <span>BOILER</span>
                    <span>CONTROL</span>
                </p>
            </a>
            {% block header %}
                <div class='version'>
                    <p>{% include "form/version_boilerbox.html.twig" %}
                        {#<span style='text-decoration:underline;'><i><a href='http://demo.boiler-box.fr'>BoilerBox la démo</a></i></span>#}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {# - Bienvenue #}
                            {% block lien_parc_technique %}
                                {# {{ app.getuser().getLabel() }} #}
                            {% endblock lien_parc_technique %}
                        {% endif %}
                    </p>
                </div>

                {# <nav id='menu_boiler' class='notToBePrinted {% block class_menu_boiler %} {% endblock class_menu_boiler %}'>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('lci_gestion_admin') }}" title='Administration'>Administration</a>
                        {% endif %}

                        <div id='menu_boiler_deroulant1' onmouseover="afficheMenu(this)" onmouseout="cacheMenu(this)"style="height:200px;">
                            <span id='lien_menu_boiler_outil'><a href="#" onClick="return false;">Outils</a></span>
                        </div>
                        <a href="{{ path('fos_user_security_logout') }}" id='lienDeconnexion' title='Déconnexion'>Déconnexion</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" id='lienDeconnexion' title='Connexion'>Connexion</a>
                    {% endif %}
                </nav> #}
            {% endblock header %}
        </nav>
        <nav>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="header__nav tooltip-wrapper" href='{{ path("lci_gestion_admin") }}'> 
                    <img src="{{ asset('bundles/lciboilerbox/images/img/nav/parametre.svg') }}" alt="icône Paramètre" class="header__nav__img">
                    <span class="tooltip">Paramètres</span>
                </a>
            {% endif %}
           	<span {# id="btnIdentified"  #}class="header__nav header__nav--account {{ app.user.couleur }}">
           	    <span>{{ app.user.label | slice(0,1) }}</span>
           	</span>
        </nav>
    </header>

    <div class="logged cacher">
        <div></div>
        <div class="logged__infos">
            <span class="logged__infos__chip {{ app.user.couleur }}">
                <span class="">{{ app.user.label | slice(0,1) | lower }}</span>
            </span>
            <div class="logged__infos__name">
                <p>{{ app.user.username }}</p>
                <p>{{ app.user.email }}</p>
            </div>
        </div>
        {% if is_granted('ROLE_TECHNICIEN') %}
            <div class="logged__mode">
                <div id="choixPrivePublicPopUpId" class="row-wrap">
                    <label class="switch switch--small" data-href="">
                        <input type="checkbox" id="modePrivePublic" onClick="$Refresh_page=true; switchModePrivateTo();" {% if app.user.modePrive %}checked{% endif %}>
                        <span></span>
                    </label>
                    {% if app.user.modePrive == false %}
                        <p>Mode Public</p>
                    {% else %}
                        <p>Mode Privé</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <ul class="logged__links">
            <li><a href="{{ path('lci_update_user_own', {'idUtilisateur': app.user.id }) }}">mon compte</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">se déconnecter</a></li>
        </ul>
    </div>

	<nav class="side-nav notToBePrinted">
        <div class="side-nav__content scroll">
            <ul>
                <li class="index"><a href="{{ path("lci_boilerbox_index")}}">
                    <i></i><span>Accueil</span>
                </a></li>
                <li class="account"><a href="{{ path('lci_update_user_own', {'idUtilisateur': app.user.id }) }}">
                    <i></i><span>Mon compte</span>
                </a></li>
                {% if is_granted('ROLE_TECHNICIEN') %}
                    <li class="parc-tech button-wrapper"><a href="{{ path('lci_gestion_parc') }}">
                        <i></i><span>Gestion parc technique</span></a>
                        <button><span></span></button>
                    </li>
                    <ul class="side-nav__sub-list">
                        <li class="add-module"><a href="{{ path('lci_register_module', {'provenance':'accueil' }) }}">
                            <i></i><span>Ajouter module</span>
                        </a></li>
                        <li class="prob-tech"><a href="{{ path('lci_register_problemeTechnique') }}">
                            <i></i><span>Signaler problème tecnique</span>
                        </a></li>
                        <li class="parc-module"><a href="{{ path('lci_gestion_modules') }}">
                            <i></i><span>Parc modules</span>
                        </a></li>
                        {% if is_granted('ROLE_RESPONSABLE_PARC') %}
                            <li class="add-equip"><a href="{{ path('lci_register_equipement', {'provenance':'accueil'}) }}">
                                <i></i><span>Ajouter équipement</span>
                            </a></li>
                            <li class="list-prob"><a href="{{ path('lci_affiche_problemes') }}">
                                <i></i><span>Liste problèmes techniques</span>
                            </a></li>
                            <li class="parc-equip"><a href="{{ path('lci_gestion_equipements') }}">
                                <i></i><span>Parc équipements</span>
                            </a></li>
                        {% endif %}
                    </ul>
                    <li class="bons-interv button-wrapper"><a href="{{ path('lci_bons_attachements') }}">
                        <i></i><span>Bons d'interventions</span></a>
                        <button><span></span></button>
                    </li>
                    <ul class="side-nav__sub-list">
                        {% if is_granted('ROLE_SAISIE_BA') %}
                            <li class="saisie"><a href="{{ path('lci_bons_saisie') }}"> 
                                <i></i><span>Saisie</span>
                            </a></li>
                        {% endif %}
                        <li class="visu"><a href="{{ path('lci_bons_visualiser') }}">
                            <i></i><span>Visualiser</span>
                        </a></li>
                        <li class="visu-site"><a href="{{ path('lci_bons_sitesBA_visualiser') }}">
                            <i></i><span>Visu des sites</span>
                        </a></li>
                    </ul>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="cgu"><a href="{{ path('lci_cgu_show') }}">
                        <i></i><span>CGU</span>
                    </a></li>
                {% endif %}
                {% if is_granted('ROLE_TECHNICIEN') %}
                    <li class="gene-mdp"><a href="{{ path("lci_generation_mdp")}}">
                        <i></i><span>Générateur mot de passe</span>
                    </a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="parametres button-wrapper"><a href="{{ path('lci_gestion_admin') }}">
                        <i></i><span>Paramètres</span></a>
                        <button><span></span></button>
                    </li>
                    <ul class="side-nav__sub-list">
                        <li class="gestion-user"><a href="{{ path('lci_accueil_register_user') }}">
                            <i></i><span>Gestion utilisateurs</span>
                        </a></li> 
                        <li class="gestion-site"><a href="{{ path('lci_accueil_register_site') }}">
                            <i></i><span>Gestion sites</span>
                        </a></li>
                        <li class="gestion-lien"><a href="{{ path('lci_registration_link') }}">
                            <i></i><span>Gestion liens</span>
                        </a></li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="utilitaires button-wrapper"><a href="{{ path('lci_utils_homepage') }}">
                                <i></i><span>Utilitaires</span></a>
                                <button><span></span></button>
                            </li>
                            <ul class="side-nav__sub-list">
                                <li class="dispo-site"><a href="{{ path('lci_utils_afficheDispoSites') }}">
                                    <i></i><span>Disponibilités sites</span>
                                </a></li>
                                <li class="gestion-role"><a href="{{ path('lci_register_role') }}">
                                    <i></i><span>Gestion rôles</span>
                                </a></li>
                                <li class="logs"><a href="{{ path('lci_affiche_logs_connexion') }}">
                                    <i></i><span>Logs connexion</span>
                                </a></li>
                            </ul>
                        {% endif %}
                    </ul>
                {% endif %}  
                <li class="disconnect"><a href="{{ path('fos_user_security_logout') }}">
                    <i></i><span>Se déconnecter</span>
                </a></li>
            </ul>
        </div>
        <div class="side-nav__footer">
            <a target="_blank" href="{{ path('lci_cgu_courantes') }}">
                C<span class="w54">onditions </span>G<span>énérales d'</span>U<span>tilisation</span>
            </a>
        </div>
    </nav>

    <div id='messagebox' class='message-box cacher'>
        <div id='messageboxTexte' class="message-box__content"></div>
        <div class='right'>
            <a href='#' style="height:30px;" onClick="validation_messagebox();return false;" >
                <div class='btn btn--main'>ok</div>
            </a>
        </div>
    </div>

    <div id='message_flashinfo' class="message-box cacher">
        <div class="close-cross" onClick="closeMessageBox()"></div>
        <div class="message-box__content">
            {% block messages_flash %}
                {% for message in app.session.flashbag.get('info') %}
                    <div> - {{ message }}</div>
                {% endfor %}
            {% endblock messages_flash %}
        </div>
    </div>

    <div id='erreurs_formulaires'>
        <div>
            {% block erreurs_formulaires %}
            {% endblock erreurs_formulaires %}
        </div>
    </div>

    {% block liens_url %}
		<input type='hidden' name='variables_globales_twig' id='variables_globales_twig' data-prefixImage="{{ prefix_image }}">
    {% endblock liens_url %} 
    
    <div id='bloc_body'>
    	{% block body %}
    	{% endblock body %}
    </div>


{% include "boilerbox/boilerbox.js" %}


<script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ asset('js/jquery.ui.datepicker-fr.js') }}"></script>
{# Retiré le 08/12/2021 <script type="text/javascript" src="{{ asset('js/jquery.msgBox.js') }}"></script>#} 
<script type="text/javascript">
    // On cache la messagebox flash si son contenu est vide
    $(window).on('load', function(){
        if($.trim($("#message_flashinfo .message-box__content").html())){
            $('#message_flashinfo').removeClass('cacher');
        }
    });
    $(document).ready(function(){
        // Fonction pour aligner le titre du bandeau bleu avec le menu latéral au survol de celui-ci
        $('.side-nav').on('mouseenter', function paddingSubHeader(){
            $('.sub-header--blue').addClass('sub-header--padding');
        });
        $('.side-nav').on('mouseleave', function noPaddingSubHeader(){
            $('.sub-header--blue').removeClass('sub-header--padding');
        });
    });
    function closeMessageBox(){
        $('#message_flashinfo').toggleClass('cacher');
    };

	// Fonctions barre de navigation latérale
    function showMenuLateral(){
        $('.side-nav').toggleClass('side-nav--visible');
    };
    // page active
	$(".side-nav li:not(.button-wrapper)").on("click", function pageActive(){
	    $(".side-nav li").removeClass("active");
	    $(this).addClass("active");
	});
    // affichage sous-menu
	$(".side-nav button").on("click", function displaySubNav(){
	    $(this).parents("li").next(".side-nav__sub-list").toggleClass("displayed");
	});
    $('.side-nav').on('mouseleave', function(){
        $('.side-nav .side-nav__sub-list').removeClass('displayed');
    });
    // Fonction pour afficher la petite popup "mon compte" au survol du bouton mon compte
    $('.header__nav--account').bind('click mouseenter', function(){
        $('.logged').toggleClass('cacher');
    });
    $('.logged').on('mouseleave', function(){
        $('.logged').addClass('cacher');
    });
</script>
{% block javascript %}
{% endblock javascript %}

</body>
</html>

