{# src/Lci/BoilerBoxBundle/Resources/views/Tickets/form_visu_un_ticket.html.twig #}

{% extends "LciBoilerBoxBundle::secondBonsLayoutLogged.html.twig" %}

{% block meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=0.3, shrink-to-fit=no">
{% endblock meta_viewport %}

{% block title %}{{ parent() }} : Fichiers du ticket{% endblock title %}

{% block class_menu_boiler %} elargir {% endblock class_menu_boiler %}

{% block boilerBoxCSS %}
	{{ parent() }}
	<style>
	.flex-table{
		width: 100%;
		min-width: initial;
	}
	.flex-table .small{
		width: calc(30% - 20px);
	}
	.flex-table .wide{
		width: calc(100% - 20px);
	}
	#table_des_fichiers tr td.small img{
		cursor: pointer;
	}
    body > form{
    	padding: 8px;
    }
    #table_validation thead tr th{
    	width: 50%;
    }
    #table_des_equipements{
    	display: table !important;
    }
	</style>
{% endblock boilerBoxCSS %}

{% block mainBody %}
<header class="sub-header sub-header--blue">
	<h1 class="sub-header__title">Ticket d'incident</h1>
</header>

<div id='erreur_formulaire_bon'>{{ form_errors(form_modification) }}</div>




{{ form_start(form_modification, {'action':path('affiche_ticket'), 'method':'POST', 'name':'myFormFichiers'}) }}
<input type='hidden' name='id_bon' value="{{ entity_bon.id }}" />

<section class="info">
	<h1 class="info__title">Ticket {{ entity_bon.numeroBA }}</h1>
</section>
<main id="grid-visuUnBon" class="content">
	<div id="sub-grid-visuUnBon" class='content__brick'>
		<section class="content__brick">
   			<fieldset class="fieldset">
				<h2 class="fieldset__title">Informations</h2>

				<div class="form__field">
					<div>
						<label>Site</label>
						<span class="data">
							{% if is_granted('ROLE_SAISIE_TICKET') %}
								{{ form_widget(form_modification.site) }}
							{% else %}
								{{ entity_bon.site.intitule }}
							{% endif %}
						</span>
					</div>
				</div>
				<div class="form__field form__field--double">	
                    <div>
                        <label>Numéro du ticket</label>
                        <span class="data">
							<input type='text' class='disabled' value='{{ entity_bon.numeroBA}}'>
                        </span>
                    </div>
					<div>
            	        <label>Affaire</label>
            	        <span class="data">
							{% if is_granted('ROLE_SAISIE_TICKET') %}
								{{ form_widget(form_modification.numeroAffaire) }}
                        	{% else %}
                        	    {{ entity_bon.numeroAffaire }}
                        	{% endif %}
						</span>
					</div>
				</div>


                <div class="form__field">
                    <div>
                        <label>Service</label>
                        <span class="data">
                            {% if is_granted('ROLE_SAISIE_TICKET') %}
                                {{ form_widget(form_modification.service) }}
                            {% else %}
                                {{ entity_bon.service }}
                            {% endif %}
                        </span>
                    </div>
                </div>


            	<div class="form__field form__field--double">
            	    <div>
            	        <label>Initiateur</label>
                        <span class="data">
                            {% if is_granted('ROLE_SAISIE_TICKET') %}
								{{ form_widget(form_modification.userInitiateur) }}
                            {% else %}
                                {{ entity_bon.userInitiateur.label }}
                            {% endif %}
                        </span>
           	     	</div>

	                <div>
	                    <label>Intervenant</label>
                        <span class="data">
                            {% if is_granted('ROLE_SAISIE_TICKET') %}
								{{ form_widget(form_modification.user) }}
                            {% else %}
								{% if entity_bon.user %}
	                                {{ entity_bon.user.label }}
								{% else %}
									<span style='color:red;'>A définir</span>
								{% endif %}
                            {% endif %}
                        </span>
	                </div>
	            </div>

				<div class="form__field form__field--double">
					<div>
						<label>Date d'initialisation</label>
                            {% if is_granted('ROLE_SAISIE_TICKET') %}
                                {{ form_widget(form_modification.dateDebutIntervention) }}
                            {% else %}
                                <input type='text' class='disabled' value="{{ entity_bon.dateDebutIntervention | date('d/m/Y H:i') }}" />
                            {% endif %}
					</div>

                    <div>
                        <label>Date de clôture</label>
                            {% if is_granted('ROLE_SAISIE_TICKET') or (app.user == entity_bon.user) %}
                                {{ form_widget(form_modification.dateFinIntervention) }}
                            {% else %}
                                <input type='text' class='disabled' value="{{ entity_bon.dateFinIntervention | date('d/m/Y H:i') }}" />
                            {% endif %}
                    </div>
				</div>
            </fieldset>


			<fieldset class="fieldset">
				<h2 class="fieldset__title">Site</h2>
				<div class="form__field">
					<label>Adresse</label>
					{% if entity_bon.site %}
						<div id='site_ba_adresse' class="input input--disabled">{{ entity_bon.site.adresse }}</div>
					{% else %}
						&nbsp;
					{% endif %}
				</div>
				<div id="map"></div>
			</fieldset>
		</section>


		<section class="content__brick grid__two">
			<fieldset class="fieldset">
				<h2 class="fieldset__title">Contact</h2>

				<div class="form__field">
					<label>Nom Contact</label>
                    <span class="data">
						{% if is_granted('ROLE_SAISIE_TICKET') %}
							{{ form_widget(form_modification.nomDuContact) }}
						{% else %}
                    	    <input type='text' class='disabled' value="{{ entity_bon.nomDuContact }}" />
						{% endif %}
                    </span>
				</div>

				<div class="form__field form__field--double">
					<div>
						<label>Email</label>
                       	<span class="data">
							{% if is_granted('ROLE_SAISIE_TICKET') %}
								{{ form_widget(form_modification.emailContactClient) }}
							{% else %}
								<input type='text' class='disabled' value="{{ entity_bon.emailContactClient }}" />
                        	{% endif %}
                        </span>
					</div>

					<div>
						<label>Téléphone</label>
                        <span class="data">
                            {% if is_granted('ROLE_SAISIE_TICKET') %}
                               {{ form_widget(form_modification.telephoneContactClient) }} 
                            {% else %}
                            	<input type='text' class='disabled' value="{{ entity_bon.telephoneContactClient }}" />
							{% endif %}
                        </span>
					</div>
				</div>
			</fieldset>

			{# Inclusion du fichier "src/Lci/BoilerBoxBundle/Resources/views/Equipements/html_encart_equipement.html.twig" #}
			{% include  "Equipements/html_encart_equipement.html.twig" %}


            <fieldset class="fieldset fieldset--no-padding">
                <h2 class="fieldset__title">Fichier{% if entity_bon.fichiersPdf | length > 1 %}s{% endif %} ({{ entity_bon.fichiersPdf | length }}) </h2>
                {% if is_granted('ROLE_SAISIE_TICKET') %}
                    <div id='label_archive' class="form__field">
                        <div class="checkbox">
                            <label>
                                <input type='checkbox' id='chk_archive' name='chk_archive' value='chk_archive' onClick="afficheArchives();" />
                                Afficher les fichiers archivés
                            </label>
                        </div>
                    </div>
                {% endif %}
                <table class='flex-table'>
                    <thead class="flex-table__thead">
                        <tr class="flex-table__row">
                            {% if is_granted('ROLE_SAISIE_TICKET') %}
                                <th class='small'>Archiver</th>
                            {% endif %}
                            <th class='wide'>Nom</th>
                        </tr>
                    </thead>
                    <tbody id='table_des_fichiers' class="flex-table__tbody scroll">
                        {% for fichier in entity_bon.fichiersPdf %}
                            <tr id="fichier_{{ fichier.id }}" onClick="afficheFichier('{{ fichier.bonAttachement.id }}_{{ fichier.id }}');"
                            {% if fichier.archive == true %}class="flex-table__row cacher archive" {% else %} class="flex-table__row" {% endif %}>
                                {% if is_granted('ROLE_SAISIE_TICKET') %}
                                    <td class='small'>
                                        <img id="image_{{ fichier.id }}"
                                            {% if fichier.archive == false %}
                                                src="{{ asset('bundles/lciboilerbox/images/bons/boutonsMenu/croix-ajout.png') }}"
                                            {% else %}
                                                src="{{ asset('bundles/lciboilerbox/images/bons/boutonsMenu/croix-suppression.png') }}"
                                            {% endif %}
                                                onClick="archiveUnFichierDuBon('{{ fichier.id }}', '{{ fichier.archive }}');"
                                        />
                                    </td>
                                {% endif %}
                                <td class='wide selectionnable' onClick="afficheFichier('{{ fichier.bonAttachement.id }}_{{ fichier.id }}');">
                                    <a id="{{ fichier.bonAttachement.id }}_{{ fichier.id }}" class='btn-disable'
                                        href="{{ asset(prefix_image ~ '/uploads/bonsAttachement/fichiersDesBons/' ~ fichier.bonAttachement.id ~ '_' ~  fichier.url) }}" download='{{ fichier.alt }}' onClick="definirNomFichier(this.id, this.download);">
                                            {{ fichier.alt }} {% if fichier.informations is not null %}<br /><span class='informations_archivage'>{{ fichier.informations }}</span>{% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id='formulaire_bons_fichiers' style="margin-top:16px;">
                    <div>
                        <span id='lien_ajout_fichier'></span>
                        <div id='champ_ajout_fichiers_bon'>{{ form_widget(form_modification.fichiersPdf) }}</div>
                        <div>{{ form_errors(form_modification.fichiersPdf) }}</div>
                        <input type='hidden' name='id_bon' value="{{ entity_bon.id }}" />
                    </div>
                </div>
            </fieldset>

            <fieldset class="fieldset">
                <h2 class="fieldset__title">Photos</h2>
                <div class="form__field">
					<label>Chemin local vers le répertoire des photos</label>
                    <div id='cheminDossierPhotos' class="input input--disabled" style="cursor:pointer">
                        <span>
                            {% if is_granted('ROLE_SAISIE_TICKET') %}
								{{ form_widget(form_modification.cheminDossierPhotos) }}
                            {% else %}
                                {{ entity_bon.cheminDossierPhotos }}
                            {% endif %}
                        </span>
					</div>
                </div>
            </fieldset>
		</section>
	</div>

	{# Popup Equipement #}
	{% include "Equipements/html_popup_equipement.html.twig" %}

	{# Encart qui permet la modification des Equipements #}
	<section class='cacher'>
		{{ form_rest(form_modification) }}
	</section>
	{{ form_end(form_modification) }}


	{# Popup Création d'équipement #}
	<section id="popupEquipement2" class="popup cacher">
    	{{ render(path('lci_ajax_bon_new_equipement')) }}
	</section>



	<section class="grid__two content__brick">
		<!-- Validation -->
		<fieldset id='validation_des_bons_attachement' class="fieldset">
		    <h1 class="fieldset__title">Validation</h1>
			{{ form_start(form_validation, {'action':path('saisie_ticket'), 'method':'POST', 'name':'myForm'}) }}
			{{ form_errors(form_validation) }}

				<table id="table_validation">
				<thead>
					<tr>
						<th>Intervention demandée</th>
						<th>Clôture</th>
					</tr>
				</thead>
				<tbody>
					<tr>
                        <td>
                            {% if entity_bon.validationIntervention %}
                                {% if entity_bon.validationIntervention.valide == true %}
                                    <span style='color:green;'>Intervention demandée par {{ entity_bon.validationIntervention.user.label }} ({{ entity_bon.validationIntervention.dateDeValidation | date('d-m-Y') }})</span>
                                {% elseif is_granted('ROLE_SERVICE_TECHNIQUE') %}
                                    {# Service Intervention dé-validé : On affiche la checkbox pour le revalider si on a les droits de validation #}
                                    <div style='display:flex'>
										{{ form_widget(form_validation.validationIntervention) }}
										Attente d'intervention <br/>
									</div>
									<span style='color:red'>Demande d'intervention annulée par {{ entity_bon.validationIntervention.user.label }} ({{ entity_bon.validationIntervention.dateDeValidation | date('d-m-Y H:i') }})</span>
								{% else %}
									<span style='color:red'>Non demandée</span>
                                {% endif %}
                            {% elseif is_granted('ROLE_SERVICE_TECHNIQUE')  %}
								{# Service Intervention non validé - On a les droits de validation #}
                                {{ form_widget(form_validation.validationIntervention) }}
                            {% endif %}
                        </td>
                        <td>
                            {% if entity_bon.validationCloture %}
                                {% if entity_bon.validationCloture.valide == true %}
                                    <span style='color:green;'>Cloturé par {{ entity_bon.validationCloture.user.label }} ({{ entity_bon.validationCloture.dateDeValidation | date('d-m-Y H:i') }})</span>
                                {% elseif is_granted('ROLE_SERVICE_TECHNIQUE') %}
                                    <div style='display:flex'>
										{{ form_widget(form_validation.validationCloture) }} 
										Clôturer
									</div>
									<span style='color:red'>Réouvert par {{ entity_bon.validationCloture.user.label }} ({{ entity_bon.validationCloture.dateDeValidation | date('d-m-Y H:i') }})</span>
								{% else %}
                                    <span style='color:red'>Non clos</span>
                                {% endif %}
                            {% elseif is_granted('ROLE_SERVICE_TECHNIQUE')  %}
                                {# Service Cloture non validé - On a les droits de validation #}
                                {{ form_widget(form_validation.validationCloture) }}
                            {% endif %}
                        </td>
					</tr>

	        		<tr>
                        <td>
                            {% if entity_bon.validationIntervention %}
                                {% if entity_bon.validationIntervention.valide == true %}
                                    {# Service Intervention validé : On affiche l'icone pour le dévalider si on a les droits #}
                                    {% if is_granted('ROLE_SERVICE_TECHNIQUE') %}
                                        <span style='color:red; cursor:pointer;' onClick="sendValidationAjaxRequest('intervention', false);">Annuler</span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if entity_bon.validationCloture %}
                                {% if entity_bon.validationCloture.valide == true %}
                                    {% if is_granted('ROLE_SERVICE_TECHNIQUE') %}
                                        <span style='color:red; cursor:pointer;' onClick="sendValidationAjaxRequest('cloture', false);">Annuler</span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
			        </tr>
				</tbody>
				</table>
			{{ form_end(form_validation, {'render_rest': false}) }} 
		</fieldset>

		<!-- Commentaires -->
		<fieldset id="commentaire-bons-attachements" class="fieldset">
			<h1 class="fieldset__title">Commentaires</h1>
			<div id='commentaires_bon' class="scroll">{{ commentaires | raw | nl2br }}</div>
			<div id="my-comment" class='form__field'>
				<textarea id='commentaires'></textarea>
				<div id="js-btn-comm" class="main-box__btn">
					<div class="main-box__btn--disabled">
						<button class="btn btn--main btn--disabled" onClick="attente(); ajoutCommentaire(); return false;">Publier</button>
					</div>
				</div>
			</div>
            <input type='hidden' name='id_bon' value="{{ entity_bon.id }}" />
		</fieldset>

        <div class="content__btn">
            <button class="btn_menu btn btn--second" onClick="attente(); redirection('bonsVisualiser'); return false;">Retour</button>
            {# Si le bon à un intervenant de définit : L'intervenant peut ouvrir le bon #}
            {% if entity_bon.user %}
                {% if (entity_bon.userInitiateur.id == app.user.id) or (entity_bon.user.id == app.user.id) or is_granted('ROLE_SAISIE_TICKET') %}
                    <button class="btn_menu btn btn--main" onClick="document.forms['myFormFichiers'].submit(); return false">Enregistrer modif.</button>
                {% endif %}
            {% else %}
                {% if (entity_bon.userInitiateur.id == app.user.id) or is_granted('ROLE_SAISIE_TICKET') %}
                    <button class="btn_menu btn btn--main" onClick="document.forms['myFormFichiers'].submit(); return false">Enregistrer modif.</button>
                {% endif %}
            {% endif %}
        </div>
    </section>
</main>


<!-- popup Nouveau Contact -->
<section id="commentaireCloture" class="popup cacher">
    <div class="popup__wrapper">
        <header class="popup__header">
            <h1 id='titre_commentaire_sav' class="popup__title">Informations client de cloture</h1>
            <div class="close-cross" onclick="fermeturePopupCommentaire('cloture');"></div>
        </header>
        <div class="popup__content">
            <div class="form__field">
				<p id='avertissementConsignesCloture' style='color:red'></p>
                <div>
                    <label for="consignesClientCloture">Informations client de cloture</label>
                    <textarea name='consignesClientCloture' id='consignesClientCloture'></textarea>
                </div>
            </div>
        </div>
        <div class="popup__content">
            <div class="form__field">
                <p id='avertissementConsignesClotureTechnicien' style='color:red'></p>
                <div>
                    <label for="consignesTechnicienCloture">Informations technicien de cloture</label>
                    <textarea name='consignesTechnicienCloture' id='consignesTechnicienCloture'></textarea>
                </div>
            </div>
        </div>
        <div class='popup__action'>
            <button onClick="validationCommentaire('cloture');" class="btn_menu btn btn--main">Enregistrer</button>
        </div>
    </div>
</section>



<!-- popup Changement d'intervenant -->
<section id="commentaireChangeIntervenant" class="popup cacher">
    <div class="popup__wrapper">
        <input type='hidden' id='last_id_intervenant' name='last_id_intervenant' />
        <header class="popup__header">
            <h1 id='titre_commentaire_change_intervenant' class="popup__title">Motif du changement d'intervenant</h1>
            <div class="close-cross" onclick="fermeturePopupCommentaire('changeIntervenant');"></div>
        </header>
        <div class="popup__content">
            <div class="form__field">
                <p id='avertissementChangeIntervenant' style='color:red'></p>
                <div>
                    <label for="motifChangeIntervenant">Motif</label>
                    <textarea name='motifChangeIntervenant' id='motifChangeIntervenant'></textarea>
                </div>
            </div>
        </div>
        <div class='popup__action'>
            <button onClick="validationCommentaire('changeIntervenant');" class="btn_menu btn btn--main">Enregistrer</button>
        </div>
    </div>
</section>


{% endblock mainBody %}



{% block javascript %}

<script type='text/javascript'>

    var $page_html = "{{ page }}";
    var $indexFichier = 1;
    var $indexFichierSiteBA = 1;
    var $indexContactSiteBA = 1;
    var $container_fichiers_bon;
    var $container_fichiers_site;
    var $container_contacts_site;
    var $tab_contact = new Array();
    var id_lien_fichiersPdf, id_select_intervenant, id_select_service,  id_select_site, id_champs_nouveau_id_site, id_champs_nouveau_nom_site, id_champs_nouveau_type, id_champs_nom_du_contact, id_champs_tel_du_contact, id_champs_mail_du_contact;
    var $idBon = {{ entity_bon.id }};
    var $indexFichier;
    var $container;
    var $id_last_intervenant;
    var $type_page_html = "{{ type_page }}";

    if ($page_html == 'ticket')
    {
        // Récupération du container des fichiers des bons
        $container_fichiers_bon     = $('#ticket_incident_modification_fichiersPdf');
        // id du lien 'Parcourir' pour afficher la fenetre de recherche du fichier
        id_lien_fichiersPdf         = 'ticket_incident_modification_fichiersPdf';
        // id du select intervenant
        id_select_intervenant       = 'ticket_incident_modification_user';
        // id du select site
        id_select_site              = 'ticket_incident_modification_site';
        // id du champs id d'un nouveau site
        id_champs_nouveau_id_site   = 'ticket_incident_modification_idNouveau';
        // id du site précédemment selectionné
        id_champs_last_id_site      = 'ticket_incident_modification_id';
        // id du nom d'un site qui vient d'être crée
        id_champs_nouveau_nom_site  = 'ticket_incident_modification_siteNouveau';
        // id du type (bon ou ticket)
        id_champs_nouveau_type      = 'ticket_incident_modification_typeNouveau';

        id_champs_nom_du_contact    = 'ticket_incident_modification_nomDuContact';
        id_champs_tel_du_contact    = 'ticket_incident_modification_telephoneContactClient';
        id_champs_mail_du_contact   = 'ticket_incident_modification_emailContactClient';

        // id du select service
        id_select_service           = 'ticket_incident_modification_service';
    } else if ($page_html == 'bon')
    {
        $container_fichiers_bon     = $('#bons_attachement_fichiersPdf');
        id_lien_fichiersPdf         = 'bons_attachement_modification_fichiersPdf';
        id_select_intervenant       = 'bons_attachement_modification_user';
        id_select_site              = 'bons_attachement_modification_site';
        id_champs_nouveau_id_site   = 'bons_attachement_modification_idNouveau';
        id_champs_last_id_site      = 'bons_attachement_modification_id';
        id_champs_nouveau_nom_site  = 'bons_attachement_modification_siteNouveau';
        id_champs_nouveau_type      = 'bons_attachement_modification_typeNouveau';
        id_champs_nom_du_contact    = 'bons_attachement_modification_nomDuContact';
        id_champs_tel_du_contact    = 'bons_attachement_modification_telephoneContactClient';
        id_champs_mail_du_contact   = 'bons_attachement_modification_emailContactClient';
        id_select_service           = 'bons_attachement_modification_service';
    }
</script>

{# Inclusion du fichier "src/Lci/BoilerBoxBundle/Resources/public/js/fonction_equipements.js" #}
{% include "Equipements/fonction_equipements.js" %}
{% include "bons_et_tickets/fonction_visu_bons_et_tickets.js" %}
{% include "bons_et_tickets/fonction_visu_ready_bons_et_tickets.js" %}


<script src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&libraries=places&callback=initAutocomplete">
</script>

{% endblock javascript %}
