{% extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" %}
{% form_theme form 'form/fields_administration.html.twig' %}

{% block fos_user_content %}
{{ parent() }}
<div class='listing'>
<div class='ajout_objet'>
    <h1>Nouvel utilisateur</h1>
    <div id='formulaire'>
		<form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register" name="myForm">
            {{ form_widget(form._token) }}
            {{ form_errors(form) }}
            <div>{{ form_errors(form.enabled) }}{{ form_widget(form.enabled) }}</div>
            <div>{{ form_errors(form.username) }}{{ form_widget(form.username) }}</div>
            <div>{{ form_errors(form.email) }}{{ form_widget(form.email) }}</div>
            <div>{{ form_errors(form.plainPassword.first) }}{{ form_widget(form.plainPassword.first) }}</div>
            <div>{{ form_errors(form.plainPassword.second) }}{{ form_widget(form.plainPassword.second) }}</div>
            <div>{{ form_errors(form.label) }}{{ form_widget(form.label) }}</div>
			<div>Couleur : {{ form_errors(form.couleur) }}{{ form_widget(form.couleur) }}</div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class='display_flex_row_start'>
                    <div>{{ form_label(form.roles) }} </div>
                    {{ form_widget(form.roles) }}
                </div>
            {% endif %}
			<p>Informations complémentaires</p>
			<div>{{ form_errors(form.informations) }}{{ form_widget(form.informations) }}</div>
		</form>
    </div>
    <div class='validation_formulaire'>
        <img class="btn_menu" alt="Modifier l'utilisateur" onClick="attente(); document.forms['myForm'].submit();"
            src="{{ asset('bundles/lciboilerbox/images/administration/boutons/btn_creer_utilisateur.png') }}"
            onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/administration/boutons/btn_creer_utilisateur_hover.png') }}"
            onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/administration/boutons/btn_creer_utilisateur.png') }}" />
        <img class="btn_menu" alt="Annuler" onClick="attente(); redirection('menuUtilisateur');"
            src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_annuler.png') }}"
            onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_annuler_hover.png') }}"
            onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_annuler.png') }}" />
    </div>
</div>
</div>
{% endblock fos_user_content %}


