{# src/Lci/BoilerBoxBundle/Resources/views/GestionParc/accueil.html.twig #}
{% extends "LciBoilerBoxBundle::secondParcLayout.html.twig" %}
{% block title %} {{ parent() }}Gestion du parc{% endblock title %}

{% block fos_user_content %}
{{ parent() }}
<div class='{# menu_parc #} main-content'>
    {% if is_granted('ROLE_RESPONSABLE_PARC') %}
    <div class="card"onClick="attente(); changeAjaxFromVar('accueil'); redirection('ajouterModuleFromAccueil');">
        <img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/ajout-mod.svg') }}" alt="Ajouter module" >
        <div class="card__container">
            <h4 class="card__container__title">Ajouter module</h4>
            <p class="card__container__desc">Ajouter un module et choisissez son nom, numéro, type etc...</p>
        </div>
    </div>
    <div class="card" onClick="attente(); changeAjaxFromVar('probleme'); definirVariableProvenance('accueil'); redirection('signalerProblemeTechnique');">
        <img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/signal-prob.svg') }}" alt="Signaler problème" >
        <div class="card__container">
            <h4 class="card__container__title card__container__title--red">Signaler problème</h4>
            <p class="card__container__desc">Signaler un problème sur un équipement avec description, informations et pièce jointe</p>
        </div>
    </div>
    <div class="card" onClick="attente(); changeAjaxFromVar('parc'); redirection('parcModules');">
        <img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/parc-mod.svg') }}" alt="Parc modules" >
        <div class="card__container">
            <h4 class="card__container__title">Parc modules</h4>
            <p class="card__container__desc">Liste des modules présents / absents, fonctionnels, (non) bloquants</p>
        </div>
    </div>
    <div class="card" onClick="attente(); redirection('ajouterEquipementFromAccueil');">
        <img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/ajout-equip.svg') }}" alt="Ajouter équipement" >
        <div class="card__container">
            <h4 class="card__container__title">Ajouter  équipement</h4>
            <p class="card__container__desc">Créer un équipement en renseignant son type et s'il est actif ou non</p>
        </div>
    </div>
    <div class="card" onClick="attente(); definirVariableProvenance('liste'); redirection('afficherProblemesAdmin');">
        <img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/liste-prob.svg') }}" alt="Liste problèmes" >
        <div class="card__container">
            <h4 class="card__container__title">Liste problèmes</h4>
            <p class="card__container__desc">Liste des problèmes avec dates, nom du module, nom de l'équipement et état du problème</p>
        </div>
    </div>
    <div class="card" onClick="attente(); changeAjaxFromVar('parcEquipements'); redirection('parcEquipements');">
        <img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/parc-equip.svg') }}" alt="Parc équipements" >
        <div class="card__container">
            <h4 class="card__container__title">Parc équipements</h4>
            <p class="card__container__desc">Liste des équipements (non) actifs et (non) bloquants</p>
        </div>
    </div>
    {% else %}
        <div class="card" onClick="attente(); redirection('afficherProblemes');"
            <img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/liste-prob.svg') }}" alt="Liste problèmes" >
            <div class="card__container">
                <h4 class="card__container__title">Liste problèmes</h4>
                <p class="card__container__desc">Liste des problèmes avec dates, nom du module, nom de l'équipement et état du problème</p>
            </div>
        </div>
        <div class="card" onClick="attente(); changeAjaxFromVar('parc'); redirection('parcModules');">
            <img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/parc-mod.svg') }}" alt="Parc modules" >
            <div class="card__container">
                <h4 class="card__container__title">Parc modules</h4>
                <p class="card__container__desc">Liste des modules présents / absents, fonctionnels, (non) bloquants</p>
            </div>
        </div>
        <div class="card" onClick="attente(); changeAjaxFromVar('parcEquipements'); redirection('parcEquipements');">
            <img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/parc-equip.svg') }}" alt="Parc équipements" >
            <div class="card__container">
                <h4 class="card__container__title">Parc équipements</h4>
                <p class="card__container__desc">Listes des équipements (non) actifs et (non) bloquants</p>
            </div>
        </div>
    {% endif %}
</div>

<script type='text/javascript'>
    // Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
        $('.side-nav .parc-tech').addClass('active');
    });
</script>

{% endblock fos_user_content %}
