{# src/Lci/BoilerBoxBundle/Resources/views/GestionParc/change_module.html.twig #}
{% extends "LciBoilerBoxBundle::secondParcLayout.html.twig" %}


{% block fos_user_content %} 
{{ parent() }}

<div class='listing'>
	<div class='ajout_objet'>
		<h1>Changement d'état</h1>
		<h2>Module : {{ form.numero.vars.value }} ({{ form.nom.vars.value }}) <!--<span id='presence'></span>--></h2>
	    <div class='formulaire'>
			{{ form_start(form, {'action':path('lci_change_parc_modules'), 'method':'POST', 'name':'myForm'}) }}
				{{ form_errors(form) }}
				<div>{{ form_widget(form.present) }} {{ form_label(form.present) }}</div>
				<div>{{ form_widget(form.actif) }} {{ form_label(form.actif) }}</div>
	        	<div class='form_zone_date'><div>{{ form_label(form.dateMouvement) }}</div><div>{{ form_widget(form.dateMouvement) }}</div></div>
				<div>{{ form_label(form.type) }}</div>
				<div>{{ form_widget(form.type) }}</div>
	            <div class='site_module'>{{ form_label(form.site) }}</div>
	            <div class='site_module'>{{ form_widget(form.site) }}</div>
	            <div class='cacher'>
	                {{ form_row(form.numero) }}
	                {{ form_row(form.nom) }}
	                {{ form_row(form.id) }}
	            </div>
				{{ form_rest(form) }}
			{{ form_end(form) }}
	    </div>
		<div class='validation_formulaire'> 
			<img src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_modifier_module.png') }}" class="btn_menu" alt="Changer le module"
				onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_modifier_module_hover.png') }}" 
				onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_modifier_module.png') }}" 
				onClick="attente(); document.forms['myForm'].submit();" >
			<img src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_retour_parc.png') }}" class="btn_menu" alt="Retour au parc"
				onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_retour_parc_hover.png') }}" 	
				onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_retour_parc.png') }}" 	  
				onClick="attente(); redirection('parcModules');">
		</div>
	</div>
</div>

<script type='text/javascript'>	
	$(document).ready(function(){
		$("#module_dateMouvement").datepicker();

		$('#module_actif').click(function() {
			var $isNotChecked = $('#module_actif').is(':checked');
			if (! $isNotChecked) {
				if (confirm('Désactivation du module demandé !')) {
					/* OK */
					/* change OK + checked => not checked*/
					$('#module_actif').prop('checked', false);
				} else {
					/* change ANNULER + checked => checked */
            	    $('#module_actif').prop('checked', true);
				}
			}
		});

		if ($('#module_present').is(':checked')){
			$('#presence').html('Présent');
			$('.site_module').addClass('cacher');
		} else {
			$('#presence').html('Absent');
			$('.site_module').removeClass('cacher');
		}
        $('#module_present').change(function(){
			$('#module_dateMouvement').val($.format.date(new Date(), 'dd-MM-yyyy'));
            if ($('#module_present').is(':checked')){
				$('#presence').html('Présent');
				$('#module_site').val('');
				$('.site_module').addClass('cacher');
            } else {
				$('#presence').html('Absent');
				$('.site_module').removeClass('cacher');
			}
        });
	});
</script>
{% endblock fos_user_content %}

