{# src/Lci/BoilerBoxBundle/Resources/views/GestionParc/change_equipement.html.twig #}
{% extends "LciBoilerBoxBundle::secondParcLayout.html.twig" %}


{% block fos_user_content %} 
{{ parent() }}
<div class='main-box'>
	<h1 class="main-box__title">Changement d'état</h1>
	<h2 class="main-box__sub-title">Equipement : {{ form.type.vars.value }}</h2>
    <div class='{# formulaire #}main-box__content'>
		{{ form_start(form, {'action':path('lci_change_parc_equipements'), 'method':'POST', 'name':'myForm','class':'form'}) }}
			{{ form_errors(form) }}
			<div class="form__field">
				{{ form_widget(form.actif) }}{{ form_label(form.actif) }}
			</div>
			<div class='cacher'>
				<div class="form__field">
					{{ form_row(form.type) }}
				</div>
				<div class="form__field">
	                {{ form_row(form.id) }}
	            </div>
            </div>
			{{ form_rest(form) }}
		{{ form_end(form) }}
    </div>
	<div class='form__btn'>
		<button type="button" class="btn_menu btn btn--second"	onClick="attente(); redirection('parcEquipements');">Retour</button>
		<button type="button" class="btn_menu btn btn--main" onClick="attente(); document.forms['myForm'].submit();" >Modifier équipement</button>
	</div>
</div>

<script type='text/javascript'>	
	// Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .parc-tech').addClass('active');
    })
	$(document).ready(function(){
		$('#equipement_actif').click(function() {
			var $isNotChecked = $('#equipement_actif').is(':checked');
			if (! $isNotChecked) {
				if (confirm('Désactivation de l'équipement demandé !')) {
					/* OK */
					/* change OK + checked => not checked*/
					$('#equipement_actif').prop('checked', false);
				} else {
					/* change ANNULER + checked => checked */
            	    $('#equipement_actif').prop('checked', true);
				}
			}
		});
	});
</script>
{% endblock fos_user_content %}

