{# src/Lci/BoilerBoxBundle/Resources/views/GestionParc/change_module.html.twig #}
{% extends "LciBoilerBoxBundle::secondParcLayout.html.twig" %}


{% block fos_user_content %} 
{{ parent() }}

<main class='main-box'>
		<h1 class="main-box__title">Changement d'état</h1>
		<h2 class="main-box__sub-title">Module : {{ form.numero.vars.value }} ({{ form.nom.vars.value }}) <!--<span id='presence'></span>--></h2>
	    <div class='main-box__content'>
			{{ form_start(form, {'action':path('lci_change_parc_modules'), 'method':'POST', 'name':'myForm','class':'form'}) }}
				{{ form_errors(form) }}
				<div class="form__field">
					{{ form_widget(form.present) }}
					{{ form_label(form.present) }}
				</div>
				<div class="form__field">
					{{ form_widget(form.actif) }}
					{{ form_label(form.actif) }}
				</div>
	        	<div class='form__field'><div>{{ form_label(form.dateMouvement) }}</div><div>{{ form_widget(form.dateMouvement) }}</div></div>
				<div class="form__field">
					{{ form_label(form.type) }}
					{{ form_widget(form.type) }}
				</div>
	            <div class='site_module form__field'>
	            	{{ form_label(form.site) }}
	            	{{ form_widget(form.site) }}
	            </div>
	            <div class='form__field cacher'>
	                {{ form_row(form.numero) }}
	                {{ form_row(form.nom) }}
	                {{ form_row(form.id) }}
	            </div>
				{{ form_rest(form) }}
			{{ form_end(form) }}
	    </div>
		<div class='form__btn'> 
			<button  class="btn_menu btn btn--second" onClick="attente(); redirection('parcModules');">Retour</button>
			<button class="btn_menu btn btn--main" onClick="attente(); document.forms['myForm'].submit();" >Modifier</button>
		</div>
</main>

<script type='text/javascript'>
	// Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .parc-tech').addClass('active');
    })
	$(document).ready(function(){
		$("#module_dateMouvement").datepicker();

		$('#module_actif').click(function() {
			var $isNotChecked = $('#module_actif').is(':checked');
			if (! $isNotChecked) {
				if (confirm('Désactivation du module demandé !')) {
					/* OK */
					/* change OK + checked => not checked*/
					$('#module_actif').prop('checked', false);
				} else {
					/* change ANNULER + checked => checked */
            	    $('#module_actif').prop('checked', true);
				}
			}
		});

		if ($('#module_present').is(':checked')){
			$('#presence').html('Présent');
			$('.site_module').addClass('cacher');
		} else {
			$('#presence').html('Absent');
			$('.site_module').removeClass('cacher');
		}
        $('#module_present').change(function(){
			$('#module_dateMouvement').val($.format.date(new Date(), 'dd-MM-yyyy'));
            if ($('#module_present').is(':checked')){
				$('#presence').html('Présent');
				$('#module_site').val('');
				$('.site_module').addClass('cacher');
            } else {
				$('#presence').html('Absent');
				$('.site_module').removeClass('cacher');
			}
        });
	});
</script>
{% endblock fos_user_content %}

