{# src/Lci/BoilerBoxBundle/Resources/views/GestionParc/formulaire_recherche.html.twig #}
{% extends "LciBoilerBoxBundle::secondParcLayout.html.twig" %}
{% form_theme form 'form/fields.html.twig' %}

{% block messages_flash %} {{ parent() }}{% endblock messages_flash %}
{% block title %} {{ parent() }}Gestion du parc{% endblock title %}

{% block liens_css %}
	{{ parent() }}
	<style>
		#champs_intervenant, #champs_module, #champs_equipement{
			margin-bottom: 24px;
		}
	</style>
{% endblock liens_css %}

{% block fos_user_content %}
{{ parent() }}

<div class='listing main-box'>
    <h1 class="main-box__title">Recherche</h1>
    <div class='formulaire taille_texte_moyen main-box__content'>
		{{ form_start(form, {'action':path('lci_recherche_problemes'), 'method':'POST', 'name':'myForm', 'class':'form'}) }}
		{{ form_errors(form) }}
			<div class='form__field'>{{ form_errors(form.reference) }}</div>
			<div class='form__field'>
				{{ form_label(form.reference) }}
				{{ form_widget(form.reference) }}
			</div>	
            <div class='form__field'>{{ form_errors(form.type) }}</div>
            <div class='form__field'>{{ form_label(form.type) }}{{ form_widget(form.type) }}</div>
			<div class='form__field'>
				{{ form_label(form.corrige) }}{{ form_widget(form.corrige) }}
				{{ form_label(form.nonCorrige) }}{{ form_widget(form.nonCorrige) }}
				{{ form_label(form.cloture) }}{{ form_widget(form.cloture) }}
				{{ form_label(form.nonCloture) }}{{ form_widget(form.nonCloture) }}
				{{ form_label(form.bloquant) }}{{ form_widget(form.bloquant) }}
				{{ form_label(form.nonBloquant) }}{{ form_widget(form.nonBloquant) }}
				{{ form_label(form.present) }}{{ form_widget(form.present) }}
				{{ form_label(form.nonPresent) }}{{ form_widget(form.nonPresent) }}
			</div>
			<div class='form__field form__field--double'>
				<div>
					{{ form_label(form.dateDebut) }}
					{{ form_widget(form.dateDebut) }}
					{{ form_errors(form.dateDebut) }}
				</div>
				<div>{{ form_label(form.dateFin) }}
					{{ form_widget(form.dateFin) }}
					{{ form_errors(form.dateFin) }}
				</div>
			</div>
			<div class='form__field'>
				{{ form_widget(form.chk_intervenant) }}{{ form_label(form.chk_intervenant) }}
				<div id='champs_intervenant' class='cacher'>{{ form_widget(form.intervenant) }}</div>
				{{ form_widget(form.chk_module) }}{{ form_label(form.chk_module) }}
				<div id='champs_module' class='cacher'>{{ form_widget(form.module) }}</div>
				{{ form_widget(form.chk_equipement) }}{{ form_label(form.chk_equipement) }}
				<div id='champs_equipement' class='cacher'>{{ form_widget(form.equipement) }}</div>
			</div>
		{{ form_rest(form) }}
		{{ form_end(form) }}
    </div>
    <div class=' notToBePrinted main-box__btn'>
    	{% if is_granted('ROLE_RESPONSABLE_PARC') %}
    		<button class="btn_menu btn btn--second" onClick="attente(); redirection('afficherProblemesAdmin');">Retour</button>
    	{% else %}
    		<button class="btn_menu btn btn--second" onClick="attente(); redirection('afficherProblemes');">Retour</div>
    	{% endif %}
		<button class="btn_menu btn btn--main" onClick="attente(); document.forms['myForm'].submit();">Rechercher</button>
    </div>
</div>




<script type='text/javascript'>
	// Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .parc-tech').addClass('active');
    });
	$(document).ready(function(){
		$('#obj_recherche_probleme_dateDebut').datepicker();
		$('#obj_recherche_probleme_dateFin').datepicker();
			
		/* Par défaut les cases ne sont pas cochées */
		$('input[type="checkbox"][name="obj_recherche_probleme[chk_intervenant]"]').attr('checked',false);
		$('input[type="checkbox"][name="obj_recherche_probleme[chk_module]"]').attr('checked',false);
		$('input[type="checkbox"][name="obj_recherche_probleme[chk_equipement]"]').attr('checked',false);

		/* Lorsque l'on coche une case, on affiche le champs correspondant.
		   Lorsqu'on décoche une case, on cache le champs correspondant.
	    */	
		$('input[type="checkbox"][name="obj_recherche_probleme[chk_intervenant]"]').click(function(){
			if ($('input[type="checkbox"][name="obj_recherche_probleme[chk_intervenant]"]').is(':checked') == true) {
				$('#champs_intervenant').removeClass('cacher');
			} else {
				$('#champs_intervenant').addClass('cacher');
			}
		});

        $('input[type="checkbox"][name="obj_recherche_probleme[chk_module]"]').click(function(){
            if ($('input[type="checkbox"][name="obj_recherche_probleme[chk_module]"]').is(':checked') == true) {
                $('#champs_module').removeClass('cacher');
            } else {
                $('#champs_module').addClass('cacher');
            }
        });

        $('input[type="checkbox"][name="obj_recherche_probleme[chk_equipement]"]').click(function(){
            if ($('input[type="checkbox"][name="obj_recherche_probleme[chk_equipement]"]').is(':checked') == true) {
                $('#champs_equipement').removeClass('cacher');
            } else {
                $('#champs_equipement').addClass('cacher');
            }
        });
	});
</script>
{% endblock fos_user_content %}
