{# src/Lci/BoilerBoxBundle/Resources/views/GestionParc/parc_equipements.html.twig #}
{% extends "LciBoilerBoxBundle::secondParcLayout.html.twig" %}

{% block title %} {{ parent() }} Parc des équipements{% endblock title %}

{% block fos_user_content %}
{{ parent() }}

{% block liens_css %}
	{{ parent() }}
	<style>
	.main-box--table__legend .green::before{background: #4CBB17;}
	.main-box--table__legend .orange::before{background: #FF8C00;}
	.main-box--table__legend .red::before{background: #FF2400;}
	.main-box--table__legend .blue::before{background: #0096FF;}
	.flex-table tr th{
		padding: 0 10px;
		font-size: 8pt;
	}
	.flex-table tr{
		cursor: initial;
	}
	.flex-table tr td{
		padding: 4px 10px;
		font-size: 10pt;
	}
	.flex-table .small{
		width: calc(20% - 20px);
	}
	.flex-table .medium{
		width: calc(40% - 20px);
	}
	.flex-table .wide{
		width: calc(100% - 20px);
	}
	tbody tr td img{
		cursor: pointer;
	}
	</style>
{% endblock %}

<main class='main-box main-box--table'>
    <h1 class="main-box__title main-box--table__title">Parc des équipements</h1>
	<div class='main-box__content'>
		<table class='flex-table'>
			<thead class='flex-table__thead'>
				<tr class="flex-table__row">
					<th class='small'>Modif.</th>
					<th class='wide selectionnable' onClick="attente();trie('type');">Type</th>
                    <th class='medium selectionnable'  onClick="attente();trie('actif');">Actif</th>
					<th class='medium'>Problèmes</th>
				</tr>
			</thead>
			<tbody class='flex-table__tbody'>
				{# Calcul du nombre de problèmes et du nombre de problèmes bloquants d'un module #}
				{% for entityEquipement in entities_equipements %} 
					{% set nb_problemes = 0 %}
					{% set nb_problemes_bloquant = 0 %}
					{% for problem in entityEquipement.problemeTechnique %}
						{% if problem.cloture == false %}
							{% set nb_problemes = nb_problemes + 1 %}
							{% if problem.bloquant == true %}
								{% set nb_problemes_bloquant = nb_problemes_bloquant + 1 %}
							{% endif %}
						{% endif %}
					{% endfor %}
					<tr class="flex-table__row"
						{% if entityEquipement.actif != true %}
							style='color:#0096FF; {# blue #}'
						{% elseif nb_problemes_bloquant > 0 %}
							style='color:#FF2400; {# red #}'
						{% elseif nb_problemes > 0 %}
							style='color:#FF8C00; {# orange #}'
						{% else %}
							style='color:#4CBB17; {# green #}'
						{% endif %}
					>
						<td class='small centrer'>
							{% if is_granted('ROLE_RESPONSABLE_PARC') %}
								<img src="{{ asset('bundles/lciboilerbox/images/actions/modifier.svg') }}" onClick="modifierEquipement({{ entityEquipement.id }});" style="width:20px; height:20px;"/>
							{% endif %}
						</td>
						<td class='wide'>{{ entityEquipement.type }}</td>
                        <td class='medium'>{% if entityEquipement.actif == true %}X{% endif %}</td>
						<td class='medium selectionnable'>
							<a class="a_nombre_problemes" onClick="afficheProblemes('{{ entityEquipement.id }}');return false;">{{ nb_problemes }}{% if nb_problemes > 0 and nb_problemes_bloquant > 0 %} ({{ nb_problemes_bloquant }} bloquant{% if nb_problemes_bloquant > 1 %}s{% endif %}){% endif %}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="main-box--table__legend">
			<div class="green">Equipement actif et fonctionnel</div>
			<div class="orange">Problèmes (non bloquants) sur l'équipement</div>
			<div class="red">Problèmes bloquants sur l'équipement</div>
			<div class="blue">Equipement non actif</div>
		</div>
		<form name='form_tri' method='post' action={{ path('lci_tri_parc_equipements') }} />
			<input type='hidden' name='champs_tri' id='champs_tri' />
		</form>
		<form name='form_change' method='post' action={{ path('lci_change_parc_equipements') }} />
			<input type='hidden' name='id_equipement' id='id_equipement' />
		</form>		
		<form name='form_equipementPbs' method='post' action={{ path('lci_affiche_equipement_problemes') }} />
			<input type='hidden' name='equipement_id' id='equipement_id' />
		</form>
	</div>
	<div class='main-box__btn main-box--table__btn'>
		<button class="btn_menu btn btn--second" onClick="attente(); redirection('retourMenu'); return false;">Retour</button>
		{% if is_granted('ROLE_RESPONSABLE_PARC') %}
			<button class="btn_menu btn btn--main" alt="Ajouter un équipement" onClick="attente(); redirection('ajouterEquipementFromParc'); return(false);">Ajouter équipement</button>
		{% endif %}
	</div>
</main>


<script type='text/javascript'>
	// Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .parc-tech').addClass('active');
    });
	function afficheProblemes($equipementId) {
		$('#equipement_id').val($equipementId);
		document.forms['form_equipementPbs'].submit();
	}

    function trie($champs) {
        $('#champs_tri').val($champs);
        document.forms['form_tri'].submit();
    }

    function modifierEquipement(idEquipement) {
        $('#id_equipement').val(idEquipement);
        document.forms['form_change'].submit();
    }
</script>

{% endblock fos_user_content %}

