{# src/Lci/BoilerBoxBundle/Resources/views/GestionParc/parc_modules.html.twig #}
{% extends "LciBoilerBoxBundle::secondParcLayout.html.twig" %}

{% block liens_css %}
	{{ parent() }}
	<style>
	.main-box--table__legend .green::before{background: #4CBB17;}
	.main-box--table__legend .orange::before{background: #FF8C00;}
	.main-box--table__legend .red::before{background: #FF2400;}
	.main-box--table__legend .blue::before{background: #0096FF;}
	.flex-table tr th{
		padding: 0 10px;
		font-size: 8pt;
	}
	.flex-table .flex-table__tbody{
		height: 50vh;
	}
	.flex-table tr{
		cursor: initial;
	}
	.flex-table tr td{
		padding: 4px 10px;
		font-size: 10pt;
	}
	.flex-table .small{
		width: calc(20% - 20px);
	}
	.flex-table .medium{
		width: calc(40% - 20px);
	}
	.flex-table .wide{
		width: calc(100% - 20px);
	}
	</style>
{% endblock %}

{% block title %} {{ parent() }} Parc des modules{% endblock title %}

{% block fos_user_content %}
{{ parent() }}

<main class='main-box main-box--table'>
    <h1 class="main-box__title main-box--table__title">Parc des modules</h1>
	<div class='main-box__content'>
		<table class='flex-table'>
			<thead class='flex-table__thead'>
				<tr class="flex-table__row">
					<th class='small'>Modif.</th>
					<th class='small selectionnable'  onClick="attente();trie('numero');">N°</th>
                    <th class='small selectionnable'  onClick="attente();trie('actif');">Actif</th>
					<th class='wide selectionnable' onClick="attente();trie('nom');">Nom</th>
					<th class='medium selectionnable'  onClick="attente();trie('type');">Type</th>
					<th class='small selectionnable'  onClick="attente();trie('present');">Présent</th>
					<th class='wide selectionnable' onClick="attente();trie('dateMouvement');">Date</th>
					{#<th class='zone_texte_moyen'>Destination</th>#}
					<th class='medium'>Problèmes</th>
				</tr>
			</thead>
			<tbody class='{# tab_liste_modules #} flex-table__tbody'>
				{# Calcul du nombre de problèmes et du nombre de problèmes bloquants d'un module #}
				{% for entityModule in entities_modules %} 
					{% set nb_problemes = 0 %}
					{% set nb_problemes_bloquant = 0 %}
					{% for problem in entityModule.problemeTechnique %}
						{% if problem.cloture == false %}
							{% set nb_problemes = nb_problemes + 1 %}
							{% if problem.bloquant == true %}
								{% set nb_problemes_bloquant = nb_problemes_bloquant + 1 %}
							{% endif %}
						{% endif %}
					{% endfor %}
					<tr class="flex-table__row"
						{% if entityModule.present != true %}
							style='color:#0096FF {# bleu #};'
						{% elseif nb_problemes_bloquant > 0 %}
							style='color:#FF2400 {# rouge #};'
						{% elseif nb_problemes > 0 %}
							style='color:#FF8C00 {# orange #};'
						{% else %}
							style='color:#4CBB17 {# vert #};'
						{% endif %}
					>
						<td class='small centrer selectionnable'>
							{% if is_granted('ROLE_RESPONSABLE_PARC') %}
								<img src="{{ asset('bundles/lciboilerbox/images/actions/modifier.svg') }}" onClick="modifierModule({{ entityModule.id }});" style="width:20px; height:20px;" />
							{% endif %}
						</td>
						<td class='small'>{{ entityModule.numero }}</td>
                        <td class='small'>{% if entityModule.actif == true %}X{% endif %}</td>
						<td class='wide'>{{ entityModule.nom }}</td>
						<td class='medium'>{{ entityModule.type }}</td>
						<td class='small'>{% if entityModule.present == true %}X{% endif %}</td>
						<td class='wide'>
							{% if entityModule.present == true %}
								Arrivé le {{ entityModule.dateMouvement|date('d/m/Y') }}
							{% else %}Parti le {{ entityModule.dateMouvement|date('d/m/Y') }}
							{% endif %}
						</td>
						{#<td class='zone_texte_moyen'>{% if entityModule.site is not empty %}{{ entityModule.site.affaire }} - {{ entityModule.site.intitule }}{% endif %}</td>#}
						<td class='{# zone_texte_petit #} medium selectionnable'>
							<a class="a_nombre_problemes" onClick="afficheProblemes('{{ entityModule.id }}');return false;">
								{{ nb_problemes }}
								{% if nb_problemes > 0 and nb_problemes_bloquant > 0 %}({{ nb_problemes_bloquant }} bloquant{% if nb_problemes_bloquant > 1 %}s{% endif %}){% endif %}
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="main-box--table__legend">
			<div class="green">Module présent et fonctionnel</div>
		    <div class="orange">Module présent avec problème(s) non bloquant(s)</div>
		    <div class="red">Module présent avec problème(s) bloquant(s)</div>
		    <div class="blue">Module non présent</div>
		</div>
		<form name='form_tri' method='post' action={{ path('lci_tri_parc_modules') }} />
			<input type='hidden' name='champs_tri' id='champs_tri' />
		</form>
		<form name='form_change' method='post' action={{ path('lci_change_parc_modules') }} />
			<input type='hidden' name='id_module' id='id_module' />
		</form>		
		<form name='form_modulePbs' method='post' action={{ path('lci_affiche_module_problemes') }} />
			<input type='hidden' name='module_id' id='module_id' />
		</form>
	</div>
	<div class='main-box__btn main-box--table__btn'>
		<button onClick="attente(); redirection('retourMenu'); return false;" class="btn_menu btn btn--second">Retour</button>
		{% if is_granted('ROLE_RESPONSABLE_PARC') %}
			<button onClick="attente(); redirection('ajouterModuleFromParc'); return(false);" class="btn_menu btn btn--main">Ajouter module</button>
		{% endif %}
	</div>
</main>


<script type='text/javascript'>
	// Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .parc-tech').addClass('active');
    });
	function afficheProblemes($moduleId) {
		$('#module_id').val($moduleId);
		document.forms['form_modulePbs'].submit();
	}

    function trie(champs) {
        $('#champs_tri').val(champs);
        document.forms['form_tri'].submit();
    }

    function modifierModule(idModule) {
        $('#id_module').val(idModule);
        document.forms['form_change'].submit();
    }
</script>

{% endblock fos_user_content %}

