{% extends "LciBoilerBoxBundle::secondLayoutLogged.html.twig" %}
{# Dans la page : Accès jquery avec envoye d'un formulaire avec passage de fichier #}
{# Récupération d'une entité avec sous entité serializé avec gestion des Groups pour éviter le références circulaires #}
{# Utilisation de routes symfony en javascript avec passage d'argument #}
{# Utilisation du formatage avancé des routes javasript : new Intl.DateTimeFormat #}
{# Récupérer des information de l'url
window.location.hash: "#2"
window.location.host: "localhost:4200"
window.location.hostname: "localhost"
window.location.href: "http://localhost:4200/landing?query=1#2"
window.location.origin: "http://localhost:4200"
window.location.pathname: "/landing"
window.location.port: "4200"
window.location.protocol: "http:"
window.location.search: "?query=1"
#}


{% block boilerBoxCSS %}
   {{ parent() }}
   {# <link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/accueil.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lciboilerbox/css/authentification.css') }}" /> #}
	<style>
	html{
		background: #fafafa;
	}
	.main-box{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
	}
	.main-box img{
		width: 250px;
		height: auto;
	}
	.form{
		margin-left: 64px;
	}
	.form__infos{
		text-align: left;
		margin: 0 0 80px 0;
	}
	.form__btn{
		margin-top: 56px;
		align-self: flex-end;
	}
	</style>
{% endblock boilerBoxCSS %}

{% block mainBody %}
	<header class="sub-header sub-header--blue">
		<h1 class="sub-header__title">Authentification à double facteur</h1>
	</header>

	<main class="main-box">
		{% if qrcode is defined %}
			<img src="{{ qrcode }}" alt="QrCode à scanner" />
		{% endif %}
		<form action="{{ path('lci_boilerbox_accesSite') }}" method="post" name='myForm' id='myForm' class="form" data-logout={{ path('fos_user_security_logout') }}>
			{% if qrcode is defined %}
				<p class="form__infos">
					Veuillez scanner le QrCode ci-contre</br>
					avec l'application <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=fr" target="_blank">Google Authenticator</a>
					</br>et inscrire le code dans l'encart prévu à cet effet.
				</p>
			{% endif %}
			
			{% for message in app.session.flashbag.get('info') %}
                <span class='message_info_erreur'>{{ message }}</span>
            {% endfor %}
            <div class="form__field">
            	<label for="totp_key">Code généré</label>
				<input type='text' id="totp_key" name="totp_key" placeholder="Placez ici le code généré" required>
			</div>
			<div class="form__btn">
				<input type='reset' class="btn btn--second" value='Annuler' onClick="redirection('retourAccueil');">
				<input type='submit' class="btn btn--main" value='Envoyer'>
			</div>
		</form>
	</main>
{% endblock mainBody %}


{% block javascript %}
    {% javascripts
        'bundles/lciboilerbox/js/jquery.js'
        'bundles/lciboilerbox/js/authentification.js'
    %}
        <script type='text/javascript' src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

