{# app/FOSUserBundle/Resources/views/login.html.twig #}

{% extends "FOSUserBundle::secondLayoutUser.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} - Accueil{% endblock title %}

{% block boilerBoxCSS %}
    {{ parent() }}
    <style>
        .form--login .btn--main{
            margin: 3vh 0;
        }
    </style>
{% endblock boilerBoxCSS %}

{% block mainBody %}
<main class="main-box main-box--login">
    <div class="watermark watermark--big">
        <img class="watermark__logo watermark--big__logo" src="{{ asset('bundles/lciboilerbox/images/img/logoIBC.svg') }}" alt="Logo IBC">
        <p class="watermark__baseline watermark--big__baseline">
            <span>INDUSTRIAL</span>
            <span>BOILER</span>
            <span>CONTROL</span>
        </p>
    </div>
    <form class="form form--login" method="post" name="myForm" action="{{ path("fos_user_security_check") }}">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<input type="hidden" id="remember_me" name="_remember_me" value="on" />
		<input type="hidden" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"></input>


        
        <input type="text" id="identifiant" class="form--login__input" name="_username" placeholder="identifiant">
        <label for="identifiant" class="form--login__label">identifiant</label>
        <p class="form--login__error">veuillez renseigner un identifiant valide.</p>

        
        <input type="password" id="password" class="form--login__input" name="_password" placeholder="mot de passe">
        <label for="password" class="form--login__label">mot de passe</label>
        <p class="form--login__error">mot de passe non conforme !</p>
        
        <button type="submit" class="btn btn--main" onClick='validationFormulaire();return false;'>se connecter</button>
    </form>
    <a href="{{ path('fos_user_resetting_request') }}" class="link">mot de passe oublié ?</a>
	{#<a href="{{ path('lci_regles_confidentialites') }}" class="link">Règles de confidentialité</a>#}
    {# <p class="demo"><a href="http://demo.boiler-box.fr" class="linkDemo">Lien vers la démo</a></p> #}
</main>

{% block javascript %}
	<script type='text/javascript'>
    $('.form--login input').on('blur', function checkInput(){
        if($(this).val().length < 3 || $(this).val().length > 25){
            $(this).addClass('error');
            $(this).nextAll('p').eq(0).addClass("visible");
        }
    });
    $('.form--login input').on('focus', function resetInput(){
        $(this).removeClass('error');
        $(this).nextAll('p').eq(0).removeClass("visible");
    });

	function validationFormulaire() {
        var $login = $('#identifiant').val();
        var $password = $('#password').val();
        var url = "{{ path('lci_boilerbox_defineUserLog') }}";
        $.ajax({
            url : "{{ path('lci_boilerbox_defineUserLog') }}",
            type : 'POST',
            data : 'login=' + $login + '&password=' + $password,
            dataType : 'html',
            success : function(code_html, statut){
                document.forms['myForm'].submit();
            },
            error : function(resultat, status, error){
                alert("Erreur d'envoi des informations de login");
            }            
        });
    };
	</script>

{% endblock javascript %}


{% endblock mainBody %}


