{# app/FOSUserBundle/Resources/views/login.html.twig #}

{% extends "FOSUserBundle::secondLayoutUser.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} - Accueil{% endblock title %}

{% block boilerBoxCSS %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/login.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/style.css') }}" />
    <style>
    .main-box{
        position: relative;
        top: 6vh;left: auto;right: auto;
        margin: 0 auto;
        padding: 60px 85px 16px 85px;
        box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.3);
    }
    .btn{
        margin-top: 2vh;
    }
    </style>
{% endblock boilerBoxCSS %}

{% block mainBody %}
<main class="main-box">
    <div class="watermark">
        <img class="watermark__logo--login" src="{{ asset('bundles/lciboilerbox/images/img/logoIBC.svg') }}" alt="Logo IBC">
        <p class="watermark__baseline watermark__baseline--login">
            <span>INDUSTRIAL</span>
            <span>BOILER</span>
            <span>CONTROL</span>
        </p>
    </div>
    <form class="form form--login" method="post" name="myForm" action="{{ path("fos_user_security_check") }}">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<input type="hidden" id="remember_me" name="_remember_me" value="on" />
		<input type="hidden" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"></input>


        
        <input type="text" id="identifiant" name="_username" placeholder="identifiant" onblur="checkId(this)">
        <label for="identifiant">identifiant</label>
        <p id="js-error-id" class="form--login__error">veuillez renseigner un identifiant valide.</p>

        
        <input type="password" id="password" name="_password" placeholder="mot de passe" onblur="checkPassword(this)">
        <label for="password">mot de passe</label>
        <p id="js-error-pass" class="form--login__error">mot de passe non conforme !</p>
        
        <button type="submit" class="btn btn--main" onClick='validationFormulaire();return false;'>se connecter</button>
    </form>
    <p class="forget"><a href="{{ path('fos_user_resetting_request') }}" class="lienForget">mot de passe oublié ?</a></p>
    <p class="demo"><a href="http://demo.boiler-box.fr" class="linkDemo">Lien vers la démo</a></p>
</main>

{% block javascript %}
	<script type='text/javascript'>
    var id = document.getElementById('identifiant');
    var password = document.getElementById('password');
    var pId = document.getElementById('js-error-id');
    var pPassword = document.getElementById('js-error-pass');

    function checkId (id){
        if (id.value.length < 3 || id.value.length > 25){
            pId.classList.add("visible");
            id.classList.add("error");
        } else {
            pId.classList.remove("visible");
            id.classList.remove("error");
        }
    }
    function checkPassword (password){
        if (password.value.length < 3 || password.value.length > 25){
            pPassword.classList.add("visible");
            password.classList.add("error");
        } else {
            pPassword.classList.remove("visible");
            password.classList.remove("error");
        }
    }

	function validationFormulaire() {
        var $login = $('#identifiant').val();
        var $password = $('#password').val();
        var url = "{{ path('lci_boilerbox_defineUserLog') }}";
        $.ajax({
            url : "{{ path('lci_boilerbox_defineUserLog') }}",
            type : 'POST',
            data : 'login=' + $login + '&password=' + $password,
            dataType : 'html',
            success : function(code_html, statut){
                document.forms['myForm'].submit();
            },
            error : function(resultat, status, error){
                alert("Erreur d'envoi des informations de login");
            }            
        });
    };
	</script>

{% endblock javascript %}


{% endblock mainBody %}


