{# src/Lci/BoilerBoxBundle/Resources/views/Accueil/accueil.html.twig #}
{% extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" %}
{% block title %}{{ parent() }} Accueil{% endblock title %}

{% block fos_user_content %}

{{ parent() }}

<main class='{# listing #} card-wrapper'>
    <div class="card" onClick="attente(); redirection('menuUtilisateur');">
    	<img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/users.svg') }}" alt="Gestion des utilisateurs" >
    	<div class="card__container">
    		<h4 class="card__container__title">Gestion utilisateurs</h4>
    		<p class="card__container__desc">Créer, modifier ou supprimer un utilisateur</p>
    	</div>
    </div>
    <div class="card" onClick="attente(); redirection('menuSite');">
    	<img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/sites.svg') }}" alt="Gestion des sites" >
    	<div class="card__container">
    		<h4 class="card__container__title">Gestion sites</h4>
    		<p class="card__container__desc">Créer, modifier ou supprimer un site d'exploitation</p>
    	</div>
    </div>
    <div class="card" onClick="attente(); redirection('gestionLiens');">
    	<img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/links.svg') }}" alt="Gestion des liens">
    	<div class="card__container">
    		<h4 class="card__container__title">Gestion liens</h4>
    		<p class="card__container__desc">Définir les accès utilisateurs aux sites d'exploitaion</p>
    	</div>
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
	    <div class="card" onClick="attente(); redirection('utilitaires');">
	    	<img class="card__img" src="{{ asset('bundles/lciboilerbox/images/administration/boutonsMenu/utilitaires.svg') }}" alt="Utilitaires">
	    	<div class="card__container">
	    		<h4 class="card__container__title">Utilitaires</h4>
	    		<p class="card__container__desc">Gérer les rôles utilisateurs, vérifier la disponbilités des sites et les logs de connexion</p>
	    	</div>
	    </div>
	{% endif %}
</main>

<script type='text/javascript'>
// Fonction style barre de navigation page active
	$(window).on('load', function pageActive(){
		$('.side-nav .parametres').addClass('active');
	})
</script>

{% endblock fos_user_content %}