{# src/Lci/BoilerBoxBundle/Resources/views/Registration/accueilSiteRegistration.html.twig #}
{# extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" #}
{% extends "LciBoilerBoxBundle::secondLayoutLogged.html.twig" %}


{% block mainBody %}
<div class='listing'>
<div class='ajout_objet'>
	<h1>Gestion des sites</h1>
	<div class='formulaire'>
		<form name='myForm' method='post' action="{{ path('lci_accueil_register_site') }}">
			<input type='hidden' name='choixAction' id='choixAction'>
			<div class='display_flex_row'>
				<div>
					<select name='choix_site' id='choix_site'>
						{% for site in liste_sites %}
							<option value={{ site.id }}>{{ site.affaire }} - {{ site.intitule }}</option>	
						{% endfor %}
					</select>	
				</div>
				<div>
					<img 	onClick="attente(); miseAJour();" 
							class="btn_moyen_picto" 
							alt="Modifier le site"
							src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btnPicto_modifier.png') }}"  
							onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btnPicto_modifier_hover.png') }}"  
							onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btnPicto_modifier.png') }}" />
				</div>
				<div>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
						<img 	onClick="attente(); validFormulaire('deleteSite');" 
								class="btn_moyen_picto" 
								alt="Supprimer le site"
								src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btnPicto_supprimer.png') }}" 
								onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btnPicto_supprimer_hover.png') }}"	
								onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btnPicto_supprimer.png') }}" 
						/>
					{% endif %}
				</div>
			</div>
		</form>
	</div>
	<div class='validation_formulaire'>
		<img 	onClick="attente(); validFormulaire('createSite');" 
				class="btn_menu" 
				alt="Créer un site"
				src="{{ asset('bundles/lciboilerbox/images/administration/boutons/btn_creer_site.png') }}" 
				onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/administration/boutons/btn_creer_site_hover.png') }}" 
				onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/administration/boutons/btn_creer_site.png') }}" />
		<img 	onClick="attente(); redirection('retourAccueil');" 
				class="btn_menu" 
				alt="Retour"
				src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_retour.png') }}" 			
				onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_retour_hover.png') }}" 				 
				onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_retour.png') }}" />
	</div>
</div>

<form name='formulaire_update' id='formulaire_update' action="{{ path('lci_site_update') }}" method='post'>
	<input type='hidden' name='idSite' id='idSite' />
</form>
</div>



<script type='text/javascript'>
function miseAJour() {
	$idSite = $('#choix_site :selected').val();
	$('#idSite').val($idSite);
	document.forms['formulaire_update'].submit();
}

function validFormulaire(choixAction) {
		$('#choixAction').val(choixAction);
		document.forms['myForm'].submit();
}

$(document).ready(function() {
	// Mise en place du focus sur la liste déroulante
	document.getElementById('choix_site').focus();
	$(document).keypress(function(e){
		if(e.keyCode == 8){
			// Bouton RETOUR
			annuleFormulaire();
		}
	});
});
</script>
{% endblock mainBody %}
