{# src/Lci/BoilerBoxBundle/Resources/views/Registration/accueilUserRegistration.html.twig #}
{% extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" %}

{#
        /* Exemple de MSGBOX en javascript
        $.msgBox({
        title: "Ooops",
        content: "Ohh dear! You broke it!!!",
        type: "error",
        buttons: [{ value: "Ok" }],
        afterShow: function (result) { alert("Message has been shown!"); }
        });
        */

#}

{% block liens_css %}
	{{ parent() }}
	<style>
	.form__btn--col{
		width: initial;
		max-width: initial;
	}
	</style>
{% endblock %}

{% block fos_user_content %}
{{ parent() }}
<section class='main-box'>
    <h1 class="main-box__title">Gestion des utilisateurs</h1>
    <div class='main-box__content'>
        <form name='myForm' method='post' action="{{ path('lci_accueil_register_user') }}">
            <input type='hidden' name='choixAction' id='choixAction'>
			<div class='form__field'>
				<label>Choix de l'utilisateur</label>
                <select name='choix_utilisateur' id='choix_utilisateur'>
                    {% for user in liste_users %}
                        {% if user.label != 'Admin' %}
                            <option value="{{ path('lci_update_user_own', {'idUtilisateur': user.id }) }}">{{ user.label }}</option>	
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
			<div class="form__btn form__btn--col">
				 <p class="btn_moyen_picto btn btn--main btn--wide" onClick="attente(); validFormulaire('updateUser');">Modifier</p>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
            	    <button src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btnPicto_supprimer.png') }}" 
						 onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btnPicto_supprimer_hover.png') }}"	
						 onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btnPicto_supprimer.png') }}" 
						 onClick="attente(); validFormulaire('deleteUser');" 
						 class="btn btn--delete btn--wide" 
						 alt="Supprimer l'utilisateur"
					>Supprimer</button>
				{% endif %}
			</div>
			<div class="form__field__choice">
				<p>OU</p>
				<hr>
			</div>
			<button class="btn btn--main btn--wide" onClick="attente(); validFormulaire('createUser');">Créer un nouvel utilisateur</button>
        </form>
    </div>
    <div class='form__btn'>
        <a href="{{ path('lci_gestion_admin') }}" class="btn_menu btn btn--second">Retour</a>
    </div>
</section>

{% endblock fos_user_content %}

{% block javascript %}
	{{ parent() }}

	<script type='text/javascript'>
		// Fonction style barre de navigation page active
		$(window).on('load', function pageActive(){
			$('.side-nav .parametres').addClass('active');
		});


		function validFormulaire($choixAction) {
        	var $utilisateur = $('#choix_utilisateur option:selected').html();
        	if ($choixAction == 'deleteUser') {
                $('#choixAction').val($choixAction);
                document.forms['myForm'].submit();
			} else if ($choixAction == 'updateUser') {
				// L'url vers le controller pour la modification se trouve en value des options du select (#choix_utilisateur) des utilisateurs 
				location.href = $('#choix_utilisateur option:selected').val();
        	} else {
        	    $('#choixAction').val($choixAction);
        	    document.forms['myForm'].submit();
        	}
    	}

    	$(document).ready(function() {
    	    // Mise en place du focus sur la liste déroulante
    	    document.getElementById('choix_utilisateur').focus();
    	    $(document).keypress(function(e){
    	        if(e.keyCode == 8){
    	            // Bouton RETOUR
    	            annuleFormulaire();
    	        }
    	    });
    	});
	</script>
{% endblock javascript %}
