{# src/Lci/BoilerBoxBundle/Resources/views/Registration/accueilSiteRegistration.html.twig #}
{# extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" #}
{% extends "LciBoilerBoxBundle::secondLayoutLogged.html.twig" %}

{% block boilerBoxCSS %}
	{{ parent() }}
	<style>
	html{
		background: #f2f2f2 !important;
	}
	.form__btn--col{
		width: initial;
		max-width: initial;
	}
	</style>
{% endblock boilerBoxCSS %}


{% block mainBody %}
	<header class="sub-header sub-header--blue">
		<h1 class="sub-header__title">Paramètres BoilerBox</h1>
	</header>
	<section class='main-box'>
		<h1 class="main-box__title">Gestion des sites</h1>
		<div class="main-box__content">
			<form class="form" name='myForm' method='post' action="{{ path('lci_accueil_register_site') }}">
				<input type='hidden' name='choixAction' id='choixAction'>
				<div class='form__field'>
					<label>Choix du site</label>
					<select name='choix_site' id='choix_site'>
						{% for site in liste_sites %}
							<option value={{ site.id }}>{{ site.affaire }} - {{ site.intitule }}</option>	
						{% endfor %}
					</select>
				</div>
				<div class="form__btn form__btn--col">
					<p class="btn_moyen_picto btn btn--main btn--wide" onClick="attente(); miseAJour();">Modifier</p>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
						<button onClick="attente(); validFormulaire('deleteSite');" class="btn btn--delete">Supprimer</button>
					{% endif %}
				</div>
				<div class="form__field__choice">
					<p>OU</p>
					<hr>
				</div>
				<button class="btn_menu btn btn--main btn--wide" onClick="attente(); validFormulaire('createSite');" >Créer un nouveau site</button>
			</form>
			<div class='form__btn'>
				<a href="{{ path('lci_gestion_admin') }}" class="btn_menu btn btn--second">Retour</a>
			</div>
		</div>
	</section>
</div>

<form name='formulaire_update' id='formulaire_update' action="{{ path('lci_site_update') }}" method='post'>
	<input type='hidden' name='idSite' id='idSite' />
</form>
</div>

<form name='formulaire_update' id='formulaire_update' action="{{ path('lci_site_update') }}" method='post'>
	<input type='hidden' name='idSite' id='idSite' />
</form>
</div>



<script type='text/javascript'>
function miseAJour() {
	$idSite = $('#choix_site :selected').val();
	$('#idSite').val($idSite);
	document.forms['formulaire_update'].submit();
}

function validFormulaire(choixAction) {
		$('#choixAction').val(choixAction);
		document.forms['myForm'].submit();
}

$(document).ready(function() {
	// Mise en place du focus sur la liste déroulante
	document.getElementById('choix_site').focus();
	$(document).keypress(function(e){
		if(e.keyCode == 8){
			// Bouton RETOUR
			annuleFormulaire();
		}
	});
});
</script>
{% endblock mainBody %}


