{# /var/www/vhosts/cargo-france.fr/boiler-box/Symfony/src/Lci/BoilerBoxBundle/Resources/views/Registration/changePassword.html.twig #}
{% extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" %}

{% block fos_user_content %}
{{ parent() }}

{% trans_default_domain 'FOSUserBundle' %}
<div class='listing'>
	<div class='ajout_objet'>
		<h1>Réinitialisation du mot de passe </h1>
			
		<div class='formulaire'>
			<div class='formulaire'>
				<form name='myForm' action="{{ path('lci_change_password') }}" method="POST" class="fos_user_change_password">
					<div>{{ form_errors(form.current_password) }}{{ form_widget(form.current_password) }}</div>
					<div>{{ form_errors(form.plainPassword.first) }}{{ form_widget(form.plainPassword.first) }}</div>
					<div>{{ form_errors(form.plainPassword.second) }}{{ form_widget(form.plainPassword.second) }}</div>
					{{ form_rest(form) }} 
				</form>
			</div>
		</div>
		<div class='validation_formulaire'>
			<img 	src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_valider.png') }}" 
					onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_valider_hover.png') }}" 
					onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_valider.png') }}" 
					onClick="attente(); document.forms['myForm'].submit();" 
					class="btn_menu" 
					alt="Créer un site"
			/>
			<img 	src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_annuler.png') }}" 
					onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_annuler_hover.png') }}" 
					onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_annuler.png') }}" 
					onClick="attente(); redirection('retourAccueil');" 
					class="btn_menu" 
					alt="Annuler"
			/>
		</div>
	</div>
</div>
{% endblock fos_user_content %}

