{# /var/www/vhosts/cargo-france.fr/boiler-box/Symfony/src/Lci/BoilerBoxBundle/Resources/views/Registration/generateurMdp.html.twig #}
{% extends "LciBoilerBoxBundle::secondLayoutLogged.html.twig" %}

{% block boilerBoxCSS %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/vertical-form-template.css') }}" />
	<style>
		.radio label{
			width: 100%;
	}
	</style>
{% endblock boilerBoxCSS %}

{% block mainBody %}
	<header class="sub-header sub-header--blue">
		<h1 class="sub-header__title">Générateur de mot de passe</h1>
	</header>
	<main {# id="formGenerationMdp" #} class="col-content">
		<p class="col-content__desc">Je choisis de générer un mot de passe...</p>
		{{ form_start(form, {'attr': {'class':'form'}}) }}
		{{ form_widget(form.duree) }}
		<div class="form__field">
			<span id="alerteV2" class="cacher">Pour les IBC ayant l’indice v2 en bas de la page « Accès »</span>
			<div id="contenuFormGenerateur">
				<div id="choixJournee"class="flexRow">
					<div class="flexColumn">
						<label id="labelJournee">Date</label>
						{{ form_widget(form.ladate) }}
					</div>
					<div id="blocHeure" class="flexColumn">
						<label id="labelHeure">Heure</label>
					    {{ form_widget(form.lheure) }}
					</div>
				</div>
				<label>Niveau d'authentification</label>
			    {{ form_widget(form.niveau) }}

			    <div id="blocSite" class="flexColumn">
				    <label>Site</label>
				    {{ form_widget(form.site) }}
				</div>
			    {{ form_rest(form) }}
			</div>
		</div>

		<div class="form__btn form__btn--col form__btn--not-allowed">
	    	<button id="boutonGenerer" class="btn btn--main wide btn--disabled">Générer</button>
	    	<a href="{{ path("lci_boilerbox_index")}}" class="btn btn--second">Retour</a>
	    </div>

	    <section id="popUpMdpGenere" class="popup{# popUpPrincipale #} cacher">
	    	<div class="popup__wrapper">
		    	<div class="popup__header{# headerPopUpPrincipale #}">
		    		<h1 class="popup__title">Mot de passe généré !</h1>
		    		<div class="close-cross" onclick="closePopUpPrincipale()"></div>
		    	</div>
		    	<div class="popup__content{# contenuPopUpPrincipale #}">
		    		<p>Pensez à noter vos identifiants.</br>
		    			Ceux-ci seront valables <span id="texteDureeValide"></span>.
		    		</p>
		    		<ul>
		    			<li class="fauxLabel">Votre login</li>
		    			<li id="identifiantGenere"></li>
		    			<li class="fauxLabel">Votre mot de passe</li>
		    			<li id="mdpGenere">{% if mot_de_passe is not null %}{{ mot_de_passe }}{% endif %}</li>
		    		</ul>
		    	</div>
		    </div>
	    </section>
	</main>
{{ form_end(form) }}
{% endblock mainBody %}

{% block javascript %}
	<script>
	// Fonction style barre de navigation page active
	$(window).on('load', function pageActive(){
		$('.side-nav .gene-mdp').addClass('active');
	})

	
	$( ':radio' ).removeAttr('checked');

	var inputHeure = document.getElementById("generateur_mdp_duree_0");
	var inputJournee = document.getElementById("generateur_mdp_duree_1");

	function switchHeure(){
		if ($('#generateur_mdp_duree_0').prop('checked') == true){
			$('#generateur_mdp_duree label[for=generateur_mdp_duree_0]').addClass('generateurChecked');
			$('#blocSite').css({'display': 'none'});
			$('#boutonGenerer').removeClass('btn--disabled');
			$('.form__btn').removeClass('form__btn--not-allowed');
		} else if ($("#generateur_mdp_duree_0").prop("checked") == false){ 
			$('#generateur_mdp_duree label[for=generateur_mdp_duree_0]').removeClass('generateurChecked');
			$('#blocSite').css({'display': 'block'});
		} if ($('#generateur_mdp_duree_1').prop('checked') == true){
			$('#generateur_mdp_duree label[for=generateur_mdp_duree_1]').addClass('generateurChecked');
			$('#blocHeure').css({'display': 'none'});
			$('#boutonGenerer').removeClass('btn--disabled');
			$('.form__btn').removeClass('form__btn--not-allowed');
			$('#alerteV2').removeClass('cacher');
		} else if ($("#generateur_mdp_duree_1").prop("checked") == false){
			$('#generateur_mdp_duree label[for=generateur_mdp_duree_1]').removeClass('generateurChecked');
			$('#blocHeure').css({'display': 'flex'});
			$('#alerteV2').addClass('cacher');
		}
	};
	inputHeure.onclick = switchHeure;
	inputJournee.onclick = switchHeure;

	var popUpMdpGenere = document.getElementById('popUpMdpGenere');
	function closePopUpPrincipale(){
		if ($('#popUpMdpGenere').hasClass('cacher')){
			$('#popUpMdpGenere').removeClass('cacher');
		} else {
			$('#popUpMdpGenere').addClass('cacher');
		}
	};


	$(document).ready()
	{
		var login = "{{ login }}";
		var mot_de_passe = "{{mot_de_passe}}";
		if (mot_de_passe)
		{
        	var duree = "{{ duree }}";
            switch(duree)
            {
                case 'heure':
                    $('#texteDureeValide').text('1 heure');
                    break;
                case 'jour':
                    $('#texteDureeValide').text('1 journée');
                    break;
            }
			$('#identifiantGenere').text(login);
			$('#popUpMdpGenere').removeClass('cacher');
		} else if (mot_de_passe == null){
			$('#popUpMdpGenere').addClass('cacher');
		}
		/* Limitation de la date à + 7 jours */
        var max_date = new Date(Date.now() + 7 * 24 * 60 * 60 * 1000);
		var year = max_date.getFullYear();
		var mois = (max_date.getMonth() + 1).toString().padStart(2, "0");
		var jour = max_date.getDate().toString().padStart(2, "0");

        var max_date_str = year + '-' + mois + '-' + jour;
		$('#generateur_mdp_ladate').prop('max',max_date_str);
	}
	</script>
{% endblock javascript %}
