{# src/Lci/BoilerBoxBundle/Resources/views/Registration/newEquipement.html.twig #}
{% extends "LciBoilerBoxBundle::secondParcLayout.html.twig" %}

{% block fos_user_content %}
{{ parent() }}
<form method='post' name='form_retour_ticket' action={{ path('lci_register_problemeTechnique') }}>
   <input type='hidden' id='id_probleme' name='id_probleme' value="{{ id }}" />
</form>

<div class='listing'>
	<div class='ajout_objet'>
		<h1>Nouvel équipement</h1>
	    <div class='formulaire'>
			{{ form_start(form, {'action':path('lci_register_equipement', {'provenance':provenance}), 'method':'POST', 'name':'myForm'}) }}
				{{ form_errors(form) }}
	     		<div>{{ form_widget(form.type) }}</div>
				<div>{{ form_widget(form.actif) }}{{ form_label(form.actif) }}</div>
	        	<div class='cacher'>
	            	{{ form_row(form.id) }}
	        	</div>
			{{ form_end(form) }}
		</div>

		<div class='validation_formulaire'> 
			<img src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_creer_equipement.png') }}" class="btn_menu" alt="Créer un équipement"
				onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_creer_equipement_hover.png') }}" 	
				onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_creer_equipement.png') }}" 
				onClick="attente(); document.forms['myForm'].submit();">
			{% if provenance == 'ticket' %}
				<img src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_retour_ticket.png') }}" class="btn_menu" alt="Retour au ticket"
					onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_retour_ticket_hover.png') }}" 	
					onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btn_retour_ticket.png') }}" 	
					onClick="attente(); retourTicket();">
			{% else %}
				<img src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_retour_menu.png') }}" class="btn_menu" alt="Retour au menu"
					onmouseover=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_retour_menu_hover.png') }}" 	
					onmouseout=this.src="{{ asset('bundles/lciboilerbox/images/commun/boutons/btn_retour_menu.png') }}" 	
					onClick="attente(); redirection('retourMenu');">
			{% endif %}
		</div>
	</div>
</div>


<script type='text/javascript'>
    function retourTicket() {
        document.forms['form_retour_ticket'].submit();
    }
</script>
{% endblock fos_user_content %}

