{# src/Lci/BoilerBoxBundle/Resources/views/Registration/newEquipement.html.twig #}
{% extends "LciBoilerBoxBundle::secondParcLayout.html.twig" %}

{% block fos_user_content %}
{{ parent() }}
<form method='post' name='form_retour_ticket' action={{ path('lci_register_problemeTechnique') }}>
   <input type='hidden' id='id_probleme' name='id_probleme' value="{{ id }}" />
</form>

<section class='main-box'>
	<h1 class="main-box__title">Nouvel équipement</h1>
	<div class="main-box__content">
		{{ form_start(form, {'action':path('lci_register_equipement', {'provenance':provenance}), 'method':'POST', 'name':'myForm', 'class':'form'}) }}
			{{ form_errors(form) }}
	 		<div class="form__field">
	 			<label>Type d'équipement</label>
	 			{{ form_widget(form.type) }}
	 		</div>
			<div class="form__field">
				{{ form_widget(form.actif) }}{{ form_label(form.actif) }}
			</div>
	    	<div class='form__field cacher'>
	        	{{ form_row(form.id) }}
	    	</div>
		{{ form_end(form) }}
		<div class='form__btn'> 
			{% if provenance == 'ticket' %}
				<button class="btn_menu btn btn--second" onClick="attente(); retourTicket();">Retour ticket</button>
			{% else %}
				<button  class="btn_menu btn btn--second" onClick="attente(); redirection('retourMenu');">Retour</button>
			{% endif %}
			<button class="btn_menu btn btn--main" onClick="attente(); document.forms['myForm'].submit();">Créer équipement</button>
		</div>
	</div>
</section>


<script type='text/javascript'>
    function retourTicket() {
        document.forms['form_retour_ticket'].submit();
    }
    // Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .parc-tech').addClass('active');
    })
</script>
{% endblock fos_user_content %}

