{# src/Lci/BoilerBoxBundle/Resources/views/Registration/newModule.html.twig #}
{% extends "LciBoilerBoxBundle::secondParcLayout.html.twig" %}

{% block fos_user_content %} 
{{ parent() }}
<form method='post' name='form_retour_ticket' action={{ path('lci_register_problemeTechnique') }}>
   <input type='hidden' id='id_probleme' name='id_probleme' value="{{ id }}" />
</form>
<section class='main-box'>
    {% block messages_flash %} {{ parent() }}{% endblock messages_flash %}
	<h1 class="main-box__title">Nouveau Module</h1>
	<div class="main-box__content">
		{{ form_start(form, {'action':path('lci_register_module', {'provenance':provenance}), 'method':'POST', 'name':'myForm', 'class':'form'}) }}
		{{ form_errors(form) }}
		<div class="form__field">
			<label>Numéro de module</label>
			{{ form_widget(form.numero) }}{{ form_errors(form.numero) }}
		</div>
	    <div class="form__field">
	    	<label>Nom</label>
	    	{{ form_widget(form.nom) }}{{ form_errors(form.nom) }}
	    </div>
	    <div class="form__field">
	    	<label>Type</label>
	    	{{ form_widget(form.type) }}{{ form_errors(form.type) }}
	    </div>
		<div class="form__field">
			{{ form_widget(form.present) }}{{ form_label(form.present) }}
	    	{{ form_widget(form.actif) }}{{ form_label(form.actif) }}
	    </div>
		<div class='form__field cacher'>
			{{ form_row(form.id) }}
			{{ form_row(form.dateMouvement) }}
		</div>
		<div class="form__field">
			{{ form_end(form) }}
		</div>
		<div class='form__btn'>
			{% if provenance == 'accueil' %}
				<button class="btn_menu btn btn--second" onClick="attente(); redirection('retourMenu');" >Retour</button>
			{% elseif provenance == 'ticket' %}
				<button class="btn_menu btn btn--second" onClick="attente(); retourTicket();">Retour ticket</button>
			{% else %}
				<button class="btn_menu btn btn--second" onClick="attente(); redirection('parcModules');">Retour parc</button>
			{% endif %}
			<button class="btn_menu btn btn--main" onClick="attente(); document.forms['myForm'].submit();">Créer module</button>
		</div>
	</div>
</section>


<script type='text/javascript'>
    function retourTicket() {
        document.forms['form_retour_ticket'].submit();
    }
    // Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .parc-tech').addClass('active');
    })
</script>

{% endblock fos_user_content %}

