{# src/Lci/BoilerBoxBundle/Resources/views/Registration/newSite.html.twig #}
{% extends "LciBoilerBoxBundle::secondLayoutLogged.html.twig" %}

{% form_theme form 'form/fields_administration.html.twig' %}

{% block boilerBoxCSS %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/vertical-form-template.css') }}" />
    <style>
        .btn--add{
            margin-top: 24px;
        }
    </style>
{% endblock boilerBoxCSS %}


{% block mainBody %}
	<main>
        <header class="sub-header sub-header--grey">
		  <h1 class="sub-header__title">Paramètres de site</h1>
        </header>
        <div class="tab-wrapper">
            <ul class="tab-wrapper__tabs">
                <li class="tab-wrapper__tabs__tab active" data-tab-target="#infos">Infos</li>
                <li class="tab-wrapper__tabs__tab" data-tab-target="#connexion">Connexion</li>
                <li class="tab-wrapper__tabs__tab" data-tab-target="#autre">Autre</li>
            </ul>
            <div class="tab-wrapper__content">
    			{{ form_start(form, {'action':path('lci_register_site'), 'method':'POST', 'name':'myForm'}) }}
                	<div id="infos" class="active form__field" data-tab-content>
                	    <div>
    						{{ form_row(form.intitule) }}
    						<div class="ligne_error">{{ form_errors(form.intitule) }}</div>
    						{{ form_row(form.affaire) }}		
    						<div class="ligne_error">{{ form_errors(form.affaire) }}</div>
                            {{ form_row(form.version) }}
                            <div class="ligne_error">{{ form_errors(form.version) }}</div>
							<div class='cacher'>
								{{ form_widget(form.siteConfigurations) }}
							</div>
    					</div>
    					<div class="newParametre addParametreInfos cacher">
    						<p id='pParametreInfos'>Nouveau Paramètre</p>
    					</div>
    					<div id="addParametreInfos" class="btn btn--add">
                            <div class="crossAdd"></div>
                            Ajouter un autre paramètre d'information
                        </div>
					
						{# On n'affiche pas le lien de suppression de paramètre lors de la création d'un nouveau site #}
                    	<div id='divDeSuppression' class="cacher">
                    	    {{ form_row(form.siteConfigurationPourSuppression) }}
                    	</div>
					</div>



                    <div id="connexion" class="form__field" data-tab-content>
                        <div id="site_siteConnexion_accesDistant">
                            <p class="titreFormModif">Surveillance de la connexion</p>
                            <div class="alignCheckbox">
                                {{ form_widget(form.siteConnexion.surveillance) }}
                            </div>
                            {{ form_row(form.siteConnexion.url) }}
                            <p class="titreFormModif">{{ form_label(form.siteConnexion.accesDistant) }}</p> 
                            <div class="alignCheckbox">
                                {{ form_widget(form.siteConnexion.accesDistant) }}
                            </div>
                            <div class="titreFormModif">{{ form_label(form.siteConnexion.typeConnexion) }}</div>
                            <div class="alignCheckbox">
                                {{ form_widget(form.siteConnexion.typeConnexion) }}
                            </div>
                            <div class="ligne_error"></div>
                            {{ form_row(form.siteConnexion.codeLive) }}
                            <div class="ligne_error"></div>
                        </div>
                        <div class="newParametre addParametreConnexion cacher">
                            <p id='pParametreConnexion'>Nouveau Paramètre</p>
                        </div>
                        <div id="addParametreConnexion" class="btn btn--add">
                            <div class="crossAdd"></div>
                            Ajouter un autre paramètre de connexion
                        </div>
                    </div>

                    <div id="autre" class="form__field" data-tab-content>
                        <div class="newParametre addParametreAutre cacher">
                            <p id='pParametreAutres'>Nouveau Paramètre</p>
                        </div>
                        <div id="addParametreAutre" class="btn btn--add">
                            <div class="crossAdd"></div>
                            Ajouter un autre paramètre
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="form__btn form__btn--col">
                <div class="btn btn--main" onClick='attente(); soumettreLeFormulaire("site_submit");'>Enregistrer</div>
                <div class="btn btn--second" onClick="attente(); redirection('retourAccueil');">Annuler</div>
            </div>
        </div>
	</main>
{% endblock mainBody %}

{% block javascript %}
<script>
    var $index = 0;

    const tabs = document.querySelectorAll('[data-tab-target]')
    const tabContents = document.querySelectorAll('[data-tab-content]')

    // Nouveaux paramètres crées
    var $nb_new_param_infos = 0;
    var $nb_new_param_connexion = 0;
    var $nb_new_param_autre = 0;



    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            const target = document.querySelector(tab.dataset.tabTarget)
            tabContents.forEach(tabContent => {
                tabContent.classList.remove('active')
            })
            tabs.forEach(tab => {
                tab.classList.remove('active')
            })
            tab.classList.add('active')
            target.classList.add('active')
        })
    });

    (function() {
        // On récupére le container en javascript
		var $container =  $('div#site_siteConfigurations');

        // On compte le nombre de champs existants ( Un champs = 2 input)
        $index = $container.find(':submit').length;

        // On place un listener de click sur le lien 'ajouter un paramètre de site'
        $('#addParametreInfos').click(function(e) {
            $('.addParametreInfos').removeClass('cacher');
            ajouterParametre($container, $($('#pParametreInfos')), 'infos');
            $nb_new_param_infos ++;
            e.preventDefault();
        });
        // On place un listener de click sur le lien 'ajouter un paramètre de connexion'
        $('#addParametreConnexion').click(function(e) {
            $('.addParametreConnexion').removeClass('cacher');
            ajouterParametre($container, $($('#pParametreConnexion')), 'connexion');
            $nb_new_param_connexion ++;
            e.preventDefault();
        });
        // On place un listener de click sur le lien 'ajouter un paramètre de type autres'
        $('#addParametreAutre').click(function(e) {
            $('.addParametreAutre').removeClass('cacher');
            ajouterParametre($container, $($('#pParametreAutres')), 'autre');
            $nb_new_param_autre ++;
            e.preventDefault();
        });

        $('#deleteParametre').click(function(e) {
            $('.deleteParametre').removeClass('cacher');
        });

    })();

    function ajouterParametre($container, $lientAjout, $encart) {
        var $template = $container.data('prototype').replace(/__name__label__/g, '').replace(/__name__/g, $index);

        // Création d'une objet jquery contenant le template
        $DOMTemplate = $($template);

        // Ajout du lien de suppression
        ajoutLienSuppression($DOMTemplate, $encart);

        // Ajout du template sur le DOM
        $lientAjout.after($DOMTemplate);

        // Cache des select autres que celui de l'onglet actif
        $('#site_siteConfigurations_' + $index + '_configuration').addClass('cacher');
        $('#site_siteConfigurations_' + $index + '_configuration_infos').addClass('cacher');
        $('#site_siteConfigurations_' + $index + '_configuration_connexion').addClass('cacher');
        $('#site_siteConfigurations_' + $index + '_configuration_autre').addClass('cacher');

        // Affichage du select de l'onglet actif
        $('#site_siteConfigurations_' + $index + '_configuration_' + $encart).removeClass('cacher');

        // On ajoute l'identifiant (index) qui identifie le select
        $('#site_siteConfigurations_' + $index + '_configuration_' + $encart).data('num_index', $index);

        // On place un listener de change pour modifier le select mappé lors de la modification du select actif
        $('#site_siteConfigurations_' + $index + '_configuration_' + $encart).change(function(e)
        {
            var $num_index = $(this).data('num_index');
            $('#site_siteConfigurations_' + $num_index + '_configuration').val($(this).val());
        });

        // Incrémentation du compteur de paramètres supplémentaires
        $index ++;
    }


    // Ajout d'un lien de suppression à l'objet DOM == => Object { 0: div.form-group, length: 1 }
    function ajoutLienSuppression($DOMTemplate, $encart) {
        // Création d'un objet DOM du lien de suppression
        var $lienSuppression = $('<div class="crossCloseContainer"></div>');
        // Ajout du lien à l'élément DOM (élément de class form-group)
        $DOMTemplate.prepend($lienSuppression);
        // Ajout d'un évenement de suppression de l'élément DOM associé au lien
        $lienSuppression.click(function(e) {
            $DOMTemplate.remove();
			$index --;
			switch($encart) {
				case 'infos':
					$nb_new_param_infos --;
					if ($nb_new_param_infos == 0) {
						$('.addParametreInfos').addClass('cacher');
					}
					break;
				case 'connexion':
					$nb_new_param_connexion --;
					if ($nb_new_param_connexion == 0) {
						$('.addParametreConnexion').addClass('cacher');
					}
					break;
				case 'autre':
					$nb_new_param_autre --;
					if ($nb_new_param_autre == 0) {
						$('.addParametreAutre').addClass('cacher');
					}
					break;
				}
            e.preventDefault();
        });
    }
</script>
{% endblock javascript %}



