{# src/Lci/BoilerBoxBundle/Resources/views/Bons/form_saisie_bons.html.twig #}

{% extends "LciBoilerBoxBundle::secondBonsLayoutLogged.html.twig" %}

{% block meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=0.5, shrink-to-fit=no">
{% endblock meta_viewport %}

{% block boilerBoxCSS %}
    {{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lciboilerbox/css/saisie_ba.css') }}" media='screen' />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/lciboilerbox/css/saisie_ba_print.css') }}" media='print' />
	<style>
		body > form{
			padding: 8px;
		}
		.erreur_formulaire {
			border: 2px solid red !important;
		}

        #table_des_equipements {
            width: 100%;
            min-width: initial;
        }
	</style>
{% endblock boilerBoxCSS %}

{% block title %}{{ parent() }} : Bons d'interventions{% endblock title %}
{% block class_menu_boiler %} elargir {% endblock class_menu_boiler %}
{% form_theme form 'templates/form/fields.html.twig' %}

{% block mainBody %}


<input type='hidden' name='id_contact' id='idContact'>

<header class="sub-header sub-header--blue">
	<h1 class="sub-header__title">Bons d'interventions</h1>
</header>

{{ form_start(form, {'action':path('lci_bons_saisie'), 'method':'POST', 'name':'myForm' }) }}
{{ form_errors(form) }}
<input type='hidden' value='non' name='enregistrement' id='enregistrement'>

<section class="info">
	<h1 class="info__title" style="margin-left:0px">Nouveau Bon</h1>
</section>

<main class="content">
<section class="content__brick">
	<fieldset class="fieldset">
		<h2 class="fieldset__title">Informations</h2>
		<div class="form__field rel">
    		{{ form_label(form.site) }}
			{{ form_widget(form.site) }}
			{{ form_errors(form.site) }}
			<button type="button" id="bntBonsSite" class="btn btn--main btn--round add tooltip-wrapper" onclick="togglePopUp(bonsSite)"><span class="tooltip">Créer site</span></button>
		</div>
        <div class="form__field">
			<div>
            	{{ form_label(form.numeroAffaire) }}
            	{{ form_widget(form.numeroAffaire) }}
            	{{ form_errors(form.numeroAffaire) }}
            </div>
        </div>
		{# Gestion du nom du contact en javascript car on le gère depuis le select html #}
        <div class="form__field cacher">
            {{ form_errors(form.nomDuContact) }}
            {{ form_label(form.nomDuContact) }}
        	{{ form_widget(form.nomDuContact) }}
        </div>
		<div class="form__field form__field--double">
			<div>
                {{ form_errors(form.service) }}
                {{ form_label(form.service) }}
                {{ form_widget(form.service) }}
			</div>
			<div>
                {{ form_errors(form.typeIntervention) }}
                {{ form_label(form.typeIntervention) }}
                {{ form_widget(form.typeIntervention) }}
			</div>
		</div>
		<div class="form__field form__field--double">
			<div>
				{{ form_label(form.userInitiateur) }}
				{{ form_widget(form.userInitiateur) }}
				{{ form_errors(form.userInitiateur) }}
			</div>
{#
			<div id='impression_fiche_site' class="form__field flex flex--row flex--between">
				<a href='https://goo.gl/maps/RG2zoSZrbis8vsqj6' target='google'>
					Accès Google Map
				</a>
				A COMMENTER
	        	<div class='validation_impression tooltip-wrapper notToBePrinted' style="margin:0;">
	        	    <img onClick="attente(); window.print(); return false;" alt="Valider" src="{{ asset('bundles/lciboilerbox/images/actions/imprimer.svg') }}" style="width:20px;height:20px;cursor:pointer;"/>
	        	    <span class="tooltip">Imprimer</span>
	        	</div>
#}
			<div>
				{{ form_label(form.user) }}
				{{ form_widget(form.user) }}
				{{ form_errors(form.user) }}
			</div>
		</div>
		<div class="form__field">
			{{ form_label(form.dateInitialisation) }}
			{{ form_widget(form.dateInitialisation) }}
			{{ form_errors(form.dateInitialisation) }}
		</div>
		{# <div>
			{{ form_errors(form.dateSignature) }}
			{{ form_label(form.dateSignature) }}
			{{ form_widget(form.dateSignature) }}
		</div> #}
	</fieldset>
	<fieldset class="fieldset">
		<h2 class="fieldset__title">Planning</h2>
		<div class="form__field form__field--double">
			<div>
				{{ form_label(form.dateDebutIntervention) }}
				{{ form_widget(form.dateDebutIntervention) }}
				{{ form_errors(form.dateDebutIntervention) }}
				
			</div>
			<div>
				{{ form_label(form.dateFinIntervention) }}
				{{ form_widget(form.dateFinIntervention) }}
				{{ form_errors(form.dateFinIntervention) }}
			</div>
		</div>
	</fieldset>
</section>
<section class="content__brick">
	<fieldset class="fieldset">
		<h2 class="fieldset__title">Contact</h2>
		<div class="form__field rel">
			<label>Nom</label>
			<select id='select_contact'>
				<option value=''></option>
			</select>
			<button type="button" id='btn_contact' class="btn btn--main btn--round add tooltip-wrapper cacher" onClick="gestionDesContacts2();"><span class="tooltip">Créer contact</span></button>
		</div>
		<div class="form__field form__field--double">
			<div>
				{{ form_errors(form.emailContactClient) }}
                {{ form_label(form.emailContactClient) }}
                {{ form_widget(form.emailContactClient, {'attr':{'class':"disabled"} }) }}
			</div>
			<div>
				{{ form_errors(form.telephoneContactClient) }}
                {{ form_label(form.telephoneContactClient) }}
				{{ form_widget(form.telephoneContactClient, {'attr':{'class':"disabled"} }) }}
			</div>
		</div>
	</fieldset>

	{# fieldset Equipement #}
	{% include "Equipements/html_encart_equipement.html.twig" %}

	<fieldset class="fieldset">
		<h2 class="fieldset__title">Fichier(s)</h2>
		<div class="form__field rel">
			<span id="add-fichierBon">Ajouter fichier PDF (20Mo max)</span>
			<button type="button" class="btn btn--main btn--round add tooltip-wrapper" onclick="gestionDesFichiers();"><span class="tooltip">Ajouter fichier</span></button>
		</div>
		<div id='fichiers_deja_joints2' class="add-list scroll">
		</div>
	</fieldset>
	<fieldset class="fieldset">
		<h2 class="fieldset__title">Photos</h2>
		<label class="form__field rel">
            {{ form_label(form.cheminDossierPhotos) }}
            {{ form_widget(form.cheminDossierPhotos) }}
            {{ form_errors(form.cheminDossierPhotos) }}
		</label>
	</fieldset>
</section>
<section class="content__brick">
	<fieldset class="fieldset">
		<h2 class="fieldset__title">Localisation</h2>
		<div id='map'></div>
	</fieldset>
	<div class="content__btn">
		<a href="{{ path('lci_bons_attachements') }}" class="btn_menu btn btn--second">Retour</a>
		<button class="btn_menu btn btn--main" onClick="checkValidationBeforeSend(); return false;">Créer bon</button>
	</div>
</section>

<!-- Section cachée -->
<section class="content__brick cacher">
    <fieldset class="cacher">
        <div class="form__field form__field--double">
            <div>
                {{ form_label(form.typeNouveau) }}
                {{ form_widget(form.typeNouveau) }}
                {{ form_errors(form.typeNouveau) }}
            </div>
            <div>
                {{ form_label(form.idNouveau) }}
                {{ form_widget(form.idNouveau) }}
                {{ form_errors(form.idNouveau) }}
            </div>
        </div>
		<div class="form__field form__field--double">
            <div>
                {{ form_label(form.siteNouveau) }}
                {{ form_widget(form.siteNouveau) }}
                {{ form_errors(form.siteNouveau) }}
            </div>
        </div>
    </fieldset>
</section>
	
	
</main>

{# Popup Equipements #}
{% include "Equipements/html_popup_equipement.html.twig" %}

<!-- Popup d'ajout de fichiers au bon -->
<section id="popupGestionFichiersBon" class="popup cacher">
    <div class="popup__wrapper" style="width:420px;">
        <header class="popup__header">
            <h1 id='titre_gestion_fichiers_bon' class="popup__title">Sélection des fichiers du bon</h1>
            <div id='close_cross_fichier' class="close-cross" onclick="fermeturePopupGestionFichiersBon();"></div>
        </header>

        <div class="popup__content">
            <div>
                <div class="form__field rel">
       				<div>
           				{{ form_errors(form.fichiersPdf) }}
           				{{ form_label(form.fichiersPdf) }}
           				{{ form_widget(form.fichiersPdf) }}
       				</div>
				</div>
				<span id='lien_ajout_fichier'></span>
			</div>
		</div>
		<div class="popup__action">
			<button class="btn btn--main" onclick="$('#close_cross_fichier').trigger('click'); return false;" style="margin-left:0;">Valider</button>
		</div
	</div>
</section>

{{ form_rest(form) }}
{{ form_end(form) }}

{# Popup de création des équipements #}
<section id="popupEquipement2" class="popup cacher">
    {{ render(path('lci_ajax_bon_new_equipement')) }}
</section>


<!-- popup Site -->
<section id="bonsSite" class="popup cacher">
	{{ render(path('lci_ajax_bon_new_siteBA')) }}
</section>


<!-- popup Nouveau Contact -->
<section id="bonsNouveauContact" class="popup cacher">
	<div class="popup__wrapper">
		<header class="popup__header">
			<h1 id='titre_nouveau_contact' class="popup__title">Nouveau Contact</h1>
			<div class="close-cross" onclick="togglePopUp(bonsNouveauContact)"></div>
		</header>
		<div class="popup__content">
            <div class="form__field form__field--double">
            	<div>
	                <label>Nom</label>
	                <input type='text' name='nomContact' id='nomContact'>
	            </div>
	            <div>
	                <label>Prénom</label>
	                <input type='text' name='prenomContact' id='prenomContact'>
	            </div>
	        </div>
            <div class="form__field form__field--double">
            	<div>
	                <label>Mail</label>
	                <input type='text' name='emailContact' id='emailContact'>
	            </div>
	            <div>
	                <label>Téléphone</label>
	                <input type='text' name='telephoneContact' id='telephoneContact'>
	            </div>
	        </div>
            <div class="form__field">
                <label>Fonction</label>
                <input type='text' name='fonctionContact' id='fonctionContact'>
            </div>
            <div class='form__btn form__btn--col notToBePrinted'>
                <button onClick="modifierContact(); return false;" class="btn_menu btn btn--main btn--wide">Modifier</button>
                <button onClick="supprimerContact(); return false;" class="btn_menu btn btn--delete btn--wide">Supprimer</button>
            </div>
		</div>
	</div>
</section>

<!-- popup Nouveau Contact V2-->
<section id="popupContact2" class="popup cacher">
	{{ render(path('lci_ajax_siteba_new_contact')) }}
</div>


<div class="navigation-mobile">
	<div class=""></div>
	<div class=""></div>
</div>
{% endblock mainBody %}









{% block javascript %}

<script type='text/javascript'>
    var $page_html = "{{ page }}";
    var $indexFichier = 1;
    var $indexFichierSiteBA = 1;
    var $indexContactSiteBA = 1;
    var $container_fichiers_bon;
    var $container_fichiers_site;
    var $container_contacts_site;
    var $tab_contact = new Array();
    var id_lien_fichiersPdf, id_select_intervenant, id_select_service, id_select_site, id_champs_nouveau_id_site, id_champs_nouveau_nom_site, id_champs_nouveau_type, id_champs_nom_du_contact, id_champs_tel_du_contact, id_champs_mail_du_contact;

    if ($page_html == 'ticket')
    {
        // Récupération du container des fichiers des bons
        $container_fichiers_bon     = $('#ticket_incident_fichiersPdf');

        // id du lien 'Parcourir' pour afficher la fenetre de recherche du fichier
        id_lien_fichiersPdf         = 'ticket_incident_fichiersPdf';

        // id du select intervenant
        id_select_intervenant       = 'ticket_incident_user';

        // id du select site
        id_select_site              = 'ticket_incident_site';

        // id du champs id d'un nouveau site
        id_champs_nouveau_id_site   = 'ticket_incident_idNouveau';

        // id du nom d'un site qui vient d'être crée
        id_champs_nouveau_nom_site  = 'ticket_incident_siteNouveau';

        // id du type (bon ou ticket)
        id_champs_nouveau_type      = 'ticket_incident_typeNouveau';

        id_champs_nom_du_contact    = 'ticket_incident_nomDuContact';
        id_champs_tel_du_contact    = 'ticket_incident_telephoneContactClient';
        id_champs_mail_du_contact   = 'ticket_incident_emailContactClient';

		// id du select service
		id_select_service 			= 'ticket_incident_service';

		id_text_numeroAffaire		= 'ticket_incident_numeroAffaire';
    } else if ($page_html == 'bon')
    {
        $container_fichiers_bon     = $('#bons_attachement_fichiersPdf');
        id_lien_fichiersPdf         =   'bons_attachement_fichiersPdf';
        id_select_intervenant       = 'bons_attachement_user';
        id_select_site              = 'bons_attachement_site';
        id_champs_nouveau_id_site   = 'bons_attachement_idNouveau';
        id_champs_nouveau_nom_site  = 'bons_attachement_siteNouveau';
        id_champs_nouveau_type      = 'bons_attachement_typeNouveau';
        id_champs_nom_du_contact    = 'bons_attachement_nomDuContact';
        id_champs_tel_du_contact    = 'bons_attachement_telephoneContactClient';
        id_champs_mail_du_contact   = 'bons_attachement_emailContactClient';
		id_select_service			= 'bons_attachement_service';
        id_text_numeroAffaire       = 'bons_attachement_numeroAffaire';
    }
</script>

{% include "bons_et_tickets/fonction_ready_bons_et_tickets.js" %}
{% include "bons_et_tickets/fonction_bons_et_tickets.js" %}
{% include "Equipements/fonction_equipements.js" %}

<script src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&libraries=places&callback=initAutocomplete"></script>

{% endblock javascript %}
