{# src/Lci/BoilerBoxBundle/Resources/views/Bons/form_visu_un_bon.html.twig #}

{% extends "LciBoilerBoxBundle::secondBonsLayout.html.twig" %}

{% block meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=0.3, shrink-to-fit=no">
{% endblock meta_viewport %}

{% block title %}{{ parent() }} : Fichiers du bon{% endblock title %}

{% block class_menu_boiler %} elargir {% endblock class_menu_boiler %}

{% block liens_css %}
	{{ parent() }}
	<style>
	.main-box__action{
		top: 32px;
	}
	.main-box__content--padding{
		padding-bottom: 0;
	}
	.flex-table{
		width: 100%;
		min-width: initial;
	}
	.flex-table__thead tr{
		padding-right: initial;
	}
	.flex-table__thead tr th{
		padding-bottom: 4px;
	}
	.flex-table__tbody{
		height: initial;
		overflow: auto;
	}
	.flex-table__tbody tr{
		height: initial;
		cursor: initial;
	}
	.flex-table__tbody tr:hover{
		background: #fff;
	}
	.flex-table__tbody tr td{
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: 10pt;
	}
	#validation_des_bons_attachement .flex-table__tbody tr {
		border: none;
	}
	.flex-table .small{
		width: calc(30% - 20px);
	}
	.flex-table .wide{
		width: calc(100% - 20px);
	}
	#table_des_fichiers tr td.small img{
		cursor: pointer;
	}
	#bons_attachement_commentaires_commentaires{
		height: 40px !important;
		margin: 0;
	}
	</style>
{% endblock liens_css %}

{% block fos_user_content %}
<header class="sub-header sub-header--blue">
	<h1 class="sub-header__title">Bons d'interventions</h1>
</header>
<div id='erreur_formulaire_bon'>{{ form_errors(form_ajout_fichier) }}</div>
<section class="flex flex--row">
	<button class="btn btn--second"></button>
	<h1 class="main-content__title main-content--small__title no-border">Bon {{ entity_bon.numeroBA }} / Demande {{ entity_bon.id }}</h1>
	<button class="btn btn--main edit"></button>
</section>
<main id="grid-visuUnBon" class="grid">
	<section id="sub-grid-visuUnBon" class='main-content main-content--small grid__one'>
		
		<div class="main-content__content">
	   			<fieldset class="fieldset">
				<h2 class="fieldset__title">Informations</h2>
				<div class="form__field">
					<span class="data">{{ entity_bon.site.intitule }} ( {{ entity_bon.numeroAffaire | upper }} )</span>
				</div>
				<div class="form__field">
					<label>
						initialisé le
						<span class="data">{{ entity_bon.dateInitialisation | date('d/m/Y')  }}</span>
						par
						<span class="data">{{ entity_bon.userInitiateur.label }}</span>
					</label>
				</div>
				<div class="form__field">
					<label>
						Signé le
						<span class="data">
							{% if entity_bon.dateSignature is not null  %}
								{{ entity_bon.dateSignature | date('d/m/Y')  }}
							{% else %}
								&nbsp;
							{% endif %}
						</span>
					</label>
				</div>
				<div class="form__field">
						<label>Intervenant <span class="data">{{ entity_bon.user.label }}</span></label>
				</div>
			</fieldset>
			<fieldset class="fieldset">
				<h2 class="fieldset__title">Planning</h2>
				<div class="form__field form__field--double">
					<div>
						<label>Début intervention</label>
						{% if entity_bon.dateDebutIntervention is not null  %}
							<div class="input input--disabled">{{ entity_bon.dateDebutIntervention | date('d/m/Y')  }}</div>
						{% else %}
							<div class="input input--disabled">&nbsp;</div>
						{% endif %}
					</div>
					<div>
						<label>Fin intervention</label>
						{% if entity_bon.dateFinIntervention is not null  %}
							<div class="input input--disabled">{{ entity_bon.dateFinIntervention | date('d/m/Y')  }}</div>
						{% else %}
							<div class="input input--disabled">&nbsp;</div>
						{% endif %}
					</div>
				</div>
			</fieldset>
			<fieldset class="fieldset">
				<h2 class="fieldset__title">Site</h2>
				<div class="form__field">
					<label>Adresse du site</label>
					<div class="input input--disabled">24 Paper Street</div>
				</div>
				<div id="map"></div>
			</fieldset>
			<fieldset class="fieldset">
				<h2 class="fieldset__title">Contact</h2>
				<div class="form__field">
					<label>Nom Contact</label>
					<div class="input input--disabled">{{ entity_bon.nomDuContact }}</div>
				</div>
				<div class="form__field form__field--double">
					<div>
						{% if entity_bon.emailContactClient is not null  %}
							<div class="input input--disabled">{{ entity_bon.emailContactClient }}</div>
						{% else %}
							<div class="input input--disabled">&nbsp;</div>
						{% endif %}
					</div>
					<div>
						<div class="input input--disabled">03 21 14 15 16</div>
					</div>
				</div>
			</fieldset>
			<fieldset class="fieldset">
				<h2 class="fieldset__title">Équipement</h2>
				<div class="form__field">
					Aucun équipement sélectionné
				</div>
			</fieldset>

			<fieldset class="fieldset">
				<h2 class="fieldset__title">Enquête</h2>
				<div class="form__field">
					{% if entity_bon.enqueteFaite %}
						<span class='green'>Enquête faite</span>
					{% elseif entity_bon.enqueteNecessaire %}
						<span class='blue'>Enquête demandée</span>
					{% else %}
						<span class='red'>Pas d'enquête demandée</span>
					{% endif %}
				</div>
			</fieldset>
			
			<fieldset class="fieldset no-padding">
				<h2 class="fieldset__title">{{ entity_bon.fichiersPdf | length }}  Fichier{% if entity_bon.fichiersPdf | length > 1 %}s{% endif %} attaché{% if entity_bon.fichiersPdf | length > 1 %}s{% endif %} </h2>
				{% if is_granted('ROLE_SAISIE_BA') %}
					<div class="main-box__content main-box__content--padding">
			        	<div id='label_archive' class="form__field">
			        		<div class="checkbox">
				        	    <label>
				        	    	<input type='checkbox' id='chk_archive' name='chk_archive' value='chk_archive' onClick="afficheArchives();" />
				        	    	Afficher les fichiers archivés
				        	    </label>
				        	</div>
			        	</div>
			        </div>
				{% endif %}
				<table class='flex-table'>
					<thead class="flex-table__thead">
						<tr class="flex-table__row">
							{% if is_granted('ROLE_SAISIE_BA') %}
								<th class='small txt--center'>Archiver</th>
							{% endif %}
							<th class='wide'>Nom</th>
						</tr>
					</thead>
					<tbody id='table_des_fichiers' class="flex-table__tbody">
						{% for fichier in entity_bon.fichiersPdf %}
							<tr id="fichier_{{ fichier.id }}" onClick="afficheFichier('{{ fichier.bonAttachement.id }}_{{ fichier.id }}');" 
							{% if fichier.archive == true %}class="flex-table__row cacher archive" {% else %} class="flex-table__row" {% endif %}>
								{% if is_granted('ROLE_SAISIE_BA') %}
									<td class='small txt--center'>
										<img id="image_{{ fichier.id }}" 
											{% if fichier.archive == false %}
												src="{{ asset('bundles/lciboilerbox/images/bons/boutonsMenu/croix-ajout.png') }}" 
											{% else %}
												src="{{ asset('bundles/lciboilerbox/images/bons/boutonsMenu/croix-suppression.png') }}" 
											{% endif %} 
												onClick="archiveUnFichierDuBon('{{ fichier.id }}', '{{ fichier.archive }}');"
										/>
									</td>
								{% endif %}
								<td class='wide selectionnable' onClick="afficheFichier('{{ fichier.bonAttachement.id }}_{{ fichier.id }}');">
									<a id="{{ fichier.bonAttachement.id }}_{{ fichier.id }}" class='btn-disable' 
										href="{{ asset(prefix_image ~ '/uploads/bonsAttachement/fichiersDesBons/' ~ fichier.bonAttachement.id ~ '_' ~  fichier.url) }}" download='{{ fichier.alt }}' onClick="definirNomFichier(this.id, this.download);">
											{{ fichier.alt }} {% if fichier.informations is not null %}<br /><span class='informations_archivage'>{{ fichier.informations }}</span>{% endif %}
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			    <div id='formulaire_bons_fichiers' class=''>
					<div class="main-box__content main-box__content--padding" style="margin-top:16px;">
					    {{ form_start(form_ajout_fichier, {'action':path('lci_bons_afficher_unbon'), 'method':'POST', 'name':'myFormFichiers'}) }}
						{{ form_errors(form_ajout_fichier) }}
						<div>
							<span id='lien_ajout_fichier'></span>
							<div id='champ_ajout_fichiers_bon'>{{ form_widget(form_ajout_fichier.fichiersPdf) }}</div>
							<div>{{ form_errors(form_ajout_fichier.fichiersPdf) }}</div>
							<input type='hidden' name='id_bon' value="{{ entity_bon.id }}" />
						</div>
						{{ form_end(form_ajout_fichier) }}
					</div>
				</div>
				<div class="main-content__btn main-content--small__btn">
					<div id="js-btn-file" class="main-box__btn--disabled">
						<button class="btn btn--main btn--disabled" onclick="attente(); document.forms['myFormFichiers'].submit(); return false;">Ajouter</button>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="main-content__btn">
			<button onClick="attente(); redirection('bonsVisualiser'); return false;" class="btn_menu btn btn--second">Retour</button>
			{% if (entity_bon.userInitiateur.id == app.user.id) or (entity_bon.user.id == app.user.id) or is_granted('ROLE_SAISIE_BA') %}
				<button type="button" class="btn btn--main" onClick="updateBon({{ entity_bon.id }});">Modifier</button>
			{% endif %}
		</div>
	</section>


	<section class="grid__two">
		<!-- Validation -->
		<section id='validation_des_bons_attachement' class="main-content main-content--small w100">
		    <h1 class="main-content__title main-content--small__title">Validation</h1>
			{{ form_start(form_validation, {'action':path('lci_bons_saisie'), 'method':'POST', 'name':'myForm'}) }}
			{{ form_errors(form_validation) }}
				<table id="table_validation"  class='flex-table'>
				<thead class="flex-table__thead">
					<tr class="flex-table__row">
						<th>Technique</th>
						<th>Pièces</th>
						<th>SAV</th>
						<th>Facturation</th>
					</tr>
				</thead>
				<tbody class="flex-table__tbody">
					<tr class="flex-table__row">
                        <td>
                            {% if entity_bon.validationTechnique %}
                                {% if entity_bon.validationTechnique.valide == true %}
                                    <span style='color:green;'>{{ entity_bon.validationTechnique.user.label }}<br />Le {{ entity_bon.validationTechnique.dateDeValidation | date('d-m-Y') }}</span>
                                {% else %}
                                    {# Service Technique dé-validé : On affiche la checkbox pour le revalider si on a les droits de validation #}
                                    {% if is_granted('ROLE_SERVICE_TECHNIQUE') %}
                                        {{ form_widget(form_validation.validationTechnique) }}
                                    {% else %}
                                        {# Service Technique non validé - On n'a pas les droits de validation #}
                                        <span style='color:red;'>Non effectuée</span>
                                    {% endif %}
                                {% endif %}
                            {% elseif is_granted('ROLE_SERVICE_TECHNIQUE') %}
                                {# Service Technique non validé - On a les droits de validation #}
                                {{ form_widget(form_validation.validationTechnique) }}
                            {% else %}
                                {# Service Technique non validé - On n'a pas les droits de validation #}
                                <span style='color:red;'>Non effectuée</span>
                            {% endif %}
                        </td>
						<td>
							{% if entity_bon.validationPiece %}
	        		            {% if entity_bon.validationPiece.valide == true %}
									{# Service Pieces validé : On affiche l'icone pour le dévalider si on a les droits #}
									{# Seulement si l'offre n'a pas déjà ete faite #}

									{% if entity_bon.validationPieceFaite %}
										{% if entity_bon.validationPieceFaite.valide == false %}
                                    		{% if is_granted('ROLE_SERVICE_PIECES') %}
                                    		    <img    src="{{ asset('bundles/lciboilerbox/images/bons/boutonsMenu/croix-suppression.png') }}"
                                    		            onClick="changeValidation('pieces', false);"
                                    		            alt="Supprimer la validation pièces"
                                    		    />
                                    		{% endif %}
										{% endif %}
									{% else %}
										{% if is_granted('ROLE_SERVICE_PIECES') %}
                                            <img    src="{{ asset('bundles/lciboilerbox/images/bons/boutonsMenu/croix-suppression.png') }}"
                                                    onClick="changeValidation('pieces', false);"
                                                    alt="Supprimer la validation pièces"
                                            />
                                        {% endif %}
									{% endif %}
	        		                <span style="display:inline-block; color:green;">Pièces demandées par {{ entity_bon.validationPiece.user.label }}<br />Le {{ entity_bon.validationPiece.dateDeValidation | date('d-m-Y') }}</span>
	            		        {% else %}
									{# Service Pieces dé-validé : On affiche la checkbox pour le revalider si on a les droits de validation #}
                                    {% if is_granted('ROLE_SERVICE_PIECES') %}
                                        {{ form_widget(form_validation.validationPiece) }}
                                    {% endif %}
	                		        {# Service Pieces dé-validé #}
	                   				<span style="color:red">Demande annulée par {{ entity_bon.validationPiece.user.label }}<br />Le {{ entity_bon.validationPiece.dateDeValidation | date('d-m-Y') }}</span>
	                            {% endif %}
		                    {% elseif is_granted('ROLE_SERVICE_PIECES') %}
			                    {# Service Pièces non validé - On a les droits de validation #}
	    		                {{ form_widget(form_validation.validationPiece) }}
	        		        {% else %}
	            		        {# Service Pieces non validé - On n'a pas les droits de validation #}
	                		    <span style="color:red;">Non effectuée</span>
	                		{% endif %}
						</td>
						<td>
	                		{% if entity_bon.validationSAV %}
	                    		{% if entity_bon.validationSAV.valide == true %}
									{# Service SAV validé : On affiche l'icone pour le dévalider si on a les droits #}
									<span style='color:green;'>{{ entity_bon.validationSAV.user.label }}<br />Le {{ entity_bon.validationSAV.dateDeValidation | date('d-m-Y') }}</span>
                                {% else %}
									{# Service SAV dé-validé : On affiche la checkbox pour le revalider si on a les droits de validation #}
                                    {% if is_granted('ROLE_SERVICE_SAV') %}
                                        {{ form_widget(form_validation.validationSAV) }}
									{% else %}
										{# Service SAV non validé - On n'a pas les droits de validation #}
										<span style='color:red;'>Non effectuée</span>
                                    {% endif %}
	                            {% endif %}
			                 {% elseif is_granted('ROLE_SERVICE_SAV') %}
	                    		{# Service SAV non validé - On a les droits de validation #}
	                    		{{ form_widget(form_validation.validationSAV) }}
	                		{% else %}
	                   		 	{# Service SAV non validé - On n'a pas les droits de validation #}
	                    		<span style='color:red;'>Non effectuée</span>
	                		{% endif %}
						</td>
                        <td>
                            {% if entity_bon.validationFacturation %}
                                {% if entity_bon.validationFacturation.valide == true %}
                                    <span style='color:green;'>{{ entity_bon.validationFacturation.user.label }}<br />Le {{ entity_bon.validationFacturation.dateDeValidation | date('d-m-Y') }}</span>
                                {% else %}
                                    {# Service Facturation dé-validé : On affiche la checkbox pour le revalider si on a les droits de validation #}
                                    {% if is_granted('ROLE_SERVICE_FACTURATION') %}
                                        {{ form_widget(form_validation.validationFacturation) }}
                                    {% else %}
                                        {# Service Facturation non validé - On n'a pas les droits de validation #}
                                        <span style='color:red;'>Non effectuée</span>
                                    {% endif %}
                                {% endif %}
                            {% elseif is_granted('ROLE_SERVICE_FACTURATION') %}
                                {# Service Facturation non validé - On a les droits de validation #}
                                {{ form_widget(form_validation.validationFacturation) }}
                            {% else %}
                                {# Service Facturation non validé - On n'a pas les droits de validation #}
                                <span style='color:red;'>Non effectuée</span>
                            {% endif %}
                        </td>
					</tr>


	        		<tr class="flex-table__row">
	            		<td>
                            {% if entity_bon.validationTechnique %}
                                {% if entity_bon.validationTechnique.valide == true %}
                                    {# Service Technique validé : On affiche l'icone pour le dévalider si on a les droits #}
                                    {% if is_granted('ROLE_SERVICE_TECHNIQUE') %}
										<span style='color:red; cursor:pointer;' onClick="changeValidation('technique', false);">Annuler</span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
						</td>
	                    <td>
                            {% if entity_bon.validationPiece %}
                                {% if entity_bon.validationPiece.valide == true %}
                                    {% if entity_bon.validationPieceFaite %}
                                        {% if entity_bon.validationPieceFaite.valide == true %}
                                            {% if is_granted('ROLE_SERVICE_GESTION_PIECES') %}
                                                <img    src="{{ asset('bundles/lciboilerbox/images/bons/boutonsMenu/croix-suppression.png') }}"
                                                        onClick="changeValidation('pieces_faite', false);"
                                                        alt="Supprimer la validation commande pièces faite"
                                                />
                                            {% endif %}
                                            <span style="display:inline-block; color:green;">Offre traitée par {{ entity_bon.validationPieceFaite.user.label }}<br />Le {{ entity_bon.validationPieceFaite.dateDeValidation | date('d-m-Y') }}</span>
                                        {% else %}
                                            {% if is_granted('ROLE_SERVICE_GESTION_PIECES') %}
                                                {{ form_widget(form_validation.validationPieceFaite) }}
                                            {% endif %}
                                            <span style="color:red;">Offre dévalidée par {{ entity_bon.validationPieceFaite.user.label }}<br />Le {{ entity_bon.validationPieceFaite.dateDeValidation | date('d-m-Y') }}</span>
                                        {% endif %}
                                    {% else %}
                                        {% if is_granted('ROLE_SERVICE_GESTION_PIECES') %}
                                            {# Service piece faite non validé - On a les droits de validation #}
                                            <span style="inline-block;">Attente offre de pièce
                                        {% else %}
                                            {# Service SAV non validé - On n'a pas les droits de validation #}
                                            <span style="inline-block; pointer-events: none;">Non autorisé
                                        {% endif %}
                                        {{ form_widget(form_validation.validationPieceFaite) }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
						</td>
		                <td>
                            {% if entity_bon.validationSAV %}
                                {% if entity_bon.validationSAV.valide == true %}
                                    {# Service SAV validé : On affiche l'icone pour le dévalider si on a les droits #}
                                    {% if is_granted('ROLE_SERVICE_SAV') %}
										<span style='color:red; cursor:pointer;' onClick="changeValidation('sav', false);">Annuler</span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
						</td>
                        <td>
                            {% if entity_bon.validationFacturation %}
                                {% if entity_bon.validationFacturation.valide == true %}
                                    {# Service Facturation validé : On affiche l'icone pour le dévalider si on a les droits #}
                                    {% if is_granted('ROLE_SERVICE_FACTURATION') %}
                                        <span style='color:red; cursor:pointer;' onClick="changeValidation('facturation', false);">Annuler</span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
			        </tr>
				</tbody>
				</table>
			{{ form_end(form_validation, {'render_rest': false}) }} 
		</section>

		<!-- Commentaires -->
		<section id="commentaire-bons-attachements" class="main-content main-content--small w100">
			<h1 class="main-content__title main-content--small__title">Commentaires</h1>
			<div id='formulaire_bons_commentaires' class="main-box__content main-content__content--padding">
	        	{{ form_start(form_ajout_commentaires, {'action':path('lci_bons_commentaires', {'idBon':entity_bon.id}), 'method':'POST', 'name':'myFormCommentaires', 'class':'form'}) }}
	        	{{ form_errors(form_ajout_commentaires) }}
					<div id='commentaires_bon' class="scroll">{{ entity_bon.commentaires|raw|nl2br }}</div>
					<div id="my-comment" class='form__field'>
						{{ form_widget(form_ajout_commentaires.commentaires) }}
						{{ form_errors(form_ajout_commentaires.commentaires) }}
						<div id="js-btn-comm" class="main-box__btn">
							<div class="main-box__btn--disabled">
								<button class="btn btn--main btn--disabled" onClick="attente(); document.forms['myFormCommentaires'].submit(); return false;">Publier</button>
							</div>
						</div>
					</div>
	        	    <input type='hidden' name='id_bon' value="{{ entity_bon.id }}" />


                    <div>
                    {{ form_label(form_ajout_commentaires.telephoneContactClient) }}
                    {{ form_widget(form_ajout_commentaires.telephoneContactClient) }}
                    </div>


                    <div>
                    {{ form_label(form_ajout_commentaires.service) }}
                    {{ form_widget(form_ajout_commentaires.service) }}
                    </div>


                    <div>
                    {{ form_label(form_ajout_commentaires.typeIntervention) }}
                    {{ form_widget(form_ajout_commentaires.typeIntervention) }}
                    </div>



					<div>
					{{ form_label(form_ajout_commentaires.cheminDossierPhotos) }}
					{{ form_widget(form_ajout_commentaires.cheminDossierPhotos) }}
					</div>
	        	{{ form_end(form_ajout_commentaires) }}
	    	</div>
		</section>
		<!-- Fichiers -->
	    {# <section class='liste_fichiers_du_bon main-content w100'>
	    	<h1 class="main-content__title main-content--small__title">Fichiers</h1>
			
		</section>
	</section> #}

	
	<form method='post' name='form_modification_bon' id='form_modification_bon' action="{{ path('lci_bons_modifier_unbon', { 'idBon':entity_bon.id }) }}">
		<input type='hidden' name='id_bon' id='id_bon' />
	</form>
</main>
{% endblock fos_user_content %}



{% block javascript %}

<script type='text/javascript'>
	// Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .bons-interv').addClass('active');
    });
    // Fonction affichage selon l'onglet sélectionné
    const tabs = document.querySelectorAll('[data-tab-target]')
    const tabContents = document.querySelectorAll('[data-tab-content]')

    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            const target = document.querySelector(tab.dataset.tabTarget)
            tabContents.forEach(tabContent => {
                tabContent.classList.remove('active')
            })
            tabs.forEach(tab => {
                tab.classList.remove('active')
            })
            tab.classList.add('active')
            target.classList.add('active')
        })
    });
    // Fonction d'activation du bouton 'publier commentaire'
    $('#bons_attachement_commentaires_commentaires').on('keyup', function enableBtnComm(){
    	if($('#bons_attachement_commentaires_commentaires').val().length){
    		$('#js-btn-comm > div').removeClass('main-box__btn--disabled');
    		$('#js-btn-comm .btn--main').removeClass('btn--disabled');
    	} else if (!$('#bons_attachement_commentaires_commentaires').val().length){
    		$('#js-btn-comm > div').addClass('main-box__btn--disabled');
    		$('#js-btn-comm .btn--main').addClass('btn--disabled');
    	}
    });


	var $idBon = {{ entity_bon.id }};
    var $indexFichier;
    var $container;

	$(document).ready(function() {
		/* Débug largeur parent flex col */
		$('.main-content').css({'width':'initial'});
		setTimeout(function(){
			$('.main-content').css({'width':'fit-content'});
		}, 30);
		/* Désactivation de la checkbox Archive */
		$('#chk_archive').attr('checked', false);
		$('#bons_attachement_validation_validationTechnique_valide').click(function(e){
			e.preventDefault;
			$sens = $('#bons_attachement_validation_validationTechnique_valide').is(":checked");
			$type = 'technique';
			changeValidation($type, $sens);
		});
        $('#bons_attachement_validation_validationPiece_valide').click(function(e){
			e.preventDefault;
			$sens = $('#bons_attachement_validation_validationPiece_valide').is(":checked");
			$type = 'pieces';
			changeValidation($type, $sens);
        });
        $('#bons_attachement_validation_validationPieceFaite_valide').click(function(e){
            e.preventDefault;
            $sens = $('#bons_attachement_validation_validationPieceFaite_valide').is(":checked");
            $type = 'pieces_faite';
            changeValidation($type, $sens);
        });
        $('#bons_attachement_validation_validationSAV_valide').click(function(e){
			e.preventDefault;
			$sens = $('#bons_attachement_validation_validationSAV_valide').is(":checked");
			$type = 'sav';
			changeValidation($type, $sens);
        });
        $('#bons_attachement_validation_validationFacturation_valide').click(function(e){
			e.preventDefault;
			$sens = $('#bons_attachement_validation_validationFacturation_valide').is(":checked");
			$type = 'facturation';
			changeValidation($type, $sens);
        });
        /* Mise en place de l'objet datepicker avec 2 mois affichés */
        $.datepicker.setDefaults({
            numberOfMonths: 2
        });
        $("#bons_attachement_validation_dateSignature" ).datepicker();

        /* Récupération du container contenant l'attribut data-prototype */
        $container = $('#bons_attachement_modification_fichiersPdf');

		/* Calcul du nombre de fichiers déjà présent */
	    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    	$indexFichier = $container.find(':input').length;

		// Si le nombre de fichier est >= 1 on enlève les champs Parcourir inutiles

        /* Lien permettant l'ajout d'un nouveau fichier */
        var $addLink = $('<a href="#" id="add_fichier" class="small_link">Ajouter un fichier ({{ max_upload_size }} max)</a>');

        /* Ajout du lien dans la div du container */
        $('#lien_ajout_fichier').html($addLink);

        /* Ajout d'un listener pour créer un nouveau champs lors du clic sur le lien */
        $addLink.click(function(e){
            ajoutChampFichier();
			$('#bons_attachement_modification_fichiersPdf_' + ( $indexFichier - 1 ) + '_file').trigger("click");
			$('#js-btn-file > div').removeClass('main-box__btn--disabled');
    		$('#js-btn-file .btn--main').removeClass('btn--disabled');
            e.preventDefault();
            return false;
        });

		// Si le nombre de fichier est >= 1 on enlève les champs Parcourir inutils
		$('#formulaire_bons_fichiers div.form-group').addClass('cacher');


		/* Modification des infos bulles indiquant l'affichage des encarts fichiers et commentaires */
		$('#label_fichier').mouseover(function(e) {
			$('#info_bulle_fichier').removeClass('cacher');
			
		});
        $('#label_fichier').mouseout(function(e) {
            $('#info_bulle_fichier').addClass('cacher');

        });

		// $('#label_archive').mouseover(function(e) {
  //           $('#info_bulle_archive').removeClass('cacher');

  //       });
  //       $('#label_archive').mouseout(function(e) {
  //           $('#info_bulle_archive').addClass('cacher');

  //       });



			// ************************************************************************************ LISTENERS
			// Lors du click sur Chemin des photos / Récupération d'un fichier bat avec l'acces vers le dossier des photos du bon 
			$('#bons_attachement_commentaires_cheminDossierPhotos').dblclick(function()
			{
				var $id_bon = $('#bons_attachement_commentaires_id').val();

				var $url_controller_ajax_has_url 	= "{{ path('lci_bons_has_url', {'id_bon': 'identifiantDuBon'}) }}";
				$url_controller_ajax_has_url 		= $url_controller_ajax_has_url.replace('identifiantDuBon', $id_bon);
		
				$.ajax({
					url: $url_controller_ajax_has_url,
					method: "GET",
					success: function(msg){
						var $retour = $.parseJSON(msg);
						if ($retour['hasUrl'] == true)
						{
    		            	// Appel de la fonction pour télécharment du .bat
    		            	var $url_controller_fonction_bat 	= "{{ path('lci_get_fichier_bat', {'id_bon': 'identifiantDuBon'}) }}";
    		            	$url_controller_fonction_bat 		= $url_controller_fonction_bat.replace('identifiantDuBon', $id_bon);
		                	document.location = $url_controller_fonction_bat;
						} else {
							alert("Aucun dossier n'a été enregistré pour le bon");
						}
					},
					error: function(){
						alert('erreur serveur survenue lors de la recherche du dossier des photos');
					}
				});
			});

	});	

	function changeValidation($type, $sens) 
	{
        // On n'affiche plus les msgbox - Mettre en commentaire cette ligne pour proposer les msgbox ci dessous
        return sendAjaxRequest($idBon, $type, $sens);





		if($sens === false) {
			$.msgBox({
    			title: "Avertissement",
    			content: "Êtes vous certain de vouloir annuler la validation " + $type + " ? ",
    			type: "alert",
    			buttons: [{ value: "Oui" }, { value: "Annuler"}],
    			opacity: 1,
    			success: function (result) {
    			    if (result == "Annuler") {
						return false;
        			}
					if (result == "Oui") {
						return sendAjaxRequest($idBon, $type, $sens);
					}
    			}
			});
		} else {
			var $retourAjax;
			$.msgBox({
                title: "Information",
                content: "Êtes vous certain de vouloir effectuer la validation " + $type + " ? ",
                type: "confirm",
                buttons: [{ value: "Oui" }, { value: "Annuler"}],
                opacity: 1,
                success: function (result) {
                    if (result == "Annuler") {
                        switch($type) {
                            case 'technique':
                                $('#bons_attachement_validation_validationTechnique_valide').prop("checked", false);
                                break;
                            case 'sav':
                                $('#bons_attachement_validation_validationSAV_valide').prop("checked", false);
                                break;
                            case 'pieces':
                                $('#bons_attachement_validation_validationPiece_valide').prop("checked", false);
                                break;
                            case 'pieces_faite':
                                $('#bons_attachement_validation_validationPieceFaite_valide').prop("checked", false);
                                break;
                            case 'facturation':
								location.reload();
                                $('#bons_attachement_validation_validationFacturation_valide').prop("checked", false);
                                break;
                        }
                        return false;
                    }
                    if (result == "Oui") {
                     	return sendAjaxRequest($idBon, $type, $sens);
                    }
                }
            });
		}
	}



	function sendAjaxRequest($idBon, $type, $sens) {
		attente();
		setTimeout(function() {
			$.ajax({
        	    url: "{{ path('lci_ajax_bons_setValidation') }}",
        	    method: "post",
        	    data: {'identifiant':$idBon, 'type':$type, 'sens':$sens},
        	    success: function(msg) {
					window.location.assign(location.href); 
					fin_attente();
					return true;
        	    },
        	    error: function(request, $error, $msg) {
        	        alert('error ' + $error + $msg);
        	        fin_attente();
					switch($type) {
        	            case 'technique':
        	                $('#bons_attachement_validation_validationTechnique_valide').prop("checked", true);
        	                break;
        	            case 'sav':
        	                $('#bons_attachement_validation_validationSAV_valide').prop("checked", true);
        	                break;
        	            case 'pieces':
        	                $('#bons_attachement_validation_validationPiece_valide').prop("checked", true);
        	                break;
                        case 'pieces_faite':
                            $('#bons_attachement_validation_validationPieceFaite_valide').prop("checked", true);
                            break;
        	            case 'facturation':
        	                $('#bons_attachement_validation_validationFacturation_valide').prop("checked", true);
        	                break;
        	        }
					return false;
        	    }
        	});
		}, 500);
	}


	function afficheFichier($url) {
		$('#' + $url)[0].click();
	}


    function archiveUnFichierDuBon($idFichier, $archive) {
        $.ajax({
       	    url: "{{ path('lci_ajax_bons_archive_fichier') }}",
      	 	method: "post",
           	data: {'identifiant_fichier':$idFichier},
           	success: function($msg) {
				if ($archive == false) {
					$('#fichier_' +  $idFichier).addClass('archive');
					$('#image_' + $idFichier).attr('src', "{{ asset('bundles/lciboilerbox/images/bons/boutonsMenu/croix-suppression.png') }}");
					$('#image_' + $idFichier).attr('onClick',"archiveUnFichierDuBon('" + $idFichier + "', '1')");
				} else {
					$('#fichier_' +  $idFichier).removeClass('archive');
					$('#image_' + $idFichier).attr('src', "{{ asset('bundles/lciboilerbox/images/bons/boutonsMenu/croix-ajout.png') }}");
					$('#image_' + $idFichier).attr('onClick',"archiveUnFichierDuBon('" + $idFichier + "', '0')");
				}
				afficheArchives();
           	},
           	error: function($requete, $error, $msg) {
           	    alert('Erreur : Archivage non effectué');
           	}
       	});
    }



    // Fonction qui ajout un champs 'Nouveau fichier' en remplacant le label et le nom par l'index du fichier
    function ajoutChampFichier() {
        var $nouveauPrototype = $($('#bons_attachement_modification_fichiersPdf').data('prototype').replace(/__name__label__/g, '').replace(/__name__/g, $indexFichier));

        // Création et ajout d'un lien de suppression en fin de container
        $deleteLink = $('<a href="#" class="mini_link">Supprimer</a>');
        $nouveauPrototype.append($deleteLink);

        // Ajout du listener permettant la suppression du champ fichier lors du clic sur le lien
        $deleteLink.click(function(e){
            $nouveauPrototype.remove();
            e.preventDefault();
            return false;
        });

        // Ajout du prototype a la fin du container
        $container.prepend($nouveauPrototype);

        // Incrémentation de l'index des fichiers
        $indexFichier ++;
    }

	// Fonction qui renvoie vers la page de modification de bon
	function updateBon($idBon) {
        $('#id_bon').val($idBon);
        document.forms['form_modification_bon'].submit();
    }


	function toggleFiles() {
		$('#info_bulle_fichier').toggleClass("fichier");
		$('#formulaire_bons_fichiers').toggleClass("cacher");
		$('#formulaire_bons_commentaires').toggleClass("cacher");
		if ($('#formulaire_bons_fichiers').is(':visible')) {
			$('#img_validation').attr('onClick', "attente(); document.forms['myFormFichiers'].submit(); return false;");
		} else {
			$('#img_validation').attr('onClick', "attente(); document.forms['myFormCommentaires'].submit(); return false;");
		}	
	}


	function afficheArchives() {
		if ($('#chk_archive').is(":checked")) {
            $('#table_des_fichiers tr').each(function() {
               	$(this).removeClass('cacher');
            });
		} else if (!$('#chk_archive').is(':checked')){
			$('#table_des_fichiers tr').each(function() {
				if ($(this).hasClass('archive')) {
					$(this).addClass('cacher');
				}
			});
		} 
	}


    // Fonction qui supprime les informations contenues entre les parenthèses des noms de fichiers
    function definirNomFichier($idLien, $nomDuFichier)
    {
        var $regex = /\([a-zA-Z0-9àéèêâ:\/\s]+\)$/;
        $('#' + $idLien).attr('download', $.trim($nomDuFichier.replace($regex, '')));
    }

    /* Débug largeur parent flex col sur un resize */
    $(window).on('resize', function(){
        $('.main-content').css({'width':'initial'});
        setTimeout(function(){
        	$('.main-content').css({'width':'fit-content'});
        }, 30);

    });

</script>
{% endblock javascript %}
