{# src/Lci/BoilerBoxBundle/Resources/views/Bons/form_visu_bons.html.twig #}

{% extends "LciBoilerBoxBundle::secondBonsLayout.html.twig" %}

{% block meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=0.39, shrink-to-fit=no">
{% endblock meta_viewport %}

{% block title %}{{ parent() }} Visualisation des bons{% endblock title %}

{% block class_menu_boiler %} elargir {% endblock class_menu_boiler %}

{% block liens_css %}
	{{ parent() }}
	<style>
		.main-box--table__legend{
			justify-content: flex-start;
		}
		.main-box--table__legend > div:first-child::before{
			background: var(--main-col);
		}
		.main-box--table__legend > div:last-child::before{
			background: #FF5733;
		}
		.main-box .search-bar{
			width: 250px;
		}
	</style>
{% endblock liens_css %}

{% block fos_user_content %}
	{#
	# Pour un utlisateur lambda, seul ses bons sont visualisables.
	# Pour le service adsmallstration, tous les bons sont visualisables.
	#}


{# <div id='entete_de_page' data-src="{{ asset('bundles/lciboilerbox/images/parc/boutons/btnPicto_visualiser.png') }}">
	<h1>{% if is_granted('ROLE_GESTION_BA') %}Liste des {% else %}Mes {% endif %} bons d'interventions</h1>
</div> #}
<header class="sub-header sub-header--blue">
	<h1 class="sub-header__title">Inteventions et tickets</h1>
</header>


{# <div class='listing notToBePrinted'> #}
{% if filtre %}
	<div class='texte_refresh_liste_ba' onClick='refeshResearch();'>
		<div>Réinitialiser les filtres</div>
		<div class='refresh_liste_ba'>
			<span class='horizontal'></span>
			<span class='vertical'></span>
		</div>
	</div>
{% endif %}
<main class='main-box main-box--table main-box--visuBons'>
	<h1 class="main-box__title main-box--table__title">{# {% if is_granted('ROLE_GESTION_BA') %}Liste des {% else %}Mes {% endif %} bons d'interventions #}Liste bons d'interventions et tickets</h1>
    <div class='main-box__action main-box__action--wide'>
    	<div class="search-bar">
			<span class="search-bar__img"/></span>
			<input id='js-search-bon' class="search-bar__input" type="text" placeholder="Rechercher">
		</div>
    	<span class="tooltip-wrapper tooltip-wrapper--end" onClick="redirection('affinerRechercheBon'); return false;">
    		<img src="/bundles/lciboilerbox/images/actions/affiner.svg" />
    		<span class="tooltip">Affiner recherche</span>
    	</span>
    </div>
    <div class="main-box__content">
        <table id="js-liste-bon" class='flex-table'>
            <thead id='contenu_head_tableau_bons' class="flex-table__thead">
				<tr class="flex-table__row">
					<th scope='col' class='medium selectionnable' onclick="compare('nomDuSite');">Site</th>
					<th scope='col' class='medium selectionnable' onclick="compare('nomDuContact');">Contact</th>
					<th scope='col' class='small selectionnable' onclick="compare('dateDebutIntervention')">Du</th>
					<th scope='col' class='small selectionnable' onclick="compare('dateFinIntervention')">Au</th>
					<th scope='col' class='mini selectionnable' onclick="compare('site');">Affaire</th> 
					<th scope='col' class='mini selectionnable' onclick="compare('numeroBA')">Numéro</th>
					<th scope='col' class='medium selectionnable' onclick="compare('initiateur')">Init. par</th>
					<th scope='col' class='small selectionnable' onclick="compare('dateInitialisation')">le</th>
					<th scope='col' class='medium selectionnable' onclick="compare('label');">Intervenant</th>
					{# <th scope='col' class='small selectionnable' onclick="compare('dateSignature');">Signé le</th> #}
					<th scope='col' class='medium'>
						<div class='champs_validation_bon txt--center'>
							Validations
							<div class='sous_champs_validation_bon'>
								<div>Tech.</div>
								<div>Pièces.</div>
								<div>SAV</div>
								<div>Fact.</div>
							</div>
						</div>
					</th>
					<th class="small txt--center">Enquête</th>
					{# <th scope='col' class='small txt--center'>Voir</th> #}
				</tr>
			</thead>

			<tbody id='contenu_tableau_bons' class="flex-table__tbody scroll">
				{% for ent_bons in entities_bon %}
				<tr {% if ent_bons.type == "ticket" %}class='flex-table__row row-ticket' {% else %} class='flex-table__row row-bon' {% endif %} onclick="afficherBonOuTicket({{ ent_bons.id}}, '{{ent_bons.type }}');">
					<td class='medium' data-intitule='nomDuSite'>
						{{ ent_bons.site.intitule }}
					</td>
					<td class='medium' data-intitule='nomDuContact'>
					    {{ ent_bons.nomDuContact  }}
					</td>
                    <td class='small' data-intitule='dateDebutIntervention'>
						{% if ent_bons.dateDebutIntervention is not null  %}
							{% if ent_bons.type == 'bon' %}
	                        	{{ ent_bons.dateDebutIntervention | date('d/m/Y') }}
							{% else %}
								{{ ent_bons.dateDebutIntervention | date('d/m/Y H:i') }}
							{% endif %}
						{% endif %}
                    </td>
                    <td class='small' data-intitule='dateFinIntervention'>
						{% if ent_bons.dateFinIntervention is not null  %}
							{% if ent_bons.type == 'bon' %}
                        		{{ ent_bons.dateFinIntervention | date('d/m/Y') }}
							{% else %}
								{{ ent_bons.dateFinIntervention | date('d/m/Y H:i:s') }}
							{% endif %}
						{% endif %}
                    </td>
                    <td class='mini centrer' data-intitule='site'>
                    	{{ ent_bons.numeroAffaire | upper }}
                    </td>
					<td class='mini' data-intitule='numeroBA'>
						{{ ent_bons.numeroBA }}
					</td>
					<td class='medium' data-intitule='initiateur'>
					    {{ ent_bons.userInitiateur.label }}
					</td>
                    <td class='small' data-intitule='dateInitialisation'>
						{% if ent_bons.dateInitialisation is not null  %}
							{% if ent_bons.type == 'bon' %}
                        		{{ ent_bons.dateInitialisation | date('d/m/Y') }}
							{% else %}
								{{ ent_bons.dateInitialisation | date('d/m/Y H:i') }}
                            {% endif %}
						{% endif %}
                    </td>
                    <td class='medium' data-intitule='label'>
                    	{{ ent_bons.user.label }}
                    </td>
                    {# <td class='small' data-intitule='dateSignature'>
						{% if ent_bons.dateSignature is not null  %}
                        	{{ ent_bons.dateSignature | date('d/m/Y')  }}
						{% endif %}
                    </td> #}
					<td class='medium' data-intitule='validation'>
						<div class='champs_validation_bon'>
							<div class='sous_champs_validation_bon'>
                                <div data-intitule='validationTechnique'>
                                	{% if ent_bons.validationTechnique %}
                                		{% if ent_bons.validationTechnique.valide %}
                                			<img src="/bundles/lciboilerbox/images/picto/coche.svg" alt="coche validation"/>
                                		{% endif %}
                                	{% else %}
                                		&nbsp
                                	{% endif %}
                                </div>
                                <div data-intitule='validationPiece'>
                                	{% if ent_bons.validationPieceFaite %}
                                		{% if ent_bons.validationPieceFaite.valide %}
                                			<img src="/bundles/lciboilerbox/images/picto/coche.svg" alt="coche validation piece"/>
										{% else %}
											{% if ent_bons.validationPiece %}
                                        	    {% if ent_bons.validationPiece.valide %}
                                        	        <img src="/bundles/lciboilerbox/images/picto/pieceDemandee.svg" alt="demande de piece"/>
                                        	    {% endif %}
                                        	{% else %}
                                        	    &nbsp
                                        	{% endif %}
                                		{% endif %}
                                	{% else %}
										{% if ent_bons.validationPiece %}
											{% if ent_bons.validationPiece.valide %}
												<img src="/bundles/lciboilerbox/images/picto/pieceDemandee.svg" alt="demande de piece"/>
											{% endif %}										
										{% else %}
                                			&nbsp
										{% endif %}
                                	{% endif %}
                                </div>
                                <div data-intitule='validationSav'>
                                	{% if ent_bons.validationSAV %}
                                		{% if ent_bons.validationSAV.valide %}
                                			<img src="/bundles/lciboilerbox/images/picto/coche.svg" alt="coche validation sav"/>
                                		{% endif %}
                                	{% else %}
                                		&nbsp
                                	{% endif %}
                                </div>
                                <div data-intitule='validationFacturation'>
                                	{% if ent_bons.validationFacturation %}
                                		{% if  ent_bons.validationFacturation.valide %}
                                			<img src="/bundles/lciboilerbox/images/picto/coche.svg" alt="coche validation facturation"/>
                                		{% endif %}
                                	{% else %}
                                		&nbsp
                                	{% endif %}
                                </div>
                            </div>
						</div>
					</td>
					{# <td class='small cesure selectionnable centrer txt--center'>
						<img class="visu-bon-img" src="{{ asset('bundles/lciboilerbox/images/actions/visualiser.svg') }}"  >
                    </td> #}
                    <td class='small txt--center' data-intitule='enquete' data-identifiant="{{ ent_bons.id }}">
                    	{# Pour le secreteriat : Si aucune enquete n'est faite : Affichage d'une checkbox pour demander l'envoi d'une enquete
                    							 Si une enquete est déjà faite affichage de l'information : EnqueteFaite
                    	   Pour les autres : Affichage de l'information EnqueteFaite ou EnqueteNecessaire
                    	#}
                    	{% if is_granted('ROLE_SECRETERIAT') %}
                    		{% if ent_bons.enqueteFaite %}
                    			x
                    		{% else %}
                    			<input type='checkbox' onclick='setEnquete({{ ent_bons.id }})' {% if ent_bons.enqueteNecessaire %} checked {% endif %} />
                    		{% endif %}
                    	{% else %}
                    		{% if ent_bons.enqueteFaite %}
                    			x
                    		{% else %}
                    			{% if ent_bons.enqueteNecessaire %}
                    				-
                    			{% endif %}
                    		{% endif %}
                    	{% endif %}
                    </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="main-box--table__legend">
		<div>Bons d'interventions</div>
		<div>Tickets</div>
	</div>
	{% if is_granted('ROLE_SAISIE_BA') %}
		<div class="main-box__btn main-box--table__btn">
			<button class="btn btn--second" onClick="redirection('accueilBons'); return false;">Retour</button>
		</div>
	{% endif %}
</main>

<form method='post' name='form_affiche_bon' action={{ path('lci_bons_afficher_unbon') }}>
    <input type='hidden' id='id_bon' name='id_bon' />
</form>

<form method='post' name='form_affiche_ticket' action={{ path('affiche_ticket') }}>
    <input type='hidden' id='id_ticket' name='id_ticket' />
</form>


{% endblock fos_user_content %}

{% block javascript %}
<script type='text/javascript'>
	// Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .bons-interv').addClass('active');
    });

    // Search bar
    // Fonction pour changer la bordure de la barre de recherche en focus
    $(".search-bar__input").on('focus', function searchFocus(){
    	if(!$(this).parents(".search-bar").hasClass('search-bar--focus')){
    		$(this).parents(".search-bar").addClass("search-bar--focus");
    	}
    });
    $(".search-bar__input").on('blur', function searchBlur(){
    	if($(this).parents(".search-bar").hasClass("search-bar--focus")){
    		$(this).parents(".search-bar").removeClass("search-bar--focus");
    	}
    });

    // Fonction de recherche sur la page : On commence par rendre la fonction contains de jquery case-insensitive puis on declare la fonction de recherche
    jQuery.expr[':'].contains = function(a, i, m) {
        return jQuery(a).text().toUpperCase()
            .indexOf(m[3].toUpperCase()) >= 0;
    };
    $(function() {
        $('#js-search-bon').keyup(function(e) {
			rechercheOnPage();
        });
    });

	function rechercheOnPage() {
		var $content = $.trim($('#js-search-bon').val().replace(/e/g, '[éeèê]').replace(/a/g, '[a,â,à]').replace(/o/g, '[o,ô]'));
		$("#js-liste-bon tbody tr").hide().filter(function( index ) {
			var regex = new RegExp($content, 'i');
			return regex.test($(this).text());
		})
		.show();
	}

	/* Variables :  tableau , direction du tri, champs du tri */
	var tableau = new Array();
	var directionTri = 'asc';
	var choixTri = '';

    function compareNomDuSite(a, b) {
        if (a.nomDuSite == b.nomDuSite) {
            return 0;
        }
        if (directionTri == 'asc') {
            return (a.nomDuSite < b.nomDuSite )?-1:1;
        } else {
            return (a.nomDuSite < b.nomDuSite )?1:-1;
        }
    };

	function compareInitiateur(a, b) {
        if (a.initiateur == b.initiateur) {
            return 0;
        }
        if (directionTri == 'asc') {
            return (a.initiateur < b.initiateur )?-1:1;
        } else {
            return (a.initiateur < b.initiateur )?1:-1;
        }
    };


    function compareNomDuContact(a, b) {
        if (a.nomDuContact == b.nomDuContact) {
            return 0;
        }
        if (directionTri == 'asc') {
            return (a.nomDuContact < b.nomDuContact )?-1:1;
        } else {
            return (a.nomDuContact < b.nomDuContact )?1:-1;
        }
    };



    function compareSite(a, b) {
        if (a.site == b.site) {
            return 0;
        }
		if (directionTri == 'asc') { 
        	return (a.site < b.site )?-1:1;
		} else {
			return (a.site < b.site )?1:-1;
		}
    };

    function compareDateSignature(a, b) {
        if (a.dateSignature == b.dateSignature) {
            return 0;
        }
		if (directionTri == 'asc') {
        	return (a.dateSignature < b.dateSignature )?-1:1;
		} else {
			return (a.dateSignature < b.dateSignature )?1:-1;
		}
    };

/*
    function compareDateInitialisation(a, b) {
		alert(typeof(a.dateInitialisation));
		date1 = new Date(a.dateInitialisation);
		date2 = new Date(b.dateInitialisation);
		alert(typeof(date1));
		
        if (a.dateInitialisation == b.dateInitialisation) {
			return 0;
		}
		if (directionTri == 'asc') {
            return (a.dateInitialisation < b.dateInitialisation )?-1:1;
        } else {
            return (a.dateInitialisation < b.dateInitialisation )?1:-1;
        }
    };
*/
    function compareDateInitialisation(a, b) {
        date1 = new Date(a.dateInitialisation);
        date2 = new Date(b.dateInitialisation);
        if (date1 == date2) {
            return 0;
        }
        if (directionTri == 'asc') {
            return (date1 < date2)?-1:1;
        } else {
            return (date1 < date2)?1:-1;
        }
    };

    function compareDateDebutIntervention(a, b) {
        date1 = new Date(a.dateDebutIntervention);
        date2 = new Date(b.dateDebutIntervention);
        if (date1 == date2) {
            return 0;
        }
        if (directionTri == 'asc') {
            return (date1 < date2)?-1:1;
        } else {
            return (date1 < date2)?1:-1;
        }
    };


    function compareDateFinIntervention(a, b) {
        date1 = new Date(a.dateFinIntervention);
        date2 = new Date(b.dateFinIntervention);
        if (date1 == date2) {
            return 0;
        }
        if (directionTri == 'asc') {
            return (date1 < date2)?-1:1;
        } else {
            return (date1 < date2)?1:-1;
        }
    };




    function compareNumeroBA(a, b) {
        if (a.numeroBA == b.numeroBA) {
            return 0;
        }
		if (directionTri == 'asc') {
        	return (a.numeroBA < b.numeroBA )?-1:1;
		} else {
			return (a.numeroBA < b.numeroBA )?1:-1;
		}
    };

    function compareLabel(a, b) {
        if (a.label == b.label) {
            return 0;
        }
		if (directionTri == 'asc') {
        	return (a.label < b.label)?-1:1;
		} else {
			return (a.label < b.label)?1:-1;
		}
    };


    /* Enregistrement du tableau php dans un tableau javascript  pour le réaffichage après le tri*/
	/* parcours des lignes */
    function litTableauPhp() {
		tableau = new Array();
        $('#contenu_tableau_bons').children().each(function() {
            var ligne = new Object();
            /* parcours des colonnes */
            $(this).children().each(function() {
                switch ($(this).data('intitule')) {
                    case 'enquete':
						{% if is_granted('ROLE_SECRETERIAT') %}
							if ($(this).text().trim()) {
								ligne.enqueteNecessaire = null;
								ligne.enqueteFaite = 'x';
							} else {
                        		ligne.enqueteNecessaire = $(this).children().is(':checked');
								ligne.enqueteFaite = null;
							}
						{% else %}
							ligne.enquete = $(this).text().trim();
						{% endif %}
                        ligne.id = $(this).data('identifiant');
                        break;
                    case 'nomDuSite':
                        ligne.nomDuSite = $(this).text().trim();
                        break;
                    case 'nomDuContact':
                        ligne.nomDuContact = $(this).text().trim();
                        break;
					case 'initiateur':
						ligne.initiateur = $(this).text().trim();
                        break;
                    case 'site':
                        ligne.site = $(this).text().trim();
                        break;
                    case 'numeroBA':
                        ligne.numeroBA = $(this).text().trim();
                        break;
                    case 'label':
                        ligne.label = $(this).text().trim();
                        break;
                    case 'dateSignature':
                        ligne.dateSignature = $(this).text().trim();
                        break;
					case 'dateInitialisation':
						ligne.dateInitialisation = $(this).text().trim();
                        break;
                    case 'dateDebutIntervention':
                        ligne.dateDebutIntervention = $(this).text().trim();
                        break;
                    case 'dateFinIntervention':
                        ligne.dateFinIntervention = $(this).text().trim();
                        break;
					case 'validation':
						/* Faire une recherche pour chaque enfant */
						$(this).children().children().children().each(function() {
							switch ($(this).data('intitule')) {
								case 'validationTechnique':
									if ($(this).children().length === 0) {
										ligne.validationTechnique = '&nbsp';
									} else {
										ligne.validationTechnique = "<img src='/bundles/lciboilerbox/images/picto/coche.svg' alt='coche validation'/>"
									}
									break;	
                                case 'validationPiece':
                                    if ($(this).children().length === 0) {
                                    	ligne.validationPiece = '&nbsp';
                                    } else {
                                        ligne.validationPiece = "<img src='/bundles/lciboilerbox/images/picto/coche.svg' alt='coche validation'/>"
                                    }
                                    break;
                                case 'validationSav':
                                    if ($(this).children().length === 0) {
                                        ligne.validationSav = '&nbsp';
                                    } else {
                                        ligne.validationSav = "<img src='/bundles/lciboilerbox/images/picto/coche.svg' alt='coche validation'/>"
                                    }
                                    break;
                                case 'validationFacturation':
                                    if ($(this).children().length === 0) {
                                    	ligne.validationFacturation = '&nbsp';
                                    } else {
                                        ligne.validationFacturation = "<img src='/bundles/lciboilerbox/images/picto/coche.svg' alt='coche validation'/>"
                                    }
                                    break;
							}
						});
						break;
                }
            });
            tableau.push(ligne);
        });
    }


    function compare(quoi) {

 		var $srcImgVisualiser = $('.visu-bon-img').attr('src');

		litTableauPhp();
		/* Nouveau tableau des données triées */
		var nouveauTableau = '';

        /* Si on clic sur le même champs tri inverse */
        if (choixTri == quoi) {
            if (directionTri == 'asc') {
                directionTri = 'desc';
            } else {
                directionTri = 'asc';
            }
        } else {
			choixTri = quoi;
			directionTri = 'asc';
		}
        /* Si on clic sur le même champs tri inverse */
        switch(quoi) {
			case 'nomDuSite':
				 tableau.sort(compareNomDuSite);
                break;
            case 'nomDuContact':
                 tableau.sort(compareNomDuContact);
                break;
			case 'initiateur':
				tableau.sort(compareInitiateur);
				break;
            case 'site':
                tableau.sort(compareSite);
                break;
            case 'numeroBA':
                tableau.sort(compareNumeroBA);
                break;
            case 'label':
                tableau.sort(compareLabel);
                break;
            case 'dateSignature':
                tableau.sort(compareDateSignature);
                break;
			case 'dateInitialisation':
				tableau.sort(compareDateInitialisation);
                break;
            case 'dateDebutIntervention':
                tableau.sort(compareDateDebutIntervention);
                break;
            case 'dateFinIntervention':
                tableau.sort(compareDateFinIntervention);
                break;
        }

		/* Création du nouveau tableau */
		$.each(tableau, function(index, value){
			nouveauTableau += "<tr class='flex-table__row' onclick='afficherBonOuTicket(" + tableau[index]['id'] + ",\'" + tableau[index]['type'] + "\');'>";

			nouveauTableau += "<td class='medium' data-intitule='nomDuSite'>";
			nouveauTableau += tableau[index]['nomDuSite'];
			nouveauTableau += "</td>";

			nouveauTableau += "<td class='medium' data-intitule='nomDuContact'>";
			nouveauTableau += tableau[index]['nomDuContact'];
			nouveauTableau += "</td>";

			nouveauTableau += "<td class='small' data-intitule='dateDebutIntervention'>";
			nouveauTableau += tableau[index]['dateDebutIntervention'];
			nouveauTableau += "</td>";

			nouveauTableau += "<td class='small' data-intitule='dateFinIntervention'>";
			nouveauTableau += tableau[index]['dateFinIntervention'];
			nouveauTableau += "</td>";

			nouveauTableau += "<td class='mini centrer' data-intitule='site'>";
			nouveauTableau += tableau[index]['site'];
			nouveauTableau += "</td>";

            nouveauTableau += "<td class='mini' data-intitule='numeroBA'>";
            nouveauTableau += tableau[index]['numeroBA'];
            nouveauTableau += "</td>";

            nouveauTableau += "<td class='medium' data-intitule='initiateur'>";
            nouveauTableau += tableau[index]['initiateur'];
            nouveauTableau += "</td>";

            nouveauTableau += "<td class='small' data-intitule='dateInitialisation'>";
            nouveauTableau += tableau[index]['dateInitialisation'];
            nouveauTableau += "</td>";

            // nouveauTableau += "<td class='small' data-intitule='dateSignature'>";
            // nouveauTableau += tableau[index]['dateSignature'];
            // nouveauTableau += "</td>";

			if (tableau[index]['label']) {
            	nouveauTableau += "<td class='medium' data-intitule='label'>";
            	nouveauTableau += tableau[index]['label'];
            	nouveauTableau += "</td>";
			}

            nouveauTableau += "<td class='medium' data-intitule='validation'>";
			nouveauTableau += "<div class='champs_validation_bon'>";
			nouveauTableau += "<div class='sous_champs_validation_bon'>";
			nouveauTableau += "<div data-intitule='validationTechnique'>" + tableau[index]['validationTechnique'] + "</div>";
            nouveauTableau += "<div data-intitule='validationPiece'>" + tableau[index]['validationPiece'] + "</div>";
            nouveauTableau += "<div data-intitule='validationSav'>" + tableau[index]['validationSav'] + "</div>";
			nouveauTableau += "<div data-intitule='validationFacturation'>" + tableau[index]['validationFacturation'] + "</div>";
			nouveauTableau += "</div>";
            nouveauTableau += "</td>";
	

			nouveauTableau += "<td class='small txt--center' data-intitule='enquete' data-identifiant='" + tableau[index]['id'] + "'>";
			{% if is_granted('ROLE_SECRETERIAT') %}
				if (tableau[index]['enqueteFaite']) {
					nouveauTableau += "x";
				} else {
					nouveauTableau += "<input type='checkbox' onclick='setEnquete(" + tableau[index]['id'] + ")'";
					if (tableau[index]['enqueteNecessaire']) {
						 nouveauTableau += " checked "
					}
					nouveauTableau += "/>";
				}
			{% else %}
                nouveauTableau += tableau[index]['enquete'];
			{% endif %}
			nouveauTableau += "</td>";
			nouveauTableau += "</tr>";
		});
		$('#contenu_tableau_bons').html(nouveauTableau);
    }

	/* Fontion qui modifie la variable enqueteNecessaire d'un bon */
	function setEnquete($idBon) {
		if (!e) var e = window.event;
		    e.cancelBubble = true;
		    if (e.stopPropagation) e.stopPropagation();
        $.ajax({
            url: "{{ path('lci_ajax_bons_setEnquete') }}",
            method: "post",
            data: {'identifiant':$idBon}
        }).done(function(msg){
            alert('done ' + msg);
        }).error(function(msg){
            alert('error ' + msg);
        });
	}


	function afficherBonOuTicket($idBonTicket, $type) {
		if ($type == 'bon')
		{
			afficherLeBon($idBonTicket, $type);
		} else {
			afficherLeTicket($idBonTicket, $type);
		}
	}

	function afficherLeBon($idBon, $type) {
		$('#id_bon').val($idBon);
		document.forms['form_affiche_bon'].submit();
	}

    function afficherLeTicket($idTicket, $type) {
        $('#id_ticket').val($idTicket);
        document.forms['form_affiche_ticket'].submit();
    }


	/* Fonction qui réinitialise les filtres de recherches */
	function refeshResearch() {
		attente(); 
		redirection('bonsVisualiserRefresh');
	}


</script>
{% endblock javascript %}
