{# src/Lci/BoilerBoxBundle/Resources/views/Bons/form_recherche_bons.html.twig #}

{% extends "LciBoilerBoxBundle::secondBonsLayoutLogged.html.twig" %}

{% block title %}{{ parent() }} Recherche de bons d'interventions{% endblock title %}

{% block class_menu_boiler %} elargir {% endblock class_menu_boiler %}


{# Thème personnel utilisé pour l'affichage des messages d'erreurs #}
{% form_theme form 'templates/form/fields.html.twig' %}

{% block boilerBoxCSS %}
	{{ parent() }}
	<style>
		body > form{
			padding: 8px;
		}
		.champs_recherche_select {
			height : 20px; 
			width : 200px; 
			border : 1px dashed black;'
		}
		.flex_pour_champs_recherche {
			display: flex; 
			justify-content: space-between;
			align-items: center;
		}
	</style>
{% endblock boilerBoxCSS %}

{% block mainBody %}
<header class="sub-header sub-header--blue">
	<h1 class="sub-header__title">Bon d'inteventions</h1>
</header>

{{ form_start(form, {'action':path('lci_bons_rechercher'), 'method':'POST', 'name':'myForm' } ) }}
{{ form_errors(form) }}
<section class="info">
	<h1 class="info__title">Recherche</h1>
</section>
<main class="content">
	<section class="content__brick">
		<fieldset class="fieldset">
			<h2 class="fieldset__title">Type</h2>
			<div class='form__field form__field--double'>
				<div>
					{{ form_label(form.numeroBA) }}
					{{ form_widget(form.numeroBA) }}
					{{ form_errors(form.numeroBA) }}
				</div>
				<div>
					{{ form_label(form.type) }}
                    {{ form_widget(form.type) }}
                    {{ form_errors(form.type) }}
				</div>
			</div>
			<div class="form__field">
				{{ form_label(form.saisie) }}
				{{ form_widget(form.saisie) }}
				{{ form_errors(form.saisie) }}
			</div>
		</fieldset>


		<fieldset class="fieldset">
			<h2 class="fieldset__title">Informations</h2>
			<div class="form__field form__field--double">
				<div>
					<div class='flex_pour_champs_recherche'>
						{{ form_label(form.site) }}
						<input type='text' id='search_select_site' class='champs_recherche_select' onkeyup="rechercheDansSelect('search_select_site', 'obj_recherche_bons_attachement_site');" />
					</div>
					{{ form_widget(form.site) }}
					{{ form_errors(form.site) }}
				</div>
				<div>
					{{ form_label(form.numeroAffaire) }}
					{{ form_widget(form.numeroAffaire) }}
					{{ form_errors(form.numeroAffaire) }}
				</div>
			</div>
			<div class="form__field form__field--double champs_pour_bons">
				<div>
                    {{ form_label(form.service) }}
                    {{ form_widget(form.service) }}
                    {{ form_errors(form.service) }}
				</div>
				<div>
                    {{ form_label(form.typeIntervention) }}
                    {{ form_widget(form.typeIntervention) }}
                    {{ form_errors(form.typeIntervention) }}
				</div>
			</div>
			<div class="form__field form__field--double">
				<div>
					<div class='flex_pour_champs_recherche'>
						{{ form_label(form.userInitiateur) }}
						<input type='text' id='search_select_initiateur' class='champs_recherche_select' onkeyup="rechercheDansSelect('search_select_initiateur', 'obj_recherche_bons_attachement_userInitiateur');" />
					</div>
					{{ form_widget(form.userInitiateur) }}
					{{ form_errors(form.userInitiateur) }}
				</div>
				<div>
					<div class='flex_pour_champs_recherche'>
						{{ form_label(form.user) }}
						<input type='text' id='search_select_intervenant' class='champs_recherche_select' onkeyup="rechercheDansSelect('search_select_intervenant', 'obj_recherche_bons_attachement_user');" />
					</div>
					{{ form_widget(form.user) }}
					{{ form_errors(form.user) }}
				</div>
			</div>
            <div class="form__field form__field--double champs_pour_bons">
                <div>
                </div>
                <div>
                    {{ form_label(form.sansIntervenant) }}
                    {{ form_widget(form.sansIntervenant) }}
                    {{ form_errors(form.sansIntervenant) }}
                </div>
            </div>
			<div class="form__field form__field--double">
				<div>
					{{ form_label(form.dateMinInitialisation) }}
					{{ form_widget(form.dateMinInitialisation) }}
					{{ form_errors(form.dateMinInitialisation) }}
					
				</div>
				<div>
					{{ form_label(form.dateMaxInitialisation) }}
					{{ form_widget(form.dateMaxInitialisation) }}
					{{ form_errors(form.dateMaxInitialisation) }}
				</div>
			</div>
		</fieldset>
	</section>
	<section class="content__brick">
		<fieldset class="fieldset">
			<h2 class="fieldset__title">Planning</h2>
			<div class="form__field form__field--double">
				<div>
					{{ form_label(form.dateMinIntervention) }}
					{{ form_widget(form.dateMinIntervention) }}
					{{ form_errors(form.dateMinIntervention) }}
				</div>
				<div>
					{{ form_label(form.dateMaxIntervention) }}
					{{ form_widget(form.dateMaxIntervention) }}
					{{ form_errors(form.dateMaxIntervention) }}
				</div>
			</div>
			<div class="form__field form__field--double">
				<div>
					{{ form_label(form.dateMin) }}
					{{ form_widget(form.dateMin) }}
					{{ form_errors(form.dateMin) }}
				</div>
				<div>
					{{ form_label(form.dateMax) }}
					{{ form_widget(form.dateMax) }}
					{{ form_errors(form.dateMax) }}
				</div>
			</div>
		</fieldset>

		<fieldset class="fieldset">
			<div class='flex_pour_champs_recherche'>
            	<h2 class="fieldset__title">Contact</h2>
				<input type='text' id='search_select_contact' class='champs_recherche_select' onkeyup="rechercheDansSelect('search_select_contact', 'select_contact');" />
			</div>
            <div class="form__field">
				<select id='select_contact'></select>
            </div>
			<div class="form__field">
                {{ form_label(form.nomDuContact) }}
                {{ form_widget(form.nomDuContact) }}
                {{ form_errors(form.nomDuContact) }}
            </div>
        </fieldset>

		<fieldset class="fieldset">
			<h2 class="fieldset__title">Équipement</h2>
			<div class="form__field">
				<label>Équipement concerné</label>
				<input type="text"/>
			</div>
		</fieldset>
	</section>
	<section class="content__brick">
		<fieldset class="fieldset">
			<h2 class="fieldset__title">Validation</h2>
			<div class="form__field">
				{{ form_label(form.valideur) }}
				{{ form_widget(form.valideur) }}
			</div>
			<div class='form__field'>
				<label>Validité</label>
				{{ form_widget(form.sensValidation) }}
				<div id='checkbox_validation' style="margin-top:16px;">
					<div>{{ form_widget(form.validationTechnique) }}</div>
					<div>{{ form_widget(form.validationPiece) }}</div>
					<div>{{ form_widget(form.validationPieceFaite) }}</div>
					<div>{{ form_widget(form.validationSAV) }}</div>
                	<div>{{ form_widget(form.validationFacturation) }}</div>
				</div>
			</div>
		</fieldset>
    	<div class="main-content__btn">
    	    <button class="btn_menu btn btn--second" onClick="attente(); redirection('bonsVisualiser'); return false;">Retour</button>
    	    <button class="btn_menu btn btn--main" onClick="attente(); document.forms['myForm'].submit(); return false;">Rechercher</button>
    	    <button class="btn_menu btn btn--second" onClick="attente(); resetRecherche(); return false;">Reset</button>
    	</div>
	</section>
</main>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock mainBody %}

{% block javascript %}
<script type='text/javascript'>


// Fonction style barre de navigation page active
$(window).on('load', function pageActive(){
	$('.side-nav .bons-interv').addClass('active');
});
    $(document).ready(function(){

        /* Mise en place de l'objet datepicker */
		$("#obj_recherche_bons_attachement_dateMin" ).datepicker({ dateFormat: 'dd/mm/yy' });
		$("#obj_recherche_bons_attachement_dateMax" ).datepicker({ dateFormat: 'dd/mm/yy' });
        $("#obj_recherche_bons_attachement_dateMinInitialisation" ).datepicker({ dateFormat: 'dd/mm/yy' });
        $("#obj_recherche_bons_attachement_dateMaxInitialisation" ).datepicker({ dateFormat: 'dd/mm/yy' });

        $("#obj_recherche_bons_attachement_dateMinIntervention" ).datepicker({ dateFormat: 'dd/mm/yy' });
        $("#obj_recherche_bons_attachement_dateMaxIntervention" ).datepicker({ dateFormat: 'dd/mm/yy' });



		$('#obj_recherche_bons_attachement_sensValidation_0').click(function() {
			selectionValideur(true);
			$('#checkbox_validation').addClass('cacher');
		});
		$('#obj_recherche_bons_attachement_sensValidation_1').click(function() {
            selectionValideur(true);
			$('#checkbox_validation').removeClass('cacher');
        });
		$('#obj_recherche_bons_attachement_sensValidation_2').click(function() {
			selectionValideur(false);
			$('#checkbox_validation').removeClass('cacher');
        });

		$('#obj_recherche_bons_attachement_sensValidation_0').trigger("click");

		// Selection de bons, tickets ou tous : On affiche ou cache les champs spécifiques aux bons
		$('#obj_recherche_bons_attachement_type').change(function()
		{
			if ($('#obj_recherche_bons_attachement_type').val() == 'ticket')
			{
				$('.champs_pour_bons').addClass('cacher');
			} else {
				$('.champs_pour_bons').removeClass('cacher');
			}
		});




		// Modification du select contact lors du select du site
		$('#obj_recherche_bons_attachement_site').change(function()
        {

			// Sauvegarde de l'id de l'ancien contact selectionné
			var id_ancien_contact_selectionne = $('#obj_recherche_bons_attachement_nomDuContact').val();

			// Remise à empty du champs contact du formulaire de recherche
			$('#obj_recherche_bons_attachement_nomDuContact').val('');

			// On réinitalise le select contact
            $('#select_contact').html("<option value=''></option>");
			if ($('#obj_recherche_bons_attachement_site').val() != '')
			{
				// Selection d'un site
				var $id_site_ba = this.value;
                var $url = "{{ path('lci_ajax_bons_get_siteBA') }}";
                $.ajax({
                    url: $url,
                    method: "post",
                    data: {'id_site_ba':$id_site_ba},
                    success: function(msg)
                    {
                        var siteBA = $.parseJSON(msg);

                        // On ré initialise le select contact
						html_option = "<option value=''>Tous</option>";
                        $.each(siteBA.contacts, function(index, contact)
                        {
                            html_option += "<option value='" + contact.id + "'>" + contact.nom + "</option>";
                        });

						// On redefini le select
                        $('#select_contact').html(html_option);

            			// On reselectionne le contact précédemment selectionné
            			if (id_ancien_contact_selectionne != '')
            			{
                			if ($("#select_contact option[value='" + id_ancien_contact_selectionne + "']").length != 0)
                			{
                    			$("#select_contact").val(id_ancien_contact_selectionne);
								$('#obj_recherche_bons_attachement_nomDuContact').val(id_ancien_contact_selectionne);				
                			} 
            			}
					}, 
					error: function(data)
					{			
						alert('Erreur de récupération du site sélectionné');
					}
				});
			} else {
				// Si "tous les sites" est selectionné : Affichage de tous les contacts
				$.ajax({
					url: "{{ path('lci_ajax_bon_get_infos_contacts') }}",
					method: 'POST',
					data: {'id_contact':null},
					success: function(data)
					{
						es_contacts = $.parseJSON(data);

						html_option = "<option value=''>Tous</option>";
						$(es_contacts).each(function()
						{
							html_option += "<option value='" + this.id + "'>" + this.nom + "</option>";
						});

						// On redefini le select
						$('#select_contact').html(html_option);


                        // On reselectionne le contact précédemment selectionné
                        if (id_ancien_contact_selectionne != '')
                        {
                            if ($("#select_contact option[value='" + id_ancien_contact_selectionne + "']").length != 0)
                            {
                                $("#select_contact").val(id_ancien_contact_selectionne);
								$('#obj_recherche_bons_attachement_nomDuContact').val(id_ancien_contact_selectionne);
                            }
                        }
					},
					error: function(data) {
						alert(data);
					}
				});	
			}	
		});


		// Lors de la selection de la case à cocher Sans Intervenant 
		$('#obj_recherche_bons_attachement_sansIntervenant').click(function() 
		{
			if ($(this).prop('checked') === true)
			{
				$('#obj_recherche_bons_attachement_user').val('');
				$('#obj_recherche_bons_attachement_user').prop('disabled', 'disabled');	
				
			} else {
				$('#obj_recherche_bons_attachement_user').prop('disabled', false);
			}
		});

		// On active le listener au chargement de la page html
		$('#obj_recherche_bons_attachement_site').trigger('change');


		// On place l'id du contact selectionné dans le champs du formulaire de recherche
		$('#select_contact').change(function() 
		{
			$('#obj_recherche_bons_attachement_nomDuContact').val($('#select_contact').val());
		});


	// Fin du ready
    });

	// Reset les champs du formulaire de recherche
	function resetRecherche()
	{
		location.href = "{{ path('lci_bon_rechecher_reset') }}";			
	}


	// Lors de la selection d'un choix bons validés ou bons non validés, on autorise ou pas la selection du valideur
	function selectionValideur($sens) {
		if ($sens == false) {
			$('#obj_recherche_bons_attachement_valideur').prop('disabled', true);
			$('#obj_recherche_bons_attachement_valideur :nth-child(1)').prop('selected', 'selected');
		} else {
			$('#obj_recherche_bons_attachement_valideur').prop('disabled', false);
		}
	}
</script>
{% endblock javascript %}
