{# src/Lci/BoilerBoxBundle/Resources/views/Bons/form_recherche_bons.html.twig #}

{% extends "LciBoilerBoxBundle::secondBonsLayout.html.twig" %}

{% block title %}{{ parent() }} Recherche de bons d'interventions{% endblock title %}

{% block class_menu_boiler %} elargir {% endblock class_menu_boiler %}


{# Thème personnel utilisé pour l'affichage des messages d'erreurs #}
{% form_theme form 'templates/form/fields.html.twig' %}


{% block fos_user_content %}
<header class="sub-header sub-header--blue">
	<h1 class="sub-header__title">Bon d'inteventions</h1>
</header>
<main class='main-box'>
	<h1 class="main-box__title">Recherche</h1>
	<div class='main-box__content' >
    	{{ form_start(form, {'action':path('lci_bons_rechercher'), 'method':'POST', 'name':'myForm', 'class':'form' }) }}
    	{{ form_errors(form) }}
			<div class='form__field'>
				{{ form_label(form.numeroBA) }}
				{{ form_widget(form.numeroBA) }}
				{{ form_errors(form.numeroBA) }}
			</div>
			<div class="form__field">
				{{ form_label(form.saisie) }}
				{{ form_widget(form.saisie) }}
				{{ form_errors(form.saisie) }}
			</div>
			<div class="form__field">
				{{ form_label(form.userInitiateur) }}
				{{ form_widget(form.userInitiateur) }}
				{{ form_errors(form.userInitiateur) }}
			</div>
			<div class="form__field form__field--double">
				<div>
					{{ form_label(form.dateMinInitialisation) }}
					{{ form_widget(form.dateMinInitialisation) }}
					{{ form_errors(form.dateMinInitialisation) }}
				</div>
				<div>
					{{ form_label(form.dateMaxInitialisation) }}
					{{ form_widget(form.dateMaxInitialisation) }}
					{{ form_errors(form.dateMaxInitialisation) }}
				</div>
			</div>
            <div class="form__field">
            	{{ form_label(form.user) }}
            	{{ form_widget(form.user) }}
            	{{ form_errors(form.user) }}
            </div>
            <div class="form__field">
            	{{ form_label(form.site) }}
            	{{ form_widget(form.site) }}
            	{{ form_errors(form.site) }}
            </div>
            <div class="form__field form__field--double">
            	<div>
            		{{ form_label(form.dateMinIntervention) }}
            		{{ form_widget(form.dateMinIntervention) }}
            		{{ form_errors(form.dateMinIntervention) }}
            	</div>
            	<div>
            		{{ form_label(form.dateMaxIntervention) }}
            		{{ form_widget(form.dateMaxIntervention) }}
            		{{ form_errors(form.dateMaxIntervention) }}
            	</div>
            </div>
            <div class="form__field">
            	{{ form_label(form.numeroAffaire) }}
            	{{ form_widget(form.numeroAffaire) }}
            	{{ form_errors(form.numeroAffaire) }}
            </div>
            <div class="form__field form__field--double">
            	<div>
            		{{ form_label(form.dateMin) }}
            		{{ form_widget(form.dateMin) }}
            		{{ form_errors(form.dateMin) }}
            	</div>
            	<div>
            		{{ form_label(form.dateMax) }}
            		{{ form_widget(form.dateMax) }}
            		{{ form_errors(form.dateMax) }}
            	</div>
            </div>
            <div class="form__field">
            	{{ form_label(form.nomDuContact) }}
            	{{ form_widget(form.nomDuContact) }}
            	{{ form_errors(form.nomDuContact) }}
            </div>
			<div class='ligne_error'></div>
			<div class='form__field'>
				{{ form_label(form.sensValidation) }}
			</div>
			<div class='form__field'>
				{{ form_widget(form.sensValidation) }}
				<div id='checkbox_validation' style="margin-top:16px;">
					<div>{{ form_widget(form.validationTechnique) }}</div>
					<div>{{ form_widget(form.validationHoraire) }}</div>
					<div>{{ form_widget(form.validationSAV) }}</div>
                	<div>{{ form_widget(form.validationFacturation) }}</div>
				</div>
			</div>
            <div class="form__field">
            	{{ form_label(form.valideur) }}
            	{{ form_widget(form.valideur) }}
            </div>
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>

	<div class='form__btn notToBePrinted'>
		<button class="btn_menu btn btn--second" onClick="attente(); redirection('bonsVisualiser'); return false;">Retour</button>
	    <button class="btn_menu btn btn--main" onClick="attente(); document.forms['myForm'].submit(); return false;">Rechercher</button>
	</div>
</main>
{% endblock fos_user_content %}

{% block javascript %}
<script type='text/javascript'>
    $(document).ready(function(){
        /* Mise en place de l'objet datepicker */
		$("#obj_recherche_bons_attachement_dateMin" ).datepicker({ dateFormat: 'dd/mm/yy' });
		$("#obj_recherche_bons_attachement_dateMax" ).datepicker({ dateFormat: 'dd/mm/yy' });
        $("#obj_recherche_bons_attachement_dateMinInitialisation" ).datepicker({ dateFormat: 'dd/mm/yy' });
        $("#obj_recherche_bons_attachement_dateMaxInitialisation" ).datepicker({ dateFormat: 'dd/mm/yy' });

        $("#obj_recherche_bons_attachement_dateMinIntervention" ).datepicker({ dateFormat: 'dd/mm/yy' });
        $("#obj_recherche_bons_attachement_dateMaxIntervention" ).datepicker({ dateFormat: 'dd/mm/yy' });



		$('#obj_recherche_bons_attachement_sensValidation_0').click(function() {
			selectionValideur(true);
			$('#checkbox_validation').addClass('cacher');
		});
		$('#obj_recherche_bons_attachement_sensValidation_1').click(function() {
            selectionValideur(true);
			$('#checkbox_validation').removeClass('cacher');
        });
		$('#obj_recherche_bons_attachement_sensValidation_2').click(function() {
			selectionValideur(false);
			$('#checkbox_validation').removeClass('cacher');
        });

		$('#obj_recherche_bons_attachement_sensValidation_0').trigger("click");

    });


	// Lors de la selection d'un choix bons validés ou bons non validés, on autorise ou pas la selection du valideur
	function selectionValideur($sens) {
		if ($sens == false) {
			$('#obj_recherche_bons_attachement_valideur').prop('disabled', true);
			$('#obj_recherche_bons_attachement_valideur :nth-child(1)').prop('selected', 'selected');
		} else {
			$('#obj_recherche_bons_attachement_valideur').prop('disabled', false);
		}
	}
</script>
{% endblock javascript %}
